@model Domain.ViewModels.SiteSide.SitSideBar.SiteSideBarViewModel
@using Application.StaticTools

<!-- <nav class="h-[96px] md:h-[96px] lg:h-[104px] w-full bg-slate-300"></nav> -->

<nav class="bg-white navbar dark:bg-gray-900 w-full  dark:border-gray-600 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto">
    <div class="flex flex-wrap items-center justify-between mx-auto py-4">
        <div class="flex items-center">
            <a href="#"
               class="showMenu inline-block md:inline-block lg:hidden"
               type="button"
               data-drawer-target="drawer-navigation"
               data-drawer-show="drawer-navigation"
               aria-controls="drawer-navigation">

               @* <img class="w-7 h-7 md:w-7 md:h-7 lg:w-8 lg:h-8" src="~/arefset/src/assets/images/landing/menu.png" />*@

                <svg class="w-7 h-7 md:w-7 md:h-7 lg:w-8 lg:h-8"
                     aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            <div class="bg-black opacity-0 invisible bg-opacity-50 z-[5000000] transition-all menu fixed top-0 left-0 right-0 overflow-hidden flex justify-start items-start">
                <div class="z-40 w-72 h-screen p-4 overflow-y-auto transition-all bg-[#252525] dark:bg-gray-800"
                     id="drawer-navigation"
                     tabindex="-1"
                     aria-labelledby="drawer-navigation-label">
                    <h5 id="drawer-navigation-label"
                        class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
                        Aref
                    </h5>
                    <a href="#"
                       type="button"
                       data-drawer-hide="drawer-navigation"
                       aria-controls="drawer-navigation"
                       class="text-gray-400 hideMenu bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 left-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg aria-hidden="true"
                             class="w-5 h-5"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close menu</span>
                    </a>
                    <div class="py-4 overflow-y-auto">
                        <form id="Searchfiltre" asp-action="ListOfProducts" asp-area="" asp-controller="Products" method="get">

                            <div class="flex md:order-2 mb-3">
                                <div class="w-full h-[44px] border-[1px] border-gray-600 flex justify-start items-center gap-1">
                                    <input type="search" name="ProductTitle"
                                           class="h-full w-full focus:outline-none bg-transparent px-1"
                                           placeholder="جستجو کنید ..."
                                           id="" />
                                    <div id="SearchIcon"
                                         class="w-[54px] h-full flex justify-center items-center bg-[#D92626]">
                                       @* <img src="/ArefSet/src/assets/images/landing/search-normal.png"
                                             class="w-[50%]"
                                             alt="search icon"
                                             title="جستجو کنید " />*@
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.58366 17.5C13.9559 17.5 17.5003 13.9555 17.5003 9.58329C17.5003 5.21104 13.9559 1.66663 9.58366 1.66663C5.2114 1.66663 1.66699 5.21104 1.66699 9.58329C1.66699 13.9555 5.2114 17.5 9.58366 17.5Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M18.3337 18.3333L16.667 16.6666" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <ul class="space-y-2 font-medium mt-5">
                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a 
                                   href="/"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">صفحه اصلی</span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>

                            @if (Model.ListOfProductCategoriesForShowInSiteSideBar != null && Model.ListOfProductCategoriesForShowInSiteSideBar.Any())
                            {
                                foreach (var categories in Model.ListOfProductCategoriesForShowInSiteSideBar)
                                {
                                    <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                        <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@categories.CategoryId"
                                           class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                            <span class="flex-1 ml-3 whitespace-nowrap">
                                                @categories.CategoryTitle
                                            </span>
                                            <span class="inline-flex items-center justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="bi bi-arrow-left text-white"
                                                     viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                                </svg>
                                                <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                            </span>
                                            <!-- <span class="inline-flex items-center justify-center px-2  text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> -->
                                        </a>
                                    </li>

                                }
                            }

                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a asp-action="ListOfBlogs" asp-area="" asp-controller="Blog"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">
                                        وبلاگ
                                    </span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>

                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a asp-action="AboutUs" asp-area="" asp-controller="Home"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">
                                        درباره ی ما
                                    </span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>

                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a asp-action="ContactUs" asp-area="" asp-controller="Home"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">
                                        تماس با ما
                                    </span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- logo -->
            <a href="@PathTools.SiteAddress" class="flex items-center">
               @* <img src="/ArefSet/src/assets/images/landing/Arefset 1.png"
                     class="lg:w-[94px] md:w-[80px] w-[73px] mr-3"
                     alt="Arefset Logo" />*@
                <svg class="lg:w-[94px] md:w-[80px] w-[73px] mr-3" width="73" height="25" viewBox="0 0 73 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_121_488)">
                        <path d="M0 25C0.551548 24.0097 1.09954 23.0194 1.65286 22.0326L10.3335 6.5272L13.8278 0.282945L13.9897 0C14.0307 0.07781 14.0609 0.129094 14.0858 0.176841L24.688 23.4102C24.9252 23.9372 25.1624 24.4677 25.3997 25.0018H20.6243C20.6067 24.9346 20.5853 24.8685 20.5603 24.8037C18.4573 20.1929 16.3537 15.5797 14.2495 10.9641L13.5218 9.37257C13.4453 9.49813 13.3866 9.59185 13.3332 9.68911C10.6051 14.557 7.87705 19.4272 5.14896 24.2997C5.01908 24.5314 4.90522 24.7719 4.78423 25.0071L0 25Z" fill="#252525" />
                        <path d="M28.8652 25.0001C28.6873 24.6128 28.5325 24.222 28.3546 23.8382C26.6288 20.1328 24.9024 16.431 23.1754 12.7326C23.1523 12.6814 23.1327 12.6318 23.0971 12.5558H23.3711C24.6432 12.5558 25.9189 12.5806 27.191 12.5363C29.0556 12.4727 30.7494 10.9289 31.0465 9.09148C31.2403 8.00307 30.9939 6.88263 30.3608 5.97389C29.7278 5.06515 28.7593 4.44163 27.6661 4.23897C27.3725 4.18717 27.0746 4.16348 26.7765 4.16823C24.3864 4.16823 21.9958 4.16823 19.6046 4.16823C19.5265 4.17906 19.4471 4.16258 19.3799 4.12161C19.3127 4.08064 19.2619 4.01772 19.2363 3.94364C18.7363 2.85077 18.2186 1.76496 17.708 0.677392C17.6724 0.603119 17.6404 0.525309 17.5977 0.426278C17.6884 0.426278 17.756 0.413899 17.8236 0.413899C20.8269 0.413899 23.8284 0.413899 26.8316 0.413899C28.711 0.397009 30.5363 1.03899 31.9867 2.22705C33.4371 3.41511 34.4198 5.07322 34.7622 6.91004C35.1047 8.74685 34.7848 10.6449 33.8589 12.2705C32.9331 13.8962 31.4604 15.1456 29.6997 15.7991L29.4826 15.8857C30.8775 18.9403 32.2682 21.985 33.6548 25.0195L28.8652 25.0001Z" fill="#252525" />
                        <path d="M54.7417 25C54.729 24.9162 54.7207 24.8318 54.7168 24.7471C54.7168 20.088 54.7168 15.4312 54.7168 10.7767C54.7168 10.7077 54.7257 10.6388 54.731 10.5557H72.9997V14.8847H59.0972V25H54.7417Z" fill="#252525" />
                        <path d="M36.423 25.0001C36.0897 24.2597 35.7564 23.5193 35.4231 22.7789C35.1278 22.1282 34.8289 21.4792 34.5335 20.8337C34.5068 20.7789 34.4873 20.7205 34.457 20.6462H52.2489V24.7914C52.2489 24.8621 52.2489 24.9329 52.2596 25.0036L36.423 25.0001Z" fill="#252525" />
                        <path d="M72.9646 0.413818V4.75349H72.7333C60.872 4.75349 49.0108 4.75349 37.1495 4.75349C37.0817 4.76358 37.0125 4.74764 36.956 4.70889C36.8995 4.67014 36.8599 4.61149 36.8453 4.54482C36.2869 3.0418 35.401 1.68005 34.2513 0.55706C34.2121 0.518155 34.1748 0.477481 34.1143 0.413818H72.9646Z" fill="#252525" />
                        <path d="M52.2437 10.5433V14.8759H35.3682C35.3918 14.8297 35.4179 14.7849 35.4464 14.7415C36.3261 13.5374 36.9469 12.1661 37.2701 10.7131C37.3021 10.5734 37.3502 10.5362 37.4925 10.5362C42.3556 10.5362 47.2223 10.5362 52.0925 10.5362C52.1299 10.5345 52.1761 10.5398 52.2437 10.5433Z" fill="#252525" />
                    </g>
                    <defs>
                        <clipPath id="clip0_121_488">
                            <rect width="73" height="25" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>

        <!-- sm / md -->

        <div class="flex md:order-2 gap-2">
            <form id="Searchfiltre1" asp-action="ListOfProducts" asp-area="" asp-controller="Products" method="get">
                <div class="hidden md:hidden lg:w-[250px] lg:h-[44px] border-[1px] border-[#B7B7B7] lg:flex justify-start items-center">
                    <img id="SearchIcon1" src="/ArefSet/src/assets/images/landing/search-icon.webp"
                         class="w-5 text-[#252525] mx-3"
                         alt="" />
                    <input name="ProductTitle" type="text"
                           class="h-full w-full focus:outline-none"
                           placeholder="جستجو کنید ..."
                           id="" />
                </div>
            </form>

            <div class="shoppingBag relative">

            <a asp-area="" asp-action="ShopCart" asp-controller="Order" class=" w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center">
               @* <img src="/ArefSet/src/assets/images/landing/Shopping bag 1.png" alt="" />*@
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9751 16.0441L19.9914 6.73557C19.7715 4.65631 18.0182 3.07812 15.9273 3.07812H8.06656C5.97466 3.07812 4.22037 4.65728 4.00243 6.73751L3.02458 16.047C2.75117 18.6516 4.79346 20.9197 7.41175 20.9197H16.5879C19.2082 20.9197 21.2504 18.6497 20.9751 16.0441Z" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.0973 7.70312C15.0973 9.41363 13.7108 10.8011 11.9993 10.8011C10.2888 10.8011 8.90234 9.41363 8.90234 7.70312" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </a>

            @* ------------------------------- shop box ------------------------------------ *@

                <div style="width:300px;gap: 11px;box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);" class="shopBox absolute left-0  w-[300px]  bg-white p-5 hidden lg:inline-block">
                    
                    @*<div style="width:100%;padding:15px 0;" class="w-full flex justify-between items-center border-b-[1px] border-[#ebebeb] py-[15px] gap-4">
                        <div class="text-right" style="width: 171px;text-align:start">

                            <h4 class="text-[13px] text-[#666] text-left mb-[0.4rem] text-start" style="text-align: start;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
                              <a href="#">

                                کتونی ورزشی مخصوص دویدن رنگ بژ 
                              </a>
                            </h4>
                            <span class="text-[13px] text-[#999] text-left">
                                <span class="cart-product-qty"> 1 x </span>
                                84,000 تومان
                            </span>
                        </div>
                        <figure style="width:60px;height:60px;display:inline-block" class="inline-block w-[60px] h-[60px]">
                            <img alt="product img" style="width:100%;height:100%;" class="w-[60px] h-[60px] object-cover" src="/ArefSet/src/assets/images/landing/men.png">
                        </figure>
                        <button class="w-[2.4rem] h-[2.4rem] inline-flex items-center justify-center text-[#ccc] hover:text-[#252525]">
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M18.8499 9.14001L18.1999 19.21C18.0899 20.78 17.9999 22 15.2099 22H8.7899C5.9999 22 5.9099 20.78 5.7999 19.21L5.1499 9.14001" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.3301 16.5H13.6601" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9.5 12.5H14.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                        </button>
                    </div>

                    <div style="width:100%;padding:15px 0;" class="w-full flex justify-between items-center border-b-[1px] border-[#ebebeb]  py-[15px] gap-4">
                        <div class="text-right" style="width: 171px;text-align:start">

                            <h4 class="text-[13px] text-[#666] text-left mb-[0.4rem] text-start" style="text-align: start;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
                                <a href="#">

                                dtrdtrdtrdtrddrtd تی شرت آستین کوتاه مردانه زگماک مدل Love Iran
                                </a>
                            </h4>
                            <span class="text-[13px] text-[#999] text-left">
                                <span class="cart-product-qty"> 1 x </span>
                                84,000 تومان
                            </span>
                        </div>
                        <figure style="width:60px;height:60px;display:inline-block" class="inline-block w-[60px] h-[60px]">
                            <img alt="product img" style="width:100%;height:100%;" class="w-[60px] h-[60px] object-cover" src="/ArefSet/src/assets/images/landing/men.png">
                        </figure>
                        <button class="w-[2.4rem] h-[2.4rem] inline-flex items-center justify-center text-[#ccc] hover:text-[#252525]"> 
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M18.8499 9.14001L18.1999 19.21C18.0899 20.78 17.9999 22 15.2099 22H8.7899C5.9999 22 5.9099 20.78 5.7999 19.21L5.1499 9.14001" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.3301 16.5H13.6601" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9.5 12.5H14.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                        </button>
                    </div>
               
                    <div style="width:100%;padding:15px 0;" class="w-full flex justify-between items-center  py-[15px]">
                        <span class="text-[.8rem] text-[#666] ">مجموع</span>
                        <span class="text-[.9rem] text-[#666] ">160,000 تومان</span>
                    </div>
                    <div style="width:100%;padding:15px 0;" class="w-full flex justify-between items-center gap-3 py-[15px]">
                        <button style="font-family:yekanBakhtLight;height:41.1px;" class="w-full bg-[#252525] text-[#fff] text-[12px] px-3 py-2"> مشاهده سبد خرید </button>
                        <button style="font-family:yekanBakhtLight;height:41.1px;" class="w-full hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-3 py-2 flex items-center justify-center text-[#7E8285] hover:text-[#fff] text-[12px]">
                            پرداخت
                           
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left ms-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                        </button>
                    </div>*@

                    @*------------------------ if shop cart is empty-----------------*@
                    <div class="flex flex-col items-center justify-center">
                        <div class="w-72">
                        <svg class="w-full" viewBox="0 0 267 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_f_312_535)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M186.667 181.333L177.334 184H81.7879H30.667L81.7879 181.333H186.667Z" fill="url(#paint0_linear_312_535)" />
                            </g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M162.4 79.7332C162.4 76.8613 164.728 74.5332 167.6 74.5332H210.934C213.806 74.5332 216.134 76.8613 216.134 79.7332C216.134 82.6051 213.806 84.9332 210.934 84.9332H167.6C164.728 84.9332 162.4 82.6051 162.4 79.7332Z" fill="url(#paint1_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M197.067 69.3333H101.733L107.543 134.695C108.179 141.849 114.173 147.333 121.356 147.333H177.444C184.627 147.333 190.62 141.849 191.256 134.695L197.067 69.3333ZM122.533 126.967V91.8666C122.533 88.9947 124.862 86.6666 127.733 86.6666C130.605 86.6666 132.933 88.9947 132.933 91.8666V126.967C132.933 129.838 130.605 132.167 127.733 132.167C124.862 132.167 122.533 129.838 122.533 126.967ZM145.067 91.8666V126.967C145.067 129.838 147.395 132.167 150.267 132.167C153.139 132.167 155.467 129.838 155.467 126.967V91.8666C155.467 88.9947 153.139 86.6666 150.267 86.6666C147.395 86.6666 145.067 88.9947 145.067 91.8666ZM167.6 126.967V91.8666C167.6 88.9947 169.928 86.6666 172.8 86.6666C175.672 86.6666 178 88.9947 178 91.8666V126.967C178 129.838 175.672 132.167 172.8 132.167C169.928 132.167 167.6 129.838 167.6 126.967Z" fill="url(#paint2_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M56.667 69.3333H117.334L127.734 147.333H77.7449C70.6791 147.333 64.7434 142.02 63.9631 134.997L56.667 69.3333ZM103.393 126.527L99.9266 90.9941C99.4447 88.1629 96.759 86.2585 93.9278 86.7403C91.0966 87.2222 89.1922 89.9079 89.6741 92.7391L93.1407 128.272C93.6226 131.104 96.3083 133.008 99.1395 132.526C101.971 132.044 103.875 129.359 103.393 126.527ZM79.1266 90.9941L82.5933 126.527C83.0751 129.359 81.1707 132.044 78.3395 132.526C75.5083 133.008 72.8226 131.104 72.3407 128.272L68.8741 92.7391C68.3922 89.9079 70.2966 87.2222 73.1278 86.7403C75.959 86.2585 78.6447 88.1629 79.1266 90.9941Z" fill="url(#paint3_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.2002 69.3333H113.867L124.267 147.333H74.2781C67.2123 147.333 61.2766 142.02 60.4962 134.997L53.2002 69.3333ZM99.9265 126.527L96.4598 90.9941C95.9779 88.1629 93.2921 86.2585 90.461 86.7403C87.6298 87.2222 85.7254 89.9079 86.2073 92.7391L89.6739 128.272C90.1558 131.104 92.8415 133.008 95.6727 132.526C98.5039 132.044 100.408 129.359 99.9265 126.527ZM75.6598 90.9941L79.1265 126.527C79.6083 129.359 77.7039 132.044 74.8727 132.526C72.0415 133.008 69.3558 131.104 68.8739 128.272L65.4073 92.7391C64.9254 89.9079 66.8298 87.2222 69.661 86.7403C72.4921 86.2585 75.1779 88.1629 75.6598 90.9941Z" fill="url(#paint4_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M200.533 69.3333H105.2L111.01 134.695C111.646 141.849 117.64 147.333 124.822 147.333H180.912C188.094 147.333 194.088 141.849 194.724 134.695L200.533 69.3333ZM126 126.967V91.8666C126 88.9947 128.328 86.6666 131.2 86.6666C134.072 86.6666 136.4 88.9947 136.4 91.8666V126.967C136.4 129.838 134.072 132.167 131.2 132.167C128.328 132.167 126 129.838 126 126.967ZM148.533 91.8666V126.967C148.533 129.838 150.861 132.167 153.733 132.167C156.605 132.167 158.933 129.838 158.933 126.967V91.8666C158.933 88.9947 156.605 86.6666 153.733 86.6666C150.861 86.6666 148.533 88.9947 148.533 91.8666ZM171.066 126.967V91.8666C171.066 88.9947 173.394 86.6666 176.266 86.6666C179.138 86.6666 181.466 88.9947 181.466 91.8666V126.967C181.466 129.838 179.138 132.167 176.266 132.167C173.394 132.167 171.066 129.838 171.066 126.967Z" fill="url(#paint5_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48 58.9333C48 55.1041 51.1041 52 54.9333 52H103.467C107.296 52 110.4 55.1041 110.4 58.9333V71.0667C110.4 74.8959 107.296 78 103.467 78H54.9333C51.1041 78 48 74.8959 48 71.0667V58.9333Z" fill="url(#paint6_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48 58.9333C48 55.1041 51.1041 52 54.9333 52H103.467C107.296 52 110.4 55.1041 110.4 58.9333V71.0667C110.4 74.8959 107.296 78 103.467 78H54.9333C51.1041 78 48 74.8959 48 71.0667V58.9333Z" fill="url(#paint7_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M99.1328 58.9333C99.1328 55.1041 102.237 52 106.066 52H199.667C203.495 52 206.6 55.1041 206.6 58.9333V71.0667C206.6 74.8959 203.495 78 199.667 78H106.066C102.237 78 99.1328 74.8959 99.1328 71.0667V58.9333Z" fill="url(#paint8_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M99.1328 58.9333C99.1328 55.1041 102.237 52 106.066 52H199.667C203.495 52 206.6 55.1041 206.6 58.9333V71.0667C206.6 74.8959 203.495 78 199.667 78H106.066C102.237 78 99.1328 74.8959 99.1328 71.0667V58.9333Z" fill="url(#paint9_linear_312_535)" />
                            <path d="M212.667 79.9099L155.467 65" stroke="url(#paint10_linear_312_535)" stroke-width="7.54" stroke-linecap="round" />
                            <path d="M155.9 67.0802C157.097 67.0802 158.067 66.1101 158.067 64.9135C158.067 63.7169 157.097 62.7468 155.9 62.7468C154.703 62.7468 153.733 63.7169 153.733 64.9135C153.733 66.1101 154.703 67.0802 155.9 67.0802Z" fill="#424750" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M197.333 104H102L107.81 169.361C108.446 176.516 114.44 182 121.622 182H177.711C184.893 182 190.888 176.516 191.524 169.361L197.333 104ZM122.8 161.633V126.533C122.8 123.661 125.128 121.333 128 121.333C130.872 121.333 133.2 123.661 133.2 126.533V161.633C133.2 164.505 130.872 166.833 128 166.833C125.128 166.833 122.8 164.505 122.8 161.633ZM145.333 126.533V161.633C145.333 164.505 147.661 166.833 150.533 166.833C153.405 166.833 155.733 164.505 155.733 161.633V126.533C155.733 123.661 153.405 121.333 150.533 121.333C147.661 121.333 145.333 123.661 145.333 126.533ZM167.867 161.633V126.533C167.867 123.661 170.195 121.333 173.067 121.333C175.939 121.333 178.267 123.661 178.267 126.533V161.633C178.267 164.505 175.939 166.833 173.067 166.833C170.195 166.833 167.867 164.505 167.867 161.633Z" fill="url(#paint11_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M56.9336 104H117.6L128 182H78.0115C70.9457 182 65.01 176.687 64.2296 169.664L56.9336 104ZM103.66 161.195L100.193 125.661C99.7113 122.83 97.0255 120.925 94.1944 121.407C91.3632 121.889 89.4588 124.575 89.9407 127.406L93.4073 162.939C93.8892 165.771 96.5749 167.675 99.4061 167.193C102.237 166.711 104.142 164.025 103.66 161.195ZM79.3932 125.661L82.8599 161.195C83.3417 164.025 81.4373 166.711 78.6061 167.193C75.7749 167.675 73.0892 165.771 72.6073 162.939L69.1407 127.406C68.6588 124.575 70.5632 121.889 73.3944 121.407C76.2255 120.925 78.9113 122.83 79.3932 125.661Z" fill="url(#paint12_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.4658 104H114.132L124.532 182H74.5437C67.478 182 61.5422 176.687 60.762 169.664L53.4658 104ZM100.192 161.195L96.7254 125.661C96.2435 122.83 93.5578 120.925 90.7266 121.407C87.8954 121.889 85.991 124.575 86.4729 127.406L89.9396 162.939C90.4214 165.771 93.1073 167.675 95.9384 167.193C98.7696 166.711 100.674 164.025 100.192 161.195ZM75.9254 125.661L79.3921 161.195C79.874 164.025 77.9696 166.711 75.1384 167.193C72.3073 167.675 69.6214 165.771 69.1396 162.939L65.6729 127.406C65.191 124.575 67.0954 121.889 69.9266 121.407C72.7578 120.925 75.4436 122.83 75.9254 125.661Z" fill="url(#paint13_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M200.8 104H105.466L111.276 169.361C111.912 176.516 117.905 182 125.088 182H181.177C188.36 182 194.353 176.516 194.989 169.361L200.8 104ZM126.266 161.633V126.533C126.266 123.661 128.594 121.333 131.466 121.333C134.338 121.333 136.666 123.661 136.666 126.533V161.633C136.666 164.505 134.338 166.833 131.466 166.833C128.594 166.833 126.266 164.505 126.266 161.633ZM148.8 126.533V161.633C148.8 164.505 151.128 166.833 154 166.833C156.872 166.833 159.2 164.505 159.2 161.633V126.533C159.2 123.661 156.872 121.333 154 121.333C151.128 121.333 148.8 123.661 148.8 126.533ZM171.333 161.633V126.533C171.333 123.661 173.661 121.333 176.533 121.333C179.405 121.333 181.733 123.661 181.733 126.533V161.633C181.733 164.505 179.405 166.833 176.533 166.833C173.661 166.833 171.333 164.505 171.333 161.633Z" fill="url(#paint14_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.2666 93.6001C48.2666 89.7709 51.3707 86.6667 55.1999 86.6667H103.733C107.562 86.6667 110.667 89.7709 110.667 93.6001V105.733C110.667 109.563 107.562 112.667 103.733 112.667H55.1999C51.3707 112.667 48.2666 109.563 48.2666 105.733V93.6001Z" fill="url(#paint15_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.2666 93.6001C48.2666 89.7709 51.3707 86.6667 55.1999 86.6667H103.733C107.562 86.6667 110.667 89.7709 110.667 93.6001V105.733C110.667 109.563 107.562 112.667 103.733 112.667H55.1999C51.3707 112.667 48.2666 109.563 48.2666 105.733V93.6001Z" fill="url(#paint16_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M99.3994 93.6001C99.3994 89.7709 102.504 86.6667 106.333 86.6667H199.933C203.762 86.6667 206.866 89.7709 206.866 93.6001V105.733C206.866 109.563 203.762 112.667 199.933 112.667H106.333C102.504 112.667 99.3994 109.563 99.3994 105.733V93.6001Z" fill="url(#paint17_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M99.3994 93.6001C99.3994 89.7709 102.504 86.6667 106.333 86.6667H199.933C203.762 86.6667 206.866 89.7709 206.866 93.6001V105.733C206.866 109.563 203.762 112.667 199.933 112.667H106.333C102.504 112.667 99.3994 109.563 99.3994 105.733V93.6001Z" fill="url(#paint18_linear_312_535)" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M41.333 119.6C41.333 116.728 43.6611 114.4 46.533 114.4H95.0663V124.8H46.533C43.6611 124.8 41.333 122.472 41.333 119.6Z" fill="url(#paint19_linear_312_535)" />
                            <path d="M95.0664 119.6L155.733 99.6667" stroke="url(#paint20_linear_312_535)" stroke-width="7.54" stroke-linecap="round" />
                            <path d="M156.167 101.747C157.363 101.747 158.333 100.777 158.333 99.5802C158.333 98.3836 157.363 97.4136 156.167 97.4136C154.97 97.4136 154 98.3836 154 99.5802C154 100.777 154.97 101.747 156.167 101.747Z" fill="#424750" />
                            <defs>
                                <filter id="filter0_f_312_535" x="27.9487" y="178.615" width="161.437" height="8.10331" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                    <feGaussianBlur stdDeviation="1.35914" result="effect1_foregroundBlur_312_535" />
                                </filter>
                                <linearGradient id="paint0_linear_312_535" x1="96.9015" y1="180.56" x2="96.8241" y2="185.123" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#A1A3A8" />
                                    <stop offset="1" stop-color="#C1C3C7" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_312_535" x1="162.4" y1="74.5332" x2="162.4" y2="84.9332" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#62666D" />
                                    <stop offset="1" stop-color="#030A16" />
                                </linearGradient>
                                <linearGradient id="paint2_linear_312_535" x1="111.086" y1="84.6373" x2="111.086" y2="147.333" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6E7681" />
                                    <stop offset="1" stop-color="#B0B6BD" />
                                </linearGradient>
                                <linearGradient id="paint3_linear_312_535" x1="63.6389" y1="84.6373" x2="63.6389" y2="147.333" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6E7681" />
                                    <stop offset="1" stop-color="#B0B6BD" />
                                </linearGradient>
                                <linearGradient id="paint4_linear_312_535" x1="62.4623" y1="82.3935" x2="62.4623" y2="147.333" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#92959A" />
                                    <stop offset="0.901139" stop-color="#CACCD1" />
                                    <stop offset="1" stop-color="#B7BCC6" />
                                </linearGradient>
                                <linearGradient id="paint5_linear_312_535" x1="149.293" y1="51.5906" x2="94.2577" y2="124.02" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DDDEE0" />
                                    <stop offset="1" stop-color="#CACCD0" />
                                </linearGradient>
                                <linearGradient id="paint6_linear_312_535" x1="101.103" y1="58.6581" x2="54.1751" y2="58.6581" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#B9BCC1" />
                                    <stop offset="1" stop-color="#A7AAB2" />
                                </linearGradient>
                                <linearGradient id="paint7_linear_312_535" x1="48" y1="52" x2="48" y2="78" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FEFEFE" stop-opacity="0.578316" />
                                    <stop offset="0.163444" stop-color="white" stop-opacity="0.2" />
                                    <stop offset="0.840292" stop-color="white" stop-opacity="0.01" />
                                    <stop offset="1" stop-opacity="0.1" />
                                </linearGradient>
                                <linearGradient id="paint8_linear_312_535" x1="190.588" y1="58.6581" x2="109.768" y2="58.6581" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DCDDE0" />
                                    <stop offset="1" stop-color="#CECFD4" />
                                </linearGradient>
                                <linearGradient id="paint9_linear_312_535" x1="99.1328" y1="52" x2="99.1328" y2="78" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FEFEFE" stop-opacity="0.578316" />
                                    <stop offset="0.163444" stop-color="white" stop-opacity="0.2" />
                                    <stop offset="0.840292" stop-color="white" stop-opacity="0.01" />
                                    <stop offset="1" stop-opacity="0.05" />
                                </linearGradient>
                                <linearGradient id="paint10_linear_312_535" x1="241.267" y1="72.6095" x2="234.267" y2="45.188" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#030A16" />
                                    <stop offset="1" stop-color="#62666D" />
                                </linearGradient>
                                <linearGradient id="paint11_linear_312_535" x1="111.353" y1="119.304" x2="111.353" y2="182" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6E7681" />
                                    <stop offset="1" stop-color="#B0B6BD" />
                                </linearGradient>
                                <linearGradient id="paint12_linear_312_535" x1="63.9055" y1="119.304" x2="63.9055" y2="182" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6E7681" />
                                    <stop offset="1" stop-color="#B0B6BD" />
                                </linearGradient>
                                <linearGradient id="paint13_linear_312_535" x1="62.7281" y1="117.06" x2="62.7281" y2="182" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#92959A" />
                                    <stop offset="0.901139" stop-color="#CACCD1" />
                                    <stop offset="1" stop-color="#B7BCC6" />
                                </linearGradient>
                                <linearGradient id="paint14_linear_312_535" x1="149.558" y1="86.2573" x2="94.5233" y2="158.687" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DDDEE0" />
                                    <stop offset="1" stop-color="#CACCD0" />
                                </linearGradient>
                                <linearGradient id="paint15_linear_312_535" x1="101.369" y1="93.3249" x2="54.4417" y2="93.3249" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#B9BCC1" />
                                    <stop offset="1" stop-color="#A7AAB2" />
                                </linearGradient>
                                <linearGradient id="paint16_linear_312_535" x1="48.2666" y1="86.6667" x2="48.2666" y2="112.667" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FEFEFE" stop-opacity="0.578316" />
                                    <stop offset="0.163444" stop-color="white" stop-opacity="0.2" />
                                    <stop offset="0.840292" stop-color="white" stop-opacity="0.01" />
                                    <stop offset="1" stop-opacity="0.1" />
                                </linearGradient>
                                <linearGradient id="paint17_linear_312_535" x1="190.854" y1="93.3249" x2="110.034" y2="93.3249" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DCDDE0" />
                                    <stop offset="1" stop-color="#CECFD4" />
                                </linearGradient>
                                <linearGradient id="paint18_linear_312_535" x1="99.3994" y1="86.6667" x2="99.3994" y2="112.667" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FEFEFE" stop-opacity="0.578316" />
                                    <stop offset="0.163444" stop-color="white" stop-opacity="0.2" />
                                    <stop offset="0.840292" stop-color="white" stop-opacity="0.01" />
                                    <stop offset="1" stop-opacity="0.05" />
                                </linearGradient>
                                <linearGradient id="paint19_linear_312_535" x1="41.333" y1="114.4" x2="41.333" y2="124.8" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#62666D" />
                                    <stop offset="1" stop-color="#030A16" />
                                </linearGradient>
                                <linearGradient id="paint20_linear_312_535" x1="125.4" y1="89.9783" x2="114.163" y2="125.159" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#62666D" />
                                    <stop offset="1" stop-color="#030A16" />
                                </linearGradient>
                            </defs>
                        </svg>

                        </div>
                        <h6 class="text-[.8rem] text-[#666] "> سبد خرید شماخالی است </h6>
                    </div>
                    @*---------------------------------------------------------------*@
                
                </div>
                  
            </div>

           
            <a asp-action="ManageUserForLogin" asp-area="" asp-controller="Account"
               class=" w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center ">
                @*<img src="/ArefSet/src/assets/images/landing/user - 1 1.png" alt="" />*@
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.7041 19.6796C5.7041 17.6554 7.3012 15.135 11.9045 15.135C16.507 15.135 18.104 17.6371 18.104 19.6623" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8638 8.28059C15.8638 10.4681 14.0906 12.2412 11.9031 12.2412C9.71649 12.2412 7.94336 10.4681 7.94336 8.28059C7.94336 6.09307 9.71649 4.31995 11.9031 4.31995C14.0906 4.31995 15.8638 6.09307 15.8638 8.28059Z" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>


        </div>

        <!-- lg -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
             id="navbar-sticky">
            <ul class="flex items-center gap-6">
                <li class="">
                    <a href="/">صفحه اصلی</a>
                </li>

                @if (Model.ListOfProductCategoriesForShowInSiteSideBar != null && Model.ListOfProductCategoriesForShowInSiteSideBar.Any())
                {
                    foreach (var categories in Model.ListOfProductCategoriesForShowInSiteSideBar)
                    {
                        <li class="">
                            <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@categories.CategoryId">@categories.CategoryTitle</a>
                        </li>
                    }
                }

                <li class="">
                    <a asp-action="ListOfBlogs" asp-area="" asp-controller="Blog">مقالات</a>
                </li>

                <li class="">
                    <a asp-action="AboutUs" asp-area="" asp-controller="Home">درباره ی ما</a>
                </li>

                <li class="">
                    <a asp-action="ContactUs" asp-area="" asp-controller="Home">تماس با ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
