@model Domain.ViewModels.SiteSide.SitSideBar.SiteSideBarViewModel
@using Application.StaticTools

<!-- <nav class="h-[96px] md:h-[96px] lg:h-[104px] w-full bg-slate-300"></nav> -->

<nav class="bg-white dark:bg-gray-900 w-full border-b border-gray-200 dark:border-gray-600 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto">
    <div class="flex flex-wrap items-center justify-between mx-auto py-4">
        <div class="flex items-center">
            <a href="#"
               class="showMenu inline-block md:inline-block lg:hidden"
               type="button"
               data-drawer-target="drawer-navigation"
               data-drawer-show="drawer-navigation"
               aria-controls="drawer-navigation">
                <svg class="w-7 h-7 md:w-7 md:h-7 lg:w-8 lg:h-8"
                     aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            <div class="bg-black opacity-0 invisible bg-opacity-50 z-[5000000] transition-all menu fixed top-0 left-0 right-0 overflow-hidden flex justify-start items-start">
                <div class="z-40 w-72 h-screen p-4 overflow-y-auto transition-all bg-[#252525] dark:bg-gray-800"
                     id="drawer-navigation"
                     tabindex="-1"
                     aria-labelledby="drawer-navigation-label">
                    <h5 id="drawer-navigation-label"
                        class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
                        Aref
                    </h5>
                    <a href="#"
                       type="button"
                       data-drawer-hide="drawer-navigation"
                       aria-controls="drawer-navigation"
                       class="text-gray-400 hideMenu bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 left-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg aria-hidden="true"
                             class="w-5 h-5"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close menu</span>
                    </a>
                    <div class="py-4 overflow-y-auto">
                        <form id="Searchfiltre" asp-action="ListOfProducts" asp-area="" asp-controller="Products" method="get">

                            <div class="flex md:order-2 mb-3">
                                <div class="w-full h-[44px] border-[1px] border-gray-600 flex justify-start items-center gap-1">
                                    <input type="search" name="ProductTitle"
                                           class="h-full w-full focus:outline-none bg-transparent px-1"
                                           placeholder="جستجو کنید ..."
                                           id="" />
                                    <div id="SearchIcon"
                                         class="w-[54px] h-full flex justify-center items-center bg-[#D92626]">
                                        <img src="/ArefSet/src/assets/images/landing/search-normal.png"
                                             class="w-[50%]"
                                             alt="search icon"
                                             title="جستجو کنید " />
                                    </div>
                                </div>
                            </div>

                        </form>

                        <ul class="space-y-2 font-medium mt-5">
                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a 
                                   href="/"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">صفحه اصلی</span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>

                            @if (Model.ListOfProductCategoriesForShowInSiteSideBar != null && Model.ListOfProductCategoriesForShowInSiteSideBar.Any())
                            {
                                foreach (var categories in Model.ListOfProductCategoriesForShowInSiteSideBar)
                                {
                                    <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                        <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@categories.CategoryId"
                                           class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                            <span class="flex-1 ml-3 whitespace-nowrap">
                                                @categories.CategoryTitle
                                            </span>
                                            <span class="inline-flex items-center justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="bi bi-arrow-left text-white"
                                                     viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                                </svg>
                                                <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                            </span>
                                            <!-- <span class="inline-flex items-center justify-center px-2  text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> -->
                                        </a>
                                    </li>

                                }
                            }

                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a asp-action="ListOfBlogs" asp-area="" asp-controller="Blog"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">
                                        وبلاگ
                                    </span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>

                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a asp-action="AboutUs" asp-area="" asp-controller="Home"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">
                                        درباره ی ما
                                    </span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>

                            <li class="border-b-[1px] border-gray-600 border-opacity-80 py-2">
                                <a asp-action="ContactUs" asp-area="" asp-controller="Home"
                                   class="flex items-center text-white rounded dark:text-white dark:hover:bg-gray-700">
                                    <span class="flex-1 ml-3 whitespace-nowrap">
                                        تماس با ما
                                    </span>
                                    <span class="inline-flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-arrow-left text-white"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                        </svg>
                                        <!-- <img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt=""> -->
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- logo -->
            <a href="@PathTools.SiteAddress" class="flex items-center">
                <img src="/ArefSet/src/assets/images/landing/Arefset 1.png"
                     class="lg:w-[94px] md:w-[80px] w-[73px] mr-3"
                     alt="Flowbite Logo" />
            </a>
        </div>

        <!-- sm / md -->

        <div class="flex md:order-2 gap-2">
            <form id="Searchfiltre1" asp-action="ListOfProducts" asp-area="" asp-controller="Products" method="get">
                <div class="hidden md:hidden lg:w-[250px] lg:h-[44px] border-[1px] border-[#B7B7B7] lg:flex justify-start items-center">
                    <img id="SearchIcon1" src="/ArefSet/src/assets/images/landing/search-icon.webp"
                         class="w-5 text-[#252525] mx-3"
                         alt="" />
                    <input name="ProductTitle" type="text"
                           class="h-full w-full focus:outline-none"
                           placeholder="جستجو کنید ..."
                           id="" />
                </div>
            </form>

            <a asp-area="" asp-action="ShopCart" asp-controller="Order" class="w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center">
                <img src="/ArefSet/src/assets/images/landing/Shopping bag 1.png" alt="" />
            </a>

            <!-- <div
              class="w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center"

              >
              <img src="/ArefSet/src/assets/images/landing/user - 1 1.png" alt="" />
            </div> -->
            <a asp-action="ManageUserForLogin" asp-area="" asp-controller="Account"
               class=" w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center ">
                <img src="/ArefSet/src/assets/images/landing/user - 1 1.png" alt="" />
            </a>


        </div>

        <!-- lg -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
             id="navbar-sticky">
            <ul class="flex items-center gap-6">
                <li class="">
                    <a href="/">صفحه اصلی</a>
                </li>

                @if (Model.ListOfProductCategoriesForShowInSiteSideBar != null && Model.ListOfProductCategoriesForShowInSiteSideBar.Any())
                {
                    foreach (var categories in Model.ListOfProductCategoriesForShowInSiteSideBar)
                    {
                        <li class="">
                            <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@categories.CategoryId">@categories.CategoryTitle</a>
                        </li>
                    }
                }

                <li class="">
                    <a asp-action="ListOfBlogs" asp-area="" asp-controller="Blog">مقالات</a>
                </li>

                <li class="">
                    <a asp-action="AboutUs" asp-area="" asp-controller="Home">درباره ی ما</a>
                </li>

                <li class="">
                    <a asp-action="ContactUs" asp-area="" asp-controller="Home">تماس با ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
