@model List<Domain.Models.Users.User>
@using Application.Convertors

@{
    ViewData["Title"] = "لیست کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styls
    {

    <!-- DataTables -->
    <link rel="stylesheet" href="/Admin_Panel/plugins/datatables/dataTables.bootstrap4.css">

}


<div class="content-wrapper" style="min-height: 805px;">
    @if (ViewBag.Create == true)
    {
        <div class="col-md-12">
            <div class="card bg-success-gradient">
                <div class="card-header">
                    <h3 class="card-title"> ثبت با موفقیت </h3>

                    <div class="card-tools">
                        <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    ثبت کاربر جدید با موفقیت انجام شده است
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
        </script>
    }
    @if (ViewBag.Edit == true)
    {
        <div class="col-md-12">
            <div class="card bg-primary-gradient">
                <div class="card-header">
                    <h3 class="card-title">ویرایش موفقیت آمیز  </h3>

                    <div class="card-tools">
                        <button type="button" id="EditBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    ویرایش کاربر با موفقیت ثبت گردید
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("EditBtn").click(); }, delay);
        </script>
    }
    @if (ViewBag.Delete == true)
    {
        <div class="col-md-12">
            <div class="card bg-danger-gradient">
                <div class="card-header">
                    <h3 class="card-title">حذف موفق </h3>

                    <div class="card-tools">
                        <button type="button" id="DeleteBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    حذف کاربر با موفقیت انجام گردید
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("DeleteBtn").click(); }, delay);
        </script>
    }
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>لیست کاربران</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">لیست کاربران</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">


                <div class="card ">
                    <div class="card-header">
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <a href="/Admin/Users/Create" class="btn btn-block btn-primary btn-sm waves-effect">افزودن کاربر  جدید  </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width:10px;" aria-label="عکس  : activate to sort column ascending">عکس  </th>

                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-sort="ascending" aria-label="نام کاربری  : activate to sort column descending">     نام کاربری</th>
                                            
                                           
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="موبایل : activate to sort column ascending">موبایل </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="موبایل : activate to sort column ascending">ایمیل </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="موبایل : activate to sort column ascending">ثبت نام  </th>

                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label=" activate to sort column ascending"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1"> 
                                                    <img class="direct-chat-img"  style="width:50px;height:50px;" src="/Images/UserAvatar/thumb/@item.UserAvatar" alt="message user image">
                                                </td>
                                                <td>@item.UserName</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.Email</td>
                                                <td>@item.RegisterDate.ToShamsi()</td>

                                                <td>

                                                    <a class="btn btn-warning btn-sm waves-effect" asp-action="Edit" asp-area="Admin" asp-controller="Users" asp-route-id="@item.UserId">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                        ویرایش
                                                    </a>

                                                    <a class="btn btn-info btn-sm waves-effect" asp-action="Details" asp-area="Admin" asp-controller="Users" asp-route-id="@item.UserId">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                        اطلاعات
                                                    </a>

                                                    <a class="btn btn-danger btn-sm waves-effect" asp-action="Delete" asp-area="Admin" asp-controller="Users" asp-route-id="@item.UserId">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                        حذف
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section> <!-- /.content -->
</div>




@section scripts{
    <!-- ./wrapper -->

    <script src="/Admin_Panel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Admin_Panel/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <!-- FastClick -->
    <script src="/Admin_Panel/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
            });
            $('#example2').DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "autoWidth": false
            });
        });
    </script>
}

