@model Domain.ViewModels.UserPanel.Dashboard.UserPanelDashboardViewModel
@using Application.StaticTools
@using Application.Convertors


@{
    ViewData["Title"] = "پروفایل";
}
 

<main class="mx-auto mt-7 " style="margin-bottom: 100px;">
    <section class="mx-auto max-w-full grid grid-cols-1 lg:max-w-[86.5em] relative lg:flex lg:items-start gap-5">

        <!-- Side Bar -->
        @await Component.InvokeAsync("UserPanelSideBarViewComponents")

        <!-- ---------------------- main content ----------------------------------------- -->
        <div class="w-full lg:flex min-h-[765px]">
            <!-- ----- Activities ----- -->
            <section id="Activities" class="tabcontent w-full flex flex-col items-center justify-start">

                <div class="border-2 border-[#252525] w-full p-5 flex flex-col items-start justify-start gap-5">
                    <div class="w-full flex justify-between items-center  mb-7">
                        <div>
                            <p class="text-[14px]" style="font-family: yekanBakhtExtraBold">
                                آخرین سفارش من
                            </p>
                            <p class="text-[12px] text-[#828282]">My orders</p>
                        </div>
                        <a class="text-[12px] lg:text-[14px] text-[#828282]" asp-action="Index" asp-area="User" asp-controller="Order">  4 سفارش</a>
                    </div>
                    @if (Model.LastOrder != null && Model.LastOrder.Any())
                    { 
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                            <!-- card -->
                            @foreach (var product in Model.LastOrder)
                            {


                                <div class="h-[385px] transition-all duration-300 transform ease-linear transform hover:shadow-lg flex flex-col justify-between items-center shopCardHover">
                                    <div class="w-full  h-[277px] relative overflow-hidden productCardImg  transition-all duration-300 transform ease-linear">

                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="transition-all block w-full h-full overflow-hidden relative">
                                            @*<img class="product-image  w-full h-full object-cover absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductPathThumb@product.ProductImageName" title="@product.ProductTitle" alt="@product.ProductTitle" />*@
                                            <img class="product-image  w-full object-contain  lg:object-cover " src="/ArefSet/src/assets/images/landing/20.jpg" alt="" />
                                            <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="/ArefSet/src/assets/images/landing/Rectangle 5.png" title="@product.ProductTitle" alt="@product.ProductTitle" />
                                        </a>
                                        
                                    </div>
                                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-end">
                                        <div class="text-right inline-block lg:w-[283px]">
                                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                               @* @category.ProdudctCategoryTitle*@
                                            </p>
                                            <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="font-bold text-[15px]  lg:text-[16px] line-clamp-2 listShopCartTitle">
                                                @product.ProductTitle
                                            </a>
                                        </div>
                                        <div class="text-left">
                                            <p class="leading-[20.15px] line-through inline-block text-[#B7B7B7] font-light text-[10px] lg:text-[14px]  h-4">
                                                @((product.IsInOffer.HasValue) ? product.OldPrice.Value.ToString("#,000") + "ریال" : " ")

                                            </p>
                                            <p class="text-[#D92626] font-bold text-[15px] " style="font-family: yekanBakhtBold">
                                                @product.Price.ToString("#,000")ریال
                                            </p>
                                        </div>
                                    </div>
                                    <div class="w-full flex justify-between items-center gap-2 bg-[#D92626] hover:bg-[#b52020]">
                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class=" w-full h-[38px] text-[#fff] flex items-center justify-center gap-2 py-2 px-4 text-[10px]">
                                            مشاهده ی محصول
                                            @*<img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] text-[#fff]" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>







                                @*<div class="w-full h-[385px] flex flex-col justify-between items-center">
                                    <div class="w-full h-[277px]">
                                        <img class="w-full h-full object-cover" src="@PathTools.ProductPathThumb@product.ProductImageName" alt="">
                                    </div>
                                    <div class="w-full flex justify-between items-center">
                                        <div>
                                            <p class="text-[#252525] text-[16px] leading-[24.8px]" style="font-family: yekanBakhtBold">
                                                @product.ProductTitle
                                                </p>
                                        </div>
                                        <div>
                                            <p class="text-[#7E8285] line-through text-[13px] leading-[20.15px]">
                                                @((product.IsInOffer.HasValue) ? product.OldPrice.Value.ToString("#,000") + "ریال": " " )
                                            </p>
                                            <p class="text-[#D92626] text-[17px] leading-[26.35px]" style="font-family: yekanBakhtBold">
                                                @product.Price.ToString("#,000")ریال
                                            </p>
                                        </div>
                                    </div>
                                    <div class="w-full flex justify-between items-center gap-2">
                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="bg-[#D92626] hover:bg-[#b52020] w-full h-[38px] text-[#fff] flex items-center justify-center gap-2 py-2 px-4 text-[10px]">
                                            مشاهده ی محصول
                                            
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] text-[#fff]" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>*@

                            }

                        </div>
                    }
                </div>

                <div class="border-2 border-[#252525] w-full mt-7 p-5 flex flex-col items-start justify-start gap-5">
                    <div class="w-full flex justify-between items-center mb-7">
                        <div>
                            <p class="text-[14px]" style="font-family: yekanBakhtExtraBold">
                                محصولات علاقه مندی من
                            </p>
                            <p class="text-[12px] text-[#828282]">My orders</p>
                        </div>
                        <a class="text-[12px] lg:text-[14px] text-[#828282]" asp-action="ListOFFavoriteProducts" asp-area="User" asp-controller="FavoriteProduct">  4 کالا  </a>
                    </div>

                    @if (Model.LastFavoriteProduct != null && Model.LastFavoriteProduct.Any())
                    {
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                            <!-- card -->
                            @foreach (var product in Model.LastFavoriteProduct)
                            {

                                <div class="h-[385px] transition-all duration-300 transform ease-linear transform hover:shadow-lg flex flex-col justify-between items-center shopCardHover">
                                    <div class="w-full  h-[277px] relative overflow-hidden productCardImg  transition-all duration-300 transform ease-linear">

                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="transition-all block w-full h-full overflow-hidden relative">
                                            @*<img class="product-image  w-full h-full object-cover absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductPathThumb@product.ProductImageName" title="@product.ProductTitle" alt="@product.ProductTitle" />*@
                                            <img class="product-image  w-full  " src="@PathTools.ProductPathThumb@product.ProductImageName" title="@product.ProductTitle" alt="@product.ProductTitle" />
                                            
                                            @*<img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="/ArefSet/src/assets/images/landing/Rectangle 5.png" title="@product.ProductTitle" alt="@product.ProductTitle" />*@
                                            <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="/ArefSet/src/assets/images/landing/Rectangle 5.png" title="@product.ProductTitle" alt="@product.ProductTitle" />
                                        </a>
                                         
                                    </div>
                                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-end">
                                        <div class="text-right inline-block lg:w-[283px]">
                                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                                @* @category.ProdudctCategoryTitle*@
                                            </p>
                                            <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="font-bold text-[15px]  lg:text-[16px] line-clamp-2 listShopCartTitle">
                                                @product.ProductTitle
                                            </a>
                                        </div>
                                        <div class="text-left">
                                            <p class="leading-[20.15px] line-through inline-block text-[#B7B7B7] font-light text-[10px] lg:text-[14px]  h-4">

                                                @((product.IsInOffer.HasValue) ? product.OldPrice.Value.ToString("#,000") + "ریال" : " ")

                                            </p>
                                            <p class="text-[#D92626] font-bold text-[15px] " style="font-family: yekanBakhtBold">
                                                @product.Price.ToString("#,000")ریال
                                            </p>
                                        </div>
                                    </div>
                                    <div class="w-full flex justify-between items-center gap-2">
                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="bg-[#D92626] hover:bg-[#b52020] w-full h-[38px] text-[#fff] flex items-center justify-center gap-2 py-2 px-4 text-[10px] lg:text-[13px]">
                                            مشاهده ی محصول
                                            @*<img src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] text-[#fff]" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>


                                @*<div class="w-full h-[385px] flex flex-col justify-between items-center">
                                    <div class="w-full h-[277px]">
                                        <img class="w-full h-full object-cover" src="@PathTools.ProductPathThumb@product.ProductImageName" alt="">
                                    </div>
                                    <div class="w-full flex justify-between items-center">
                                        <div>
                                            <p class="text-[#252525] text-[16px] leading-[24.8px]" style="font-family: yekanBakhtBold">
                                                @product.ProductTitle
                                            </p>
                                        </div>
                                        <div>
                                            <p class="text-[#7E8285] line-through text-[13px] leading-[20.15px]">
                                                @((product.IsInOffer.HasValue) ? product.OldPrice.Value.ToString("#,000") + "ریال": " ")
                                            </p>
                                            <p class="text-[#D92626] text-[17px] leading-[26.35px]" style="font-family: yekanBakhtBold">
                                                @product.Price.ToString("#,000")ریال
                                            </p>
                                        </div>
                                    </div>
                                    <div class="w-full flex justify-between items-center gap-2">
                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@product.ProductID" asp-route-ProductTitle="@product.ProductTitle.FixTextForUrl()" class="bg-[#D92626] hover:bg-[#b52020] w-full h-[38px] text-[#fff] flex items-center justify-center gap-2 py-2 px-4 text-[10px]">
                                            مشاهده ی محصول
                                            
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] text-[#fff]" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>*@

                            }

                        </div>
                    }
                </div>

            </section>
        </div>
    </section>
</main>