@model Domain.ViewModels.SiteSide.Order.InvoiceSiteSideViewModel

@{
    ViewData["Title"] = "تایید فاکتور ";
    int? discountPrice = ViewBag.discountPrice as int?;
}

@section Styles
    {
    <link href="/ArefSet/dist/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/ArefSet/src/assets/styles/style.css" />
}

<div class="mx-auto">

    <section class="mx-auto lg:mt-5 mt-5 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em]">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="#" class="inline-flex items-center text-sm font-medium text-[#A8A8A8] hover:text-[#252525] dark:text-gray-400 dark:hover:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        خانه
                    </a>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="mr-1 text-sm font-medium text-text-[#252525] md:mr-2 dark:text-gray-400">فاکتور نهایی</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>

    <section class="mx-auto mt-0 lg:px-0 max-w-[100%] lg:max-w-[86.5em] mb-7">
        <div class="w-full relative mt-6 min-h-screen flex flex-col items-start justify-start lg:flex lg:flex-row lg:items-start lg:justify-between">
            <div class="border-2 border-[#B7B7B7] p-5 w-full lg:w-[75vw] mb-4 ">
                <ul class="w-full lg:flex hidden my-5 gap-5">

                    <li class="w-[39%] text-right
              relative after:content-[''] after:absolute after:right-0 after:-bottom-3 after:w-[53px] after:h-[2px] after:bg-[#D92626]
              ">
                        <p class="text-[#252525] text-[16px] leading-[24.8px]" style="font-family: yekanBakhtSemiBold">
                            توضیحات
                        </p>
                        <p class="text-[#7E8285] text-[14px] leading-[21.7px]" style="font-family: yekanBakhtLight">
                            Description
                        </p>
                    </li>
                    <li class="w-[14%] text-center">
                        <p class="text-[#7E8285] text-[16px] leading-[24.8px]" style="font-family: yekanBakhtSemiBold">
                            قیمت
                        </p>
                        <p class="text-[#7E8285] text-[14px] leading-[21.7px]" style="font-family: yekanBakhtLight">
                            Price
                        </p>
                    </li>
                    <li class="w-[16%] text-center">
                        <p class="text-[#7E8285] text-[16px] leading-[24.8px]" style="font-family: yekanBakhtSemiBold">
                            تعداد
                        </p>
                        <p class="text-[#7E8285] text-[14px] leading-[21.7px]" style="font-family: yekanBakhtLight">
                            Number
                        </p>
                    </li>
                    <li class="w-[16%] text-center">
                        <p class="text-[#7E8285] text-[16px] leading-[24.8px]" style="font-family: yekanBakhtSemiBold">
                            مجموع
                        </p>
                        <p class="text-[#7E8285] text-[14px] leading-[21.7px]" style="font-family: yekanBakhtLight">
                            Total
                        </p>
                    </li>
                </ul>

                <!-- -------------shop cart-------------- -->
                @if (Model.Order != null && Model.InvoiceOrderDetails != null && Model.InvoiceOrderDetails.Any())
                {
                    foreach (var item in Model.InvoiceOrderDetails)
                    {
                        <div class="pb-5 lg:py-5 lg:px-4 lg:gap-6 gap-3 w-full border-b flex flex-col items-start justify-start lg:flex lg:flex-row lg:items-center lg:justify-start mb-6">


                            <div class="w-[1px] h-[51px] bg-[#9191914D]  hidden lg:inline-block"></div>

                            <div class="flex items-center justify-start gap-3">
                                <div class="w-[126px] h-[126px] lg:w-[72px] lg:h-[72px] shadow">
                                    <img src="/Images/Product/thumb/@item.Product.ProductImage" alt="" class="w-full h-full object-cover">
                                </div>
                                <div class="gap-5">
                                    <p class="text-[#252525] text-[12px] lg:text-[14px] leading-[50x]" style="font-family: yekanBakhtRegular">
                                        @item.Product.ProductTitle
                                    </p>
                                    <div class="gap-3 lg:gap-5 flex flex-col items-start justify-start lg:flex lg:flex-row lg:items-center lg:justify-start">
                                        <div class="flex items-center justify-start gap-2">
                                            <p class="text-[#252525] text-[12px] leading-[18.6px]" style="font-family: yekanBakhtSemiBold">
                                                رنگ انتخابی:
                                            </p>
                                            <div class="w-[18px] h-[18px] bg-[@item.InvoiceColor.ColorName]"></div>
                                            <p class="text-[#7E8285] text-[14px] leading-[21.7px]" style="font-family: yekanBakhtRegular">
                                                @item.InvoiceColor.ColorName
                                            </p>
                                        </div>
                                        <div class="flex items-center justify-start gap-2">
                                            <p class="text-[#252525] text-[12px] leading-[18.6px]" style="font-family: yekanBakhtSemiBold">
                                                سایز انتخابی:
                                            </p>
                                            <div class="w-[51px] h-[18px] bg-[#252525] flex items-center justify-center text-[#fff]">
                                                <span class="text-[10px] leading-[15.5px]" style="font-family: yekanBakhtRegular">@item.InvoiceSize.SizeName</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-[1px] h-[51px] bg-[#9191914D]  hidden lg:inline-block"></div>

                            <div class="flex items-center justify-center gap-6">
                                <div class=" hidden lg:inline-block">

                                    <p class="text-[#252525] text-[16px] leading-[18.6px]" style="font-family: yekanBakhtSemiBold">
                                        @item.Product.Price.ToString("#,0") ریال
                                    </p>
                                </div>

                                <div class="w-[1px] h-[51px] bg-[#9191914D]  hidden lg:inline-block"></div>


                                <div class="w-[127px] h-[39px] lg:w-[136px]  lg:h-[46px] border-2 border-[#252525] flex items-center justify-around gap-2">

                                    <p>@item.Count</p>

                                </div>
                                <div class="w-[1px] h-[51px] bg-[#9191914D]  hidden lg:inline-block"></div>

                                <div class="">

                                    <p class="text-[#252525] text-[16px] leading-[18.6px]" style="font-family: yekanBakhtSemiBold">
                                        @{
                                            decimal price = item.Product.Price * item.Count;
                                        }
                                        @price.ToString("#,0") ریال
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
            <div class="w-full lg:w-[25vw] flex flex-col-reverse justify-start items-end lg:flex lg:flex-col lg:justify-start lg:items-end lg:sticky lg:top-0 lg:gap-2">
                <div class="w-full lg:w-[305px] lg:h-[372px] lg:bg-[#F6F6F6] bg-[#FCFCFC] lg:p-4 p-5 flex flex-col justify-between">
                    <div class="flex justify-between items-center">
                        <p class="text-[14px] text-[#252525]" style="font-family: yekanBakhtExtraBold">
                            خلاصه سبد خرید
                        </p>
                        <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                            @Model.InvoiceOrderDetails.Count() کالا
                        </p>
                    </div>
                    <div class="lg:border-[#E7E7E7] lg:border-t-[1px] lg:border-b-[1px] my-4 mt-2 py-3 flex justify-between items-center">
                        <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                            جمع کل سبد خرید :
                        </p>
                        <p class="text-[12px] text-[#7E8285]" style="font-family: yekanBakhtSemiBold">
                            @Model.InvoiceOrderDetails.Sum(p => p.Product.Price * p.Count).ToString("#,0") ریال
                        </p>
                    </div>
                    <div class="lg:border-[#E7E7E7] lg:border-t-[1px] lg:border-b-[1px] my-4 mt-2 py-3 flex justify-between items-center">
                        <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                            هزینه ی ارسال :    
                        </p>
                        <p class="text-[12px] text-[#7E8285]" style="font-family: yekanBakhtSemiBold">
                            ریال 250,000
                        </p>
                    </div>
                    <ul class="grid grid-cols-2 lg:grid-cols-1 gap-2">
                        <li class="flex justify-start items-center gap-2 mb-3">
                            <img src="/ArefSet/src/assets/images/landing/truck.png" alt="">
                            <p class="text-[#828282] text-[10px]">ارسال از ۲ روز کاری</p>
                        </li>
                        <li class="flex justify-start items-center gap-2 mb-3">
                            <img src="/ArefSet/src/assets/images/landing/shield-tick.png" alt="">
                            <p class="text-[#828282] text-[10px]">
                                گارانتی اصالت و سلامت فیزیکی کالا
                            </p>
                        </li>
                    </ul>

                    <div class="border-[#E7E7E7] border-t-[1px] my-4 py-3 hidden lg:flex lg:justify-between lg:items-center">
                        <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                            مبلغ قابل پرداخت :
                        </p>
                        @if (discountPrice.HasValue)
                        {

                            @discountPrice.Value.ToString("#,0")
                        }
                        else
                        {
                            if (Model.Order.Price.HasValue)
                            {
                                <p class="text-[16px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                                    @Model.Order.Price.Value.ToString("#,0")
                                    ریال
                                </p>
                            }
                            else
                            {
                                <p class="text-[16px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                                    @{
                                        var orderPrice = Model.InvoiceOrderDetails.Sum(p => p.Product.Price * p.Count);
                                        var total = orderPrice + 250000;
                                    }

                                    @total.ToString("#,0") ریال
                                </p>
                            }
                        }

                    </div>
                    <a href="/order/Payment/@Model.Order.OrderId" class="w-full bg-[#252525] text-[#fff] hidden lg:flex lg:items-center lg:justify-center gap-2 py-3 text-[11px]">
                        پرداخت
                        <img src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="">
                    </a>

                    <a asp-action="DeleteShopCart" asp-area="" asp-controller="order" asp-route-orderId="@Model.Order.OrderId" class="w-full bg-[#252525]  mt-5 mb-5  text-[#fff] hidden lg:flex lg:items-center lg:justify-center gap-2 py-3 text-[11px]">
                        حذف و خرید مجدد
                        <img src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="">
                    </a>

                    <form asp-action="AddDiscountForOrder" asp-controller="order" method="post">
                        <div class="w-full lg:w-[305px] flex items-center justify-center gap-1 lg:p-0 p-6 bg-[#F6F6F6]">

                            <input type="hidden" value="@Model.Order.OrderId" name="orderId" />
                            <input type="hidden" value="@ViewBag.Locationid" name="Locationid" />

                            <div class="border-2 border-[#B7B7B7] w-full h-[65px] flex items-center justify-center">
                                <input name="DiscountCode" type="text" class="h-full w-full focus:outline-none pr-2 bg-transparent" placeholder="کد تخفیف را وارد کنید">
                            </div>
                            <button class="border-2 border-[#B7B7B7] w-[83px] h-[65px] flex items-center justify-center">
                                اعمال
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>

</div>
