@using Application.Convertors
@model Domain.ViewModels.SiteSide.Order.FinalInvoiceSiteSideDTO

@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>فاکتور نهایی</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/materialdesignicons.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/bootstrap.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/jquery.horizontalmenu.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/jquery-stack-menu.min.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/fancybox.min.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/vendor/nouislider.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/DidiKala/assets/css/main.css">
    <link rel="stylesheet" href="/DidiKala/assets/css/colors/default.css" id="colorswitch">



</head>

<body id="container_content">
    <div class="wrapper shopping-page">
        <!-- Start header-shopping -->
        <header class="header-shopping dt-sl">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center pt-2">
                        <div class="header-shopping-logo dt-sl mt-4">
                            <a href="#">
                                <img src="/favicon.ico" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End header-shopping -->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">

                <div class="row">
                    <div class="cart-page-content col-12 px-0">
                        <div class="checkout-alert dt-sn dt-sn--box mb-4">
                            <div class="circle-box-icon successful">
                                <i class="mdi mdi-check-bold"></i>
                            </div>
                            <div class="checkout-alert-title">
                                <h4>
                                    سفارش <span class="checkout-alert-highlighted checkout-alert-highlighted-success">@Model.Order.OrderId</span>
                                    با موفقیت در سیستم ثبت شد.
                                </h4>
                            </div>
                            <div class="checkout-alert-content">
                                <p class="checkout-alert-content-success">
                                    سفارش بزودی آماده ارسال خواهد شد.
                                </p>
                            </div>
                        </div>
                        <section class="checkout-details dt-sl dt-sn dt-sn--box mt-4 pt-4 pb-3 pr-3 pl-3 mb-5 px-res-1">
                            <div class="checkout-details-title">
                                <h4>
                                    شماره پیگیری سفارش:
                                    <span>
                                        @Model.Order.OrderId
                                    </span>
                                </h4>
                                <div class="row">
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <div class="checkout-details-title">
                                            <p>
                                                سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون
                                                <span class="text-highlight text-highlight-success">درحال آماده سازی</span>
                                                است.
                                                جزئیات این سفارش را می‌توانید درپایین مشاهده کنید.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <p class="btn-primary-cm bg-secondary btn-with-icon d-block text-center pr-0 btn_print">
                                            <i class="mdi mdi-shopping"></i>
                                            PDF دریافت
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 px-res-0">
                                        <div class="checkout-table">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        نام تحویل گیرنده:
                                                        <span>
                                                            @Model.UserInfo.UserName
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        شماره تماس :
                                                        <span>
                                                            @Model.UserInfo.PhoneNumber
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        تعداد مرسوله :
                                                        <span>
                                                            @Model.OrderDetails.Sum(p => p.Count)
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        مبلغ کل:
                                                        <span>
                                                            @Model.Order.Price.Value.ToString("#,000") ریال
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        روش پرداخت:
                                                        <span>
                                                            پرداخت اینترنتی
                                                            <span class="green">
                                                                (موفق)
                                                            </span>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        وضعیت سفارش:
                                                        <span>
                                                            پرداخت شد
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        کدپستی:
                                                        <span>
                                                            @Model.Locations.PostalCode
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        تاریخ ثبت سفارش:
                                                        <span>
                                                            @Model.Order.CreateDate.ToShamsi()
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        استان:
                                                        <span>
                                                            @Model.Locations.StateName
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p>
                                                        شهر:
                                                        <span>
                                                            @Model.Locations.CityName
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <p>
                                                        آدرس :@Model.Locations.LocationAddress
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl px-res-1">
                            <h2>جزئیات سفارش</h2>
                        </div>

                        <section class="checkout-details dt-sl dt-sn dt-sn--box mb-4 pt-2 pb-3 pl-3 pr-3 ">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="checkout-orders-table">
                                            <tbody>
                                                <tr>
                                                    <td class="numrow">
                                                        <p class="text-secondary text-footer">
                                                            کدمحصول
                                                        </p>
                                                    </td>
                                                    <td class="gateway">
                                                        <p class="text-secondary text-footer">
                                                            نام محصول
                                                        </p>
                                                    </td>
                                                    <td class="id">
                                                        <p class="text-secondary text-footer">
                                                            سایز محصول
                                                        </p>
                                                    </td>
                                                    <td class="id">
                                                        <p class="text-secondary text-footer">
                                                            تعداد خریداری شده
                                                        </p>
                                                    </td>
                                                    <td class="date">
                                                        <p class="text-secondary text-footer">
                                                            رنگ محصول
                                                        </p>
                                                    </td>
                                                </tr>
                                                @if (Model.OrderDetails != null && Model.OrderDetails.Any())
                                                {
                                                    foreach (var orderDetail in Model.OrderDetails)
                                                    {
                                                        <tr>
                                                            @{
                                                                string id = $"10{orderDetail.ProductID}";
                                                            }

                                                            <td class="numrow">
                                                                <p class="text-secondary text-footer">
                                                                    @id
                                                                </p>
                                                            </td>
                                                            <td class="gateway">
                                                                <p class="text-secondary text-footer">
                                                                    @orderDetail.Product.ProductTitle
                                                                </p>
                                                            </td>
                                                            <td class="id">
                                                                <p class="text-secondary text-footer">
                                                                    @orderDetail.SizeName
                                                                </p>
                                                            </td>
                                                            <td class="id">
                                                                <p class="text-secondary text-footer">
                                                                    @orderDetail.Count
                                                                </p>
                                                            </td>
                                                            <td class=" date">
                                                                <p class="text-secondary text-footer">
                                                                    @orderDetail.ColorName
                                                                </p>
                                                            </td>
                                                        </tr>

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>

                </div>

            </div>
        </main>
        <!-- Start mini-footer -->
        <footer class="mini-footer dt-sl">
            <div class="container main-container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-left">
                        <i class="mdi mdi-phone-outline"></i>
                        شماره تماس : <a href="#">
                            01133215295
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <i class="mdi mdi-email-outline"></i>
                        آدرس ایمیل : <a href="#">info@arefset.ir</a>
                    </div>
                    <div class="col-12 text-center mt-2">
                        <p class="text-secondary text-footer">
                            ساری، میدان خزر
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <div class="copy-right-mini-footer">
                            Copyright © 2023 ArefSet
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End mini-footer -->
    </div>
    <!-- Core JS Files -->
    <script src="/DidiKala/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/popper.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="/DidiKala/assets/js/vendor/bootstrap-slider.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/owl.carousel2.thumbs.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/jquery.nicescroll.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/nouislider.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/jquery.horizontalmenu.js"></script>
    <script src="/DidiKala/assets/js/vendor/jquery-stack-menu.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/jquery.fancybox.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/countdown.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/wNumb.js"></script>
    <script src="/DidiKala/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="/DidiKala/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <!-- Main JS File -->
    <script src="/DidiKala/assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function ($) {

            console.log("hello");

            $(document).on('click', '.btn_print', function (event) {
                event.preventDefault();

                console.log("hello");

                //credit : https://ekoopmans.github.io/html2pdf.js

                var element = document.getElementById('container_content');

                //easy
                html2pdf().from(element).save();

            });
        });

    </script>
</body>

</html>