@model Domain.Models.Product.Product

@{ ViewData["Title"] = "Delete";
                Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductImageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfferPercent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfferPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInOffer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsInOffer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
