@model Domain.Models.Product.ProductGallery
@using Domain.Models.Product

@{
    ViewData["Title"] = "گالری تصاویر ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">مدیریت گالری تصاویر  محصول  </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">مدیریت تصاویر  محصول  </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    @if (ViewBag.Delete == true)
    {
        <div class="col-md-12">
            <div class="card bg-danger-gradient">
                <div class="card-header">
                    <h3 class="card-title">عملیات با شکست مواجه شده است. </h3>

                    <div class="card-tools">
                        <button type="button" id="DeleteBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    برای این محصول تصویر دوم انتخاب شده است.
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("DeleteBtn").click(); }, delay);
        </script>
    }


    <div class="container-fluid">


        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary ">
                    <div class="card-header">
                        <h3 class="card-title"> ویژگی تصویر جدید  </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Gallery" asp-area="Admin" asp-controller="Products" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(m => m.ProductID)


                        <div class="card-body">

                            <div class="form-group">

                                <div class="card-body row">
                                    <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src="~/Images/Product/image/no-photo.png" alt="upload_img">
                                </div>


                                <label for="exampleInputFile">تصویر  </label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="imgUp" class="custom-file-input" id="imgUp">
                                        <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> عنوان  </label>
                                <input type="text" asp-for="Title" class="form-control" id="exampleInputEmail1" placeholder="عنوان ویژگی را وارد کنید">
                            </div>


                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> آیا به عنوان تصویر دوم نمایش داده شود؟ </label>
                                <select type="text" asp-for="ShowForSecondeMainImage" class="form-control" id="exampleInputEmail1">

                                    <option selected="selected" value="@false"> خیر </option>
                                    <option value="@true"> بله </option>

                                </select>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> تصویر راهنمای سایز </label>
                                <select type="text" asp-for="SizeHelper" class="form-control" id="exampleInputEmail1">

                                    <option selected="selected" value="@false"> خیر </option>
                                    <option value="@true"> بله </option>

                                </select>
                            </div>
                        </div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">ثبت </button>
                            <a asp-action="Index" asp-controller="Products" asp-area="Admin" class="btn btn-primary">بازگشت  </a>

                        </div>
                    </form>
                </div>

            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">اسلایدرها</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">


                                @{
                                    List<ProductGallery> Galleries = ViewBag.Galleries;
                                }
                                @foreach (var item in Galleries)
                                {


                                    <div class="attachment-block clearfix">
                                        <img class="attachment-img" src="/Images/Product/ProducGallery/@item.ImageName" alt="Attachment Image">

                                        @if (item.ShowForSecondeMainImage)
                                        {
                                            <div class="attachment-pushed">

                                                <a href="#" class="btn btn-outline-success mt-2 mr-5">تصویر دوم محصول </a>

                                                <!-- /.attachment-text -->
                                            </div>
                                        }

                                        @if (item.SizeHelper)
                                        {
                                            <div class="attachment-pushed">

                                                <a href="#" class="btn btn-outline-primary mt-2 mr-5">راهنمای سایز </a>

                                                <!-- /.attachment-text -->
                                            </div>
                                        }

                                        <div class="attachment-pushed">

                                            <a href="/Admin/Products/DeleteGallery/@item.ProductGalleryId" class="btn btn-outline-danger mt-2 mr-5">حذف </a>

                                            <!-- /.attachment-text -->
                                        </div>
                                        <!-- /.attachment-pushed -->
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>



        </div>
    </div>




</div>


@section Scripts{
    <script>
        function DeleteFeature(id) {
            if (confirm('آیا از حذف مطمئن هستید ؟')) {
                $.get("/Admin/Products/DeleteFeature/" + id,
                    function () {
                        $("#feature_" + id).hide('slow');
                    });
            }
        }
    </script>


    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgUp").change(function () {
            readURL(this);
        });
    </script>



}


