@model IEnumerable<Domain.Models.Product.Product>
@using Application.Convertors

@{ ViewData["Title"] = "لیست محصولات ";
                Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

@section Styls
    {

    <!-- DataTables -->
    <link rel="stylesheet" href="/Admin_Panel/plugins/datatables/dataTables.bootstrap4.css">

}


<div class="content-wrapper" style="min-height: 805px;">
    @if (ViewBag.Create == true)
    {
<div class="col-md-12">
    <div class="card bg-success-gradient">
        <div class="card-header">
            <h3 class="card-title"> ثبت با موفقیت </h3>

            <div class="card-tools">
                <button type="button" id="CreateBtn" class="btn btn-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            ثبت محصول  جدید   با موفقیت انجام شده است
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
                <script>
                    // Your delay in milliseconds
                    var delay = 5000;
                    setTimeout(function () { document.getElementById("CreateBtn").click(); }, delay);
                </script>}
    @if (ViewBag.Edit == true)
    {
<div class="col-md-12">
    <div class="card bg-primary-gradient">
        <div class="card-header">
            <h3 class="card-title">ویرایش موفقیت آمیز  </h3>

            <div class="card-tools">
                <button type="button" id="EditBtn" class="btn btn-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            ویرایش محصول  با موفقیت ثبت گردید
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
                <script>
                    // Your delay in milliseconds
                    var delay = 5000;
                    setTimeout(function () { document.getElementById("EditBtn").click(); }, delay);
                </script>}
    @if (ViewBag.Delete == true)
    {
<div class="col-md-12">
    <div class="card bg-danger-gradient">
        <div class="card-header">
            <h3 class="card-title">حذف موفق </h3>

            <div class="card-tools">
                <button type="button" id="DeleteBtn" class="btn btn-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            حذف محصول  با موفقیت انجام گردید
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
                <script>
                    // Your delay in milliseconds
                    var delay = 5000;
                    setTimeout(function () { document.getElementById("DeleteBtn").click(); }, delay);
                </script>}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>جداول محصول ها </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">میدیرت محصول ها </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">


                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">لیست محصول ها  جستجوی پیشرفته</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <a href="/Admin/Products/Create"  class="btn btn-block btn-primary btn-sm waves-effect">افزودن محصول جدید   </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-label="تصویر: activate to sort column ascending">تصویر </th>

                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-sort="ascending" aria-label=" عنوان محصول   : activate to sort column descending">
                                                عنوان محصول
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="نویسنده: activate to sort column ascending">نویسنده </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="نویسنده: activate to sort column ascending">قیمت  </th>

                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="تاریخ ایجاد    : activate to sort column ascending"> تاریخ ایجاد  </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label="وضعیت: activate to sort column ascending">وضعیت</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"  aria-label=" activate to sort column ascending"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">
                                                <img src="/Images/Product/thumb/@item.ProductImageName" style="width:200px" class="thumbnail" />
                                            </td>

                                            <td>@item.ProductTitle</td>
                                            <td>

                                                <p>@item.Users.UserName</p>


                                            </td>
                                            <td>

                                                <p>@item.Price.ToString("#,0") تومان </p>


                                            </td>
                                            <td>@item.CreateDate.ToShamsi()</td>
                                            @if (item.IsActive)
                                            {
                                        <td><a href="/Admin/Products/LockProduct?productid=@item.ProductID&&id=1" class="btn btn-success btn-sm" style="color:white;">فعال</a></td>
}
                                            @if (!item.IsActive)
                                            {
                                        <td><a href="/Admin/Products/LockProduct?productid=@item.ProductID&&id=2" class="btn btn-danger btn-sm" style="color:white;">غیر فعال</a></td>
}




                                            <td>
                                                <a class="badge badge-success" asp-action="ProductFeaturs" asp-area="Admin" asp-controller="Products" asp-route-id="@item.ProductID">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                    ویژگی ها
                                                </a>

                                                <a class="badge badge-secondary " asp-action="Gallery" asp-area="Admin" asp-controller="Products" asp-route-id="@item.ProductID">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                    گالری تصاویر
                                                </a>

                                                <a class="badge badge-warning" asp-action="Edit" asp-area="Admin" asp-controller="Products" asp-route-id="@item.ProductID">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                    ویرایش
                                                </a>


                                                <a class="badge badge-primary" href="/Admin/Products/Edit?id=@item.ProductID&&Detail=true">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                    اطلاعات
                                                </a>

                                                <a class="badge badge-danger" href="/Admin/Products/Edit?id=@item.ProductID&&Delete=true">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                    حذف
                                                </a>
                                             
                                            </td>
                                        </tr>}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section> <!-- /.content -->
</div>




@section scripts{
    <!-- ./wrapper -->

    <script src="/Admin_Panel/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Admin_Panel/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- SlimScroll -->
    <!-- FastClick -->
    <script src="/Admin_Panel/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <!-- AdminLTE for demo purposes -->
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
            });
            $('#example2').DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "autoWidth": false
            });
        });
    </script>
}
