@model List<Domain.ViewModels.SiteSide.Home.LastestProducts>
@using Application.Convertors;
@using Application.StaticTools

@if (Model != null && Model.Any())
{
    <section class="mx-auto lg:mt-10 mt-8 px-2 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-[100px]">

        <div class="flex flex-col items-center justify-start mb-5">
            <div class="my-10 lg:mt-32 lg:mb-28 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]" style="
            background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
            background-position: center;
            background-size: cover;">
                <p class="text-[#252525] text-[24px] md:text-[2.5rem] lg:text-[32px] mt-5 text-center" style="font-family: yekanBakhtExtraBold">
                    جدیدترین محصولات
                </p>
                <p class="text-[#7E8285] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[49.6px] text-center" style="font-family: yekanBakhtRegular">
                    Newest Products
                </p>
            </div>

            <div class=" grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4 my-3">

                @foreach (var item in Model)
                {

                    <div class="transition-all duration-300 transform ease-linear transform hover:shadow-lg flex flex-col justify-between items-center shopCardHover">
                        <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg  transition-all duration-300 transform ease-linear">

                            <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="transition-all block w-full h-full overflow-hidden relative">
                                <img class="product-image  w-full object-contain  lg:object-cover " src="@PathTools.ProductPath@item.ProductImageName" title="@item.Title" alt="@item.Title" />
                               @* <img class="product-image  w-full object-contain  lg:object-cover " src="/ArefSet/src/assets/images/landing/20.jpg" alt="" />*@
                                @{
                                    if (!string.IsNullOrEmpty(item.SecondeProductImageName))
                                    {
                                        <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductGalleryPath@item.SecondeProductImageName" title="@item.Title" alt="@item.Title" />
                                    }
                                }
                            </a>

                            <div class="transition-all opacity-0 absolute -bottom-10 left-0 right-0 w-full bg-[#252525] text-center py-1 lg:py-2 text-[#fff] addToCart text-[12px] lg:text-[16px]">

                                <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="focus:outline-none bg-transparent w-full h-full">
                                    نمایش جزئیات
                                </a>
                            </div>
                            <div class="transition-all flex flex-col items-end gap-2 absolute top-4 left-6 lg:top-6 lg:left-8 opacity-0 likeProduct">

                                @if (item.IsInFavorite )
                                {
                                    <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart-fill likeBtn text-red-500" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                        </svg>
                                    </div>
                                }
                                else
                                {
                                    <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.5166 17.3416C10.2333 17.4416 9.76662 17.4416 9.48329 17.3416C7.06663 16.5166 1.66663 13.0749 1.66663 7.24158C1.66663 4.66658 3.74163 2.58325 6.29996 2.58325C7.81662 2.58325 9.15829 3.31659 9.99996 4.44992C10.8416 3.31659 12.1916 2.58325 13.7 2.58325C16.2583 2.58325 18.3333 4.66658 18.3333 7.24158C18.3333 13.0749 12.9333 16.5166 10.5166 17.3416Z" stroke="#7E8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-end">
                            <div class="text-right inline-block lg:w-[283px]">
                                <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px] block h-4">

                                </p>
                                <a style="font-family:yekanBakhtBold" asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="text-[#252525]  text-[12px]  lg:text-[16px] line-clamp-2 shopCardTitle">
                                    @item.Title
                                    
                                </a>
                            </div>
                            <div class="text-left">
                                <p class="line-through text-[#B7B7B7] font-light text-[10px] lg:text-[14px] inline-block h-4">
                                    @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                </p>
                                <p class="text-[#D92626] font-bold text-[15px] lg:text-[17px]">
                                    @item.Price.ToString("#,000") ریال
                                </p>
                            </div>
                        </div>
                    </div>
  
                }

            </div>
        </div>


    </section>

}

