@model List<Domain.ViewModels.SiteSide.Home.LastestProducts>
@using Application.Convertors;
@using Application.StaticTools

@if (Model != null && Model.Any())
{
    <section class="mx-auto lg:mt-10 mt-8 px-2 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-[100px]">

        <div class="flex flex-col items-center justify-start mb-5">
            <div class="my-10 lg:mt-32 lg:mb-28 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]" style="
            background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
            background-position: center;
            background-size: cover;">
                <p class="text-[#252525] text-[24px] md:text-[2.5rem] lg:text-[32px] mt-5 text-center" style="font-family: yekanBakhtExtraBold">
                    جدیدترین محصولات
                </p>
                <p class="text-[#7E8285] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[49.6px] text-center" style="font-family: yekanBakhtRegular">
                    Newest Products
                </p>
            </div>

            <div class=" grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4 my-3">

                @foreach (var item in Model)
                {

                    <div class="transition-all duration-300 transform ease-linear transform hover:shadow-lg flex flex-col justify-between items-center shopCardHover">
                        <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg  transition-all duration-300 transform ease-linear">

                            <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="transition-all block w-full h-full overflow-hidden relative">
                                <img class="product-image  w-full h-full object-cover absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductPathThumb@item.ProductImageName" title="@item.Title" alt="@item.Title" />
                                <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="/ArefSet/src/assets/images/landing/Rectangle 5.png" title="@item.Title" alt="@item.Title" />
                            </a>

                        </div>
                        <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-end">
                            <div class="text-right inline-block lg:w-[283px]">
                                <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                </p>
                                <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="font-bold text-[12px] lg:text-[18px] shopCardTitle">
                                    @item.Title
                                </a>
                            </div>
                            <div class="text-left">
                                <p class="line-through text-[#B7B7B7] font-light text-[10px] lg:text-[14px] inline-block h-4">
                                    @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                </p>
                                <p class="text-[#D92626] font-bold text-[15px] lg:text-[17px]">
                                    @item.Price.ToString("#,000") ریال
                                </p>
                            </div>
                        </div>
                    </div>
                    @*<div class="transition-all transform hover:shadow-lg flex flex-col justify-start items-center shopCardHover">
                        <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg">

                          
                            <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="transition-all block w-full h-full overflow-hidden relative">
                                <img class="product-image  w-full h-full object-cover absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductPathThumb@item.ProductImageName" title="@item.Title" alt="@item.Title" />
                                <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="/ArefSet/src/assets/images/landing/Rectangle 5.png" title="@item.Title" alt="@item.Title" />
                            </a>
                        </div>
                        <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-center">
                            <div class="text-right">
                                <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                </p>
                                <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="font-bold text-[14px] lg:text-[20px]">
                                    @item.Title
                                </a>
                            </div>
                            <div class="text-left">
                                <p class="line-through  inline-block h-4 text-[#B7B7B7] font-light text-[11px] lg:text-[14px]">
                                    @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                </p>
                                <p class="text-[#D92626] font-bold text-[16px] lg:text-[20px]">
                                    @item.Price.ToString("#,000") ریال
                                </p>
                            </div>
                        </div>
                    </div>*@
                }

            </div>
        </div>


    </section>

}

