@model List<Domain.Models.Order.Orders>
@using Application.Convertors
@using Application.StaticTools;

@{
    ViewData["Title"] = "پیگیری سفارش ";
}
@section Scripts
    {
    <script>
        function openTabOrder(evt, formName) {
            var i, tabOrder, tabOrderLinks;
            tabOrder = document.getElementsByClassName("tabOrder");
            for (i = 0; i < tabOrder.length; i++) {
                tabOrder[i].style.display = "none";
            }
            tabOrderLinks = document.getElementsByClassName("tabOrderLinks");
            for (i = 0; i < tabOrderLinks.length; i++) {
                tabOrderLinks[i].className = tabOrderLinks[i].className.replace(
                    " activeOrderItem",
                    ""
                );
            }
            document.getElementById(formName).style.display = "block";
            evt.currentTarget.className += " activeOrderItem";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOrderOpen").click();

    </script>
    }

<main class="mx-auto mt-7 " style="margin-bottom: 100px;">
    <section class="mx-auto max-w-full grid grid-cols-1 lg:max-w-[86.5em] relative lg:flex lg:items-start gap-5">

        <!-- Side Bar -->
        @await Component.InvokeAsync("UserPanelSideBarViewComponents")

        <!-- ---------------------- main content ----------------------------------------- -->
        <div class="w-full lg:flex min-h-[765px] ">
            <!-- ----- Orders ----- -->
            <section id="Orders" class="tabcontent w-full flex flex-col items-center justify-start">

                <div class="border-2 border-[#252525] w-full h-[179px]  p-5 flex flex-col items-start justify-center gap-5">
                    <div class="">
                        <p class="text-[14px]" style="font-family: yekanBakhtExtraBold">
                            سفارش های من
                        </p>
                        <p class="text-[12px] text-[#828282]">My orders</p>
                    </div>

                    <div class="h-[26.41px] lg:h-[61px] w-full flex justify-between items-center">
                        <div onclick="openTabOrder(event, 'reorder')"
                             id="defaultOrderOpen"
                             class="hover:cursor-pointer opacity-50 tabOrderLinks h-full flex items-center justify-center gap-2 lg:gap-3">
                            <div class="redUnderLine w-[21.75px] lg:w-[42px]">
                                <svg class="w-full" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.9999 25.6667H23.8332C25.8499 25.6667 27.4999 24.0167 27.4999 22.0001V3.66675H10.9999C8.24988 3.66675 5.84823 5.18839 4.60156 7.42506" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.66602 31.1667C3.66602 34.2101 6.12268 36.6667 9.16602 36.6667H10.9993C10.9993 34.6501 12.6493 33.0001 14.666 33.0001C16.6827 33.0001 18.3327 34.6501 18.3327 36.6667H25.666C25.666 34.6501 27.316 33.0001 29.3327 33.0001C31.3493 33.0001 32.9993 34.6501 32.9993 36.6667H34.8327C37.876 36.6667 40.3327 34.2101 40.3327 31.1667V25.6667H34.8327C33.8243 25.6667 32.9993 24.8417 32.9993 23.8334V18.3334C32.9993 17.3251 33.8243 16.5001 34.8327 16.5001H37.1976L34.0627 11.0184C33.4027 9.88177 32.1927 9.16675 30.8727 9.16675H27.4993V22.0001C27.4993 24.0167 25.8493 25.6667 23.8327 25.6667H21.9993" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M14.6667 40.3333C16.6917 40.3333 18.3333 38.6917 18.3333 36.6667C18.3333 34.6416 16.6917 33 14.6667 33C12.6416 33 11 34.6416 11 36.6667C11 38.6917 12.6416 40.3333 14.6667 40.3333Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M29.3327 40.3333C31.3577 40.3333 32.9993 38.6917 32.9993 36.6667C32.9993 34.6416 31.3577 33 29.3327 33C27.3076 33 25.666 34.6416 25.666 36.6667C25.666 38.6917 27.3076 40.3333 29.3327 40.3333Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M40.3333 22V25.6667H34.8333C33.825 25.6667 33 24.8417 33 23.8333V18.3333C33 17.325 33.825 16.5 34.8333 16.5H37.1983L40.3333 22Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.66602 14.6667H14.666" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.66602 20.1667H10.9993" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.66602 25.6667H7.33268" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>
                                <p class="text-[8px] lg:text-[16px] text-[#252525] leading-[24.8px]"
                                   style="font-family: yekanBakhtRegular">
                                    ۲۰ سفارش
                                </p>
                                <p class="text-[8px] lg:text-[14px] text-[#252525]"
                                   style="font-family: yekanBakhtBold">
                                    جاری
                                </p>
                            </div>
                        </div>

                        <div onclick="openTabOrder(event, 'delivered')"
                             class="hover:cursor-pointer opacity-50 tabOrderLinks h-full flex items-center justify-start gap-2 lg:gap-3">
                            <div class="w-[21.75px] lg:w-[42px] redUnderLine">

                                <svg class="w-full opacity-70" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M42.1668 32.835C42.2035 34.21 41.8368 35.5117 41.1768 36.63C40.8101 37.29 40.3152 37.895 39.7652 38.39C38.5002 39.5634 36.8318 40.2784 34.9801 40.3334C32.3035 40.3884 29.9385 39.0134 28.6368 36.9051C27.9401 35.8234 27.5185 34.5217 27.5002 33.1467C27.4452 30.8367 28.4718 28.7467 30.1218 27.3717C31.3685 26.345 32.9452 25.7034 34.6685 25.6667C38.7202 25.575 42.0752 28.7833 42.1668 32.835Z" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M31.9727 33.055L33.8243 34.8149L37.656 31.1116" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M5.81055 13.6401L21.9989 23.0084L38.0772 13.6951" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21.998 39.6183V22.99" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M39.6175 16.8118V27.1885C39.6175 27.2801 39.6175 27.3534 39.5992 27.4451C38.3158 26.3267 36.6658 25.6668 34.8325 25.6668C33.1092 25.6668 31.5142 26.2718 30.2492 27.2801C28.5625 28.6185 27.4992 30.6901 27.4992 33.0001C27.4992 34.3751 27.8841 35.6768 28.5625 36.7768C28.7275 37.0701 28.9292 37.3451 29.1492 37.6018L25.7942 39.4535C23.7042 40.6268 20.2942 40.6268 18.2042 39.4535L8.41416 34.0268C6.19583 32.7984 4.38086 29.7185 4.38086 27.1885V16.8118C4.38086 14.2818 6.19583 11.2018 8.41416 9.97345L18.2042 4.54675C20.2942 3.37341 23.7042 3.37341 25.7942 4.54675L35.5842 9.97345C37.8025 11.2018 39.6175 14.2818 39.6175 16.8118Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>
                                <p class="text-[8px] lg:text-[16px] text-[#252525] leading-[24.8px]"
                                   style="font-family: yekanBakhtRegular">
                                    ۲۰ سفارش
                                </p>
                                <p class="text-[8px] lg:text-[14px] text-[#252525]"
                                   style="font-family: yekanBakhtBold">
                                    تحویل شده
                                </p>
                            </div>
                        </div>

                        <div onclick="openTabOrder(event, 'canceled')"
                             class="hover:cursor-pointer opacity-50 tabOrderLinks h-full flex items-center justify-start gap-2 lg:gap-3">
                            <div class="w-[21.75px] lg:w-[42px] redUnderLine">
                                <svg class="w-full opacity-70" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.81055 13.6401L21.9989 23.0084L38.0772 13.6951" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21.998 39.6183V22.99" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M39.6175 16.8118V27.1885C39.6175 27.2801 39.6175 27.3534 39.5992 27.4451C38.3158 26.3267 36.6658 25.6668 34.8325 25.6668C33.1092 25.6668 31.5142 26.2718 30.2492 27.2801C28.5625 28.6185 27.4992 30.6901 27.4992 33.0001C27.4992 34.3751 27.8841 35.6768 28.5625 36.7768C28.7275 37.0701 28.9292 37.3451 29.1492 37.6018L25.7942 39.4535C23.7042 40.6268 20.2942 40.6268 18.2042 39.4535L8.41416 34.0268C6.19583 32.7984 4.38086 29.7185 4.38086 27.1885V16.8118C4.38086 14.2818 6.19583 11.2018 8.41416 9.97345L18.2042 4.54675C20.2942 3.37341 23.7042 3.37341 25.7942 4.54675L35.5842 9.97345C37.8025 11.2018 39.6175 14.2818 39.6175 16.8118Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M42.1667 33.0001C42.1667 34.3751 41.7817 35.6767 41.1034 36.7767C40.7184 37.4367 40.2233 38.0234 39.655 38.5001C38.3717 39.6551 36.685 40.3334 34.8333 40.3334C32.1567 40.3334 29.8283 38.9034 28.5633 36.7767C27.885 35.6767 27.5 34.3751 27.5 33.0001C27.5 30.6901 28.5633 28.6184 30.25 27.2801C31.515 26.2718 33.11 25.6667 34.8333 25.6667C38.885 25.6667 42.1667 28.9484 42.1667 33.0001Z" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M36.7949 34.9066L32.9082 31.0383" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M36.7578 31.0933L32.8711 34.9616" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>
                                <p class="text-[8px] lg:text-[16px] text-[#252525] leading-[24.8px]"
                                   style="font-family: yekanBakhtRegular">
                                    ۲۰ سفارش
                                </p>
                                <p class="text-[8px] lg:text-[14px] text-[#252525]"
                                   style="font-family: yekanBakhtBold">
                                    لغو شده
                                </p>
                            </div>
                        </div>

                        <div onclick="openTabOrder(event, 'reasowned')" 4
                             class="hover:cursor-pointer opacity-50 tabOrderLinks h-full flex items-center justify-center gap-2 lg:gap-3">
                            <div class="w-[21.75px] lg:w-[42px] redUnderLine">
                                <svg class="w-full opacity-70" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M40.3333 27.5C40.3333 34.595 34.595 40.3333 27.5 40.3333L29.425 37.125" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.66602 16.5001C3.66602 9.40508 9.40435 3.66675 16.4993 3.66675L14.5743 6.87508" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M25.1172 8.15845L32.4138 12.3751L39.6372 8.1768" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M32.4141 19.8367V12.3567" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M30.6896 4.05175L26.2896 6.49C25.2996 7.04 24.4746 8.43332 24.4746 9.56999V14.2267C24.4746 15.3634 25.2813 16.7567 26.2896 17.3067L30.6896 19.7451C31.6246 20.2767 33.1646 20.2767 34.1179 19.7451L38.5179 17.3067C39.5079 16.7567 40.3329 15.3634 40.3329 14.2267V9.56999C40.3329 8.43332 39.5263 7.04 38.5179 6.49L34.1179 4.05175C33.1829 3.53841 31.6429 3.53841 30.6896 4.05175Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M4.30859 28.325L11.5869 32.5416L18.8286 28.3433" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11.5879 40.0032V32.5232" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9.88101 24.2183L5.48103 26.6565C4.49103 27.2065 3.66602 28.5998 3.66602 29.7365V34.3932C3.66602 35.5299 4.47269 36.9232 5.48103 37.4732L9.88101 39.9116C10.816 40.4432 12.356 40.4432 13.3093 39.9116L17.7094 37.4732C18.6994 36.9232 19.5243 35.5299 19.5243 34.3932V29.7365C19.5243 28.5998 18.7177 27.2065 17.7094 26.6565L13.3093 24.2183C12.356 23.7049 10.816 23.7049 9.88101 24.2183Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>
                                <p class="text-[8px] lg:text-[16px] text-[#252525] leading-[24.8px]"
                                   style="font-family: yekanBakhtRegular">
                                    ۲۰ سفارش
                                </p>
                                <p class="text-[8px] lg:text-[14px] text-[#252525]"
                                   style="font-family: yekanBakhtBold">
                                    مرجوع شده
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="reorder"
                     class="tabOrder border-l-2 border-r-2 border-b-2 border-[#252525] w-full min-h-[600px] p-5 flex flex-col items-start justify-center gap-5 ">

                    @*<div class="w-full border-2 border-[#B7B7B7] mb-3">
                    <div class="w-full p-5 pb-4 flex items-center justify-between">
                    <div class="flex items-center justify-start gap-2">
                    <img class="w-[24px] h-[24px]"
                    src="/ArefSet/src/assets/images/landing/address.png"
                    alt="" />
                    <p class="text-[#252525] text-[14px] leading-[19px]"
                    style="font-family: yekanBakhtSemiBold">
                    جاری
                    </p>
                    </div>
                    <img class="hidden lg:inline-block"
                    src="/ArefSet/src/assets/images/landing/arrow-left.png"
                    alt="" />
                    </div>

                    <div class="w-full px-5 flex items-center justify-start">
                    <p class="text-[9px] lg:text-[12px] text-[#7E8285]">
                    ۴ خرداد ۱۴۰۲
                    </p>
                    <img src="/ArefSet/src/assets/images/landing/Ellipse 506.png"
                    class="w-[4px] h-[4px] mx-4 lg:mx-5"
                    alt="" />
                    <p class="text-[9px] lg:text-[12px] text-[#7E8285]">
                    کد سفارش <strong class="text-[#252525]">۳۳۳۹۸۱۸۱۰</strong>
                    </p>
                    <img src="/ArefSet/src/assets/images/landing/Ellipse 506.png"
                    class="w-[4px] h-[4px] mx-4 lg:mx-5"
                    alt="" />
                    <p class="text-[9px] lg:text-[12px] text-[#7E8285]">
                    مبلغ <strong class="text-[#252525]">۲۲۳,۱۲۱,۰۰۰</strong>
                    </p>
                    </div>

                    <div class="w-full p-5 pb-1 lg:pb-4 flex items-center justify-start gap-3 lg:gap-5">
                    <img src="/ArefSet/src/assets/images/landing/men.png"
                    class="w-[24px] h-[24px] lg:w-[47px] lg:h-[47px]"
                    alt="" />
                    <div class="w-[1px] h-[14.61px] lg:w-[1px] lg:h-[29px] bg-[#252525]"></div>
                    <img src="/ArefSet/src/assets/images/landing/men.png"
                    class="w-[24px] h-[24px] lg:w-[47px] lg:h-[47px]"
                    alt="" />
                    <div class="w-[1px] h-[14.61px] lg:w-[1px] lg:h-[29px] bg-[#252525]"></div>
                    <img src="/ArefSet/src/assets/images/landing/men.png"
                    class="w-[24px] h-[24px] lg:w-[47px] lg:h-[47px]"
                    alt="" />
                    <div class="w-[1px] h-[14.61px] lg:w-[1px] lg:h-[29px] bg-[#252525]"></div>
                    <img src="/ArefSet/src/assets/images/landing/men.png"
                    class="w-[24px] h-[24px] lg:w-[47px] lg:h-[47px]"
                    alt="" />
                    </div>
                    <div class="w-full px-5 pb-5 pt-1 lg:p-5 flex justify-end items-center">
                    <a href="./factorPage.html"
                    class="lg:bg-[#252525] lg:text-[#fff] lg:flex lg:items-center lg:justify-center gap-2 lg:py-3 lg:px-6 text-[13px]">
                    <span class="hidden lg:inline-block">
                    مشاهده و دانلود فاکتور
                    </span>

                    <img src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="" />
                    </a>
                    </div>
                    </div>*@

                    @if (Model != null && Model.Any())
                    {
                        foreach (var order in Model.Where(p => p.IsFinally))

                        {
                            <div class="w-full border-2 border-[#B7B7B7] mb-5">

                                <div class="w-full p-2 lg:p-5 pb-4 flex items-center justify-between">
                                    <div class="flex items-center justify-start gap-2">
                                        <img class="w-[24px] h-[24px]"
                                             src="/ArefSet/src/assets/images/landing/address.png"
                                             alt="" />
                                        <p class="text-[#252525] text-[14px] leading-[19px]"
                                           style="font-family: yekanBakhtSemiBold">
                                            جاری
                                        </p>
                                    </div>
                                  
                                    <div class="flex items-center gap-2">
                                        <span class="text-[12px] lg:text-[14px]">

                                            <a href="/User/Order/OrderDetails?id=@order.OrderId">
                                                مشاهده فاکتور
                                            </a>

                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                                        </svg>
                                    </div>
                                </div>

                                <div class="w-full px-5 flex items-center  mb-5 justify-start">
                                    <p class="text-[10px] lg:text-[12px] text-[#7E8285]">
                                        @order.CreateDate.ToShamsi()
                                    </p>
                                    <img src="/ArefSet/src/assets/images/landing/Ellipse 506.png"
                                         class="w-[4px] h-[4px] mx-3 lg:mx-5"
                                         alt="" />
                                    <p class="text-[10px] lg:text-[12px] text-[#7E8285]">
                                        کد سفارش <strong class="text-[#252525] px-1">@order.OrderId</strong>
                                    </p>
                                    <img src="/ArefSet/src/assets/images/landing/Ellipse 506.png"
                                         class="w-[4px] h-[4px] mx-3 lg:mx-5"
                                         alt="" />
                                    <p class="text-[10px] lg:text-[12px] text-[#7E8285]">
                                        مبلغ <strong class="text-[#252525]  px-1">   @((order.Price.HasValue) ? order.Price.Value.ToString("#,000") + "ریال" : "نهایی نشده") </strong>
                                    </p>
                                </div>

                                <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-5 lg:gap-10 md:gap-6 p-2 lg:p-5 ">

                                    <div class="flex items-end justify-start gap-2">
                                        <div style="width:91px;height:91px;" class="w-[91px] h-[91px] border">
                                            @foreach (var orderDetails in order.OrderDetails)
                                            {
                                                <img class="w-full h-full object-cover" src="@PathTools.ProductPathThumb@orderDetails.Product.ProductImageName" />
                                            }
                                        </div>

                                        <div style="height:91px;" class=" flex items-end justify-between w-full h-[91px] ">

                                            <div class="h-full flex flex-col items-start justify-between">
                                                <p class="text-[#252525] text-[14px] md:text-[16px] lg:text-[16px] leading-[24.8px]" style="overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-family: yekanBakhtBold">
                                                    تیشرت مردانه طرح GTAV رنگ مشکی
                                                </p>
                                                <div class="flex items-center justify-start ">
                                                    <img class="w-[14px] ml-2" src="/ArefSet/src/assets/images/landing/star@2x.png" alt="star">
                                                    <strong class="text-[12px]"> ۴/۶ </strong>
                                                </div>
                                                <div class="flex gap-1 items-center">

                                                    <p class="text-[#7E8285] text-[15px] md:text-[17px] lg:text-[17px] leading-[26.35px] " style="font-family: yekanBakhtBold">
                                                        25000000
                                                    </p>
                                                    <small class="text-[#7E8285]"> ریال </small>

                                                </div>
                                            </div>

                                            <div class="">
                                                <a href="#">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>

                                    </div>



                                    @*<div class="flex items-end justify-start gap-2 ">
                                        <div style="width:91px;height:91px;" class="w-[91px] h-[91px] border">
                                            @foreach (var orderDetails in order.OrderDetails)
                                            {
                                                <img class="w-full h-full object-cover" src="@PathTools.ProductPathThumb@orderDetails.Product.ProductImageName" />
                                            }
                                        </div>

                                        <div style="height:91px;" class=" flex items-end justify-between w-full h-[91px] ">

                                            <div class="h-full flex flex-col items-start justify-between">
                                                <p class="text-[#252525] text-[14px] md:text-[16px] lg:text-[16px] leading-[24.8px]" style="overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-family: yekanBakhtBold">
                                                    تیشرت مردانه طرح GTAV رنگ مشکی

                                                </p>
                                                <div class="flex items-center justify-start ">
                                                    <img class="w-[14px] ml-2" src="/ArefSet/src/assets/images/landing/star@2x.png" alt="star">
                                                    <strong class="text-[12px]"> ۴/۶ </strong>
                                                </div>
                                                <div class="flex gap-1 items-center">

                                                    <p class="text-[#7E8285] text-[15px] md:text-[17px] lg:text-[17px] leading-[26.35px] " style="font-family: yekanBakhtBold">
                                                        25000000
                                                    </p>
                                                    <small class="text-[#7E8285]"> ریال </small>

                                                </div>
                                            </div>

                                            <div class="">
                                                <a href="/User/Order/OrderDetails?id=@order.OrderId">

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>

                                    </div>*@


                                </div>

                                @* <div class="w-full p-5 pb-4 flex items-center justify-start">

                        @foreach (var orderDetails in order.OrderDetails)
                        {
                        <img src="@PathTools.ProductPathThumb@orderDetails.Product.ProductImageName" class="w-[47px] h-[47px] ml-5" alt="">
                        }

                        </div>*@
                                @*<div class="w-full p-5 flex justify-start items-center lg:flex lg:justify-end lg:items-center">
                        <a href="/User/Order/OrderDetails?id=@order.OrderId" class="bg-[#252525] text-[#fff] hidden lg:flex lg:items-center lg:justify-center gap-2 py-3 px-6 text-[13px]">
                        مشاهده فاکتور
                        <img src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="">
                        </a>
                        </div>*@
                            </div>
                        }
                    }


                </div>

                <div id="delivered"
                     class="tabOrder border-l-2 border-r-2 border-b-2 border-[#252525] w-full min-h-[600px] p-5 flex flex-col items-start justify-center gap-5">
                    
                </div>

                <div id="canceled"
                     class="tabOrder border-l-2 border-r-2 border-b-2 border-[#252525] w-full min-h-[600px] p-5 flex flex-col items-start justify-center gap-5">
                    
                    <!-- if empty -->
                    <div class="w-full text-center flex flex-col justify-center items-center">
                        <div class="w-[224px]">
                            <img src="/ArefSet/src/assets/images/landing/order-empty 1.png"
                                 alt="" />
                        </div>
                        <p class="text-[#252525] text-[16px] leading-[24.8px]"
                           style="font-family: yekanBakhtBold">
                            هنوز هیچ سفارشی ندادید
                        </p>
                        <p class="text-[#252525] text-[12px] leading-[18.6px]">
                            همین الان میتوانید اولین سفارش خود را ثبت کنید
                        </p>
                    </div>
                </div>

                <div id="reasowned"
                     class="tabOrder border-l-2 border-r-2 border-b-2 border-[#252525] w-full min-h-[600px] p-5 flex flex-col items-start justify-center gap-5">
                    
                    <!-- if empty -->
                    <div class="w-full text-center flex flex-col justify-center items-center">
                        <div class="w-[224px]">
                            <img src="/ArefSet/src/assets/images/landing/order-empty 1.png"
                                 alt="" />
                        </div>
                        <p class="text-[#252525] text-[16px] leading-[24.8px]"
                           style="font-family: yekanBakhtBold">
                            هنوز هیچ سفارشی ندادید
                        </p>
                        <p class="text-[#252525] text-[12px] leading-[18.6px]">
                            همین الان میتوانید اولین سفارش خود را ثبت کنید
                        </p>
                    </div>
                </div>
            </section>
        </div>
        @*<div class="w-full lg:flex min-h-[765px]">


        <section id="Orders" class="tabcontent w-full flex flex-col items-center justify-start">

        <div class="border-2 border-[#252525] w-full h-[179px]  p-5 flex flex-col items-start justify-center gap-5">
        <div class="">
        <p class="text-[14px]" style="font-family: yekanBakhtExtraBold">
        سفارش های من
        </p>
        <p class="text-[12px] text-[#828282]">My orders</p>
        </div>

        <div class="h-[26.41px] lg:h-[61px] w-full flex justify-between items-center">
        <div class="h-full flex items-center justify-center gap-2 lg:gap-3">
        <div class="w-[21.75px] lg:w-[42px] relative after:content-[''] after:absolute after:right-0 after:-bottom-3 after:w-[53px] after:h-[2px] after:bg-[#D92626]">

        <svg class="w-full" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.9999 25.6667H23.8332C25.8499 25.6667 27.4999 24.0167 27.4999 22.0001V3.66675H10.9999C8.24988 3.66675 5.84823 5.18839 4.60156 7.42506" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66602 31.1667C3.66602 34.2101 6.12268 36.6667 9.16602 36.6667H10.9993C10.9993 34.6501 12.6493 33.0001 14.666 33.0001C16.6827 33.0001 18.3327 34.6501 18.3327 36.6667H25.666C25.666 34.6501 27.316 33.0001 29.3327 33.0001C31.3493 33.0001 32.9993 34.6501 32.9993 36.6667H34.8327C37.876 36.6667 40.3327 34.2101 40.3327 31.1667V25.6667H34.8327C33.8243 25.6667 32.9993 24.8417 32.9993 23.8334V18.3334C32.9993 17.3251 33.8243 16.5001 34.8327 16.5001H37.1976L34.0627 11.0184C33.4027 9.88177 32.1927 9.16675 30.8727 9.16675H27.4993V22.0001C27.4993 24.0167 25.8493 25.6667 23.8327 25.6667H21.9993" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M14.6667 40.3333C16.6917 40.3333 18.3333 38.6917 18.3333 36.6667C18.3333 34.6416 16.6917 33 14.6667 33C12.6416 33 11 34.6416 11 36.6667C11 38.6917 12.6416 40.3333 14.6667 40.3333Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M29.3327 40.3333C31.3577 40.3333 32.9993 38.6917 32.9993 36.6667C32.9993 34.6416 31.3577 33 29.3327 33C27.3076 33 25.666 34.6416 25.666 36.6667C25.666 38.6917 27.3076 40.3333 29.3327 40.3333Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M40.3333 22V25.6667H34.8333C33.825 25.6667 33 24.8417 33 23.8333V18.3333C33 17.325 33.825 16.5 34.8333 16.5H37.1983L40.3333 22Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66602 14.6667H14.666" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66602 20.1667H10.9993" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66602 25.6667H7.33268" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        </div>
        <div>

        <p class="text-[8px] lg:text-[14px] text-[#252525]" style="font-family: yekanBakhtBold">
        جاری
        </p>
        </div>
        </div>

        <div class="h-full flex items-center justify-start gap-2 lg:gap-3">
        <div class="w-[21.75px] lg:w-[42px]">

        <svg class="w-full opacity-70" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M42.1668 32.835C42.2035 34.21 41.8368 35.5117 41.1768 36.63C40.8101 37.29 40.3152 37.895 39.7652 38.39C38.5002 39.5634 36.8318 40.2784 34.9801 40.3334C32.3035 40.3884 29.9385 39.0134 28.6368 36.9051C27.9401 35.8234 27.5185 34.5217 27.5002 33.1467C27.4452 30.8367 28.4718 28.7467 30.1218 27.3717C31.3685 26.345 32.9452 25.7034 34.6685 25.6667C38.7202 25.575 42.0752 28.7833 42.1668 32.835Z" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M31.9727 33.055L33.8243 34.8149L37.656 31.1116" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M5.81055 13.6401L21.9989 23.0084L38.0772 13.6951" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M21.998 39.6183V22.99" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M39.6175 16.8118V27.1885C39.6175 27.2801 39.6175 27.3534 39.5992 27.4451C38.3158 26.3267 36.6658 25.6668 34.8325 25.6668C33.1092 25.6668 31.5142 26.2718 30.2492 27.2801C28.5625 28.6185 27.4992 30.6901 27.4992 33.0001C27.4992 34.3751 27.8841 35.6768 28.5625 36.7768C28.7275 37.0701 28.9292 37.3451 29.1492 37.6018L25.7942 39.4535C23.7042 40.6268 20.2942 40.6268 18.2042 39.4535L8.41416 34.0268C6.19583 32.7984 4.38086 29.7185 4.38086 27.1885V16.8118C4.38086 14.2818 6.19583 11.2018 8.41416 9.97345L18.2042 4.54675C20.2942 3.37341 23.7042 3.37341 25.7942 4.54675L35.5842 9.97345C37.8025 11.2018 39.6175 14.2818 39.6175 16.8118Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        </div>
        <div>

        <p class="text-[8px] lg:text-[14px] text-[#252525]" style="font-family: yekanBakhtBold">
        تحویل شده
        </p>
        </div>
        </div>

        <div class="h-full flex items-center justify-start gap-2 lg:gap-3">
        <div class="w-[21.75px] lg:w-[42px]">

        <svg class="w-full opacity-70" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.81055 13.6401L21.9989 23.0084L38.0772 13.6951" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M21.998 39.6183V22.99" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M39.6175 16.8118V27.1885C39.6175 27.2801 39.6175 27.3534 39.5992 27.4451C38.3158 26.3267 36.6658 25.6668 34.8325 25.6668C33.1092 25.6668 31.5142 26.2718 30.2492 27.2801C28.5625 28.6185 27.4992 30.6901 27.4992 33.0001C27.4992 34.3751 27.8841 35.6768 28.5625 36.7768C28.7275 37.0701 28.9292 37.3451 29.1492 37.6018L25.7942 39.4535C23.7042 40.6268 20.2942 40.6268 18.2042 39.4535L8.41416 34.0268C6.19583 32.7984 4.38086 29.7185 4.38086 27.1885V16.8118C4.38086 14.2818 6.19583 11.2018 8.41416 9.97345L18.2042 4.54675C20.2942 3.37341 23.7042 3.37341 25.7942 4.54675L35.5842 9.97345C37.8025 11.2018 39.6175 14.2818 39.6175 16.8118Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M42.1667 33.0001C42.1667 34.3751 41.7817 35.6767 41.1034 36.7767C40.7184 37.4367 40.2233 38.0234 39.655 38.5001C38.3717 39.6551 36.685 40.3334 34.8333 40.3334C32.1567 40.3334 29.8283 38.9034 28.5633 36.7767C27.885 35.6767 27.5 34.3751 27.5 33.0001C27.5 30.6901 28.5633 28.6184 30.25 27.2801C31.515 26.2718 33.11 25.6667 34.8333 25.6667C38.885 25.6667 42.1667 28.9484 42.1667 33.0001Z" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M36.7949 34.9066L32.9082 31.0383" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M36.7578 31.0933L32.8711 34.9616" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        </div>
        <div>

        <p class="text-[8px] lg:text-[14px] text-[#252525]" style="font-family: yekanBakhtBold">
        لغو شده
        </p>
        </div>
        </div>

        <div class="h-full flex items-center justify-center gap-2 lg:gap-3">
        <div class="w-[21.75px] lg:w-[42px]">

        <svg class="w-full opacity-70" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40.3333 27.5C40.3333 34.595 34.595 40.3333 27.5 40.3333L29.425 37.125" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66602 16.5001C3.66602 9.40508 9.40435 3.66675 16.4993 3.66675L14.5743 6.87508" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M25.1172 8.15845L32.4138 12.3751L39.6372 8.1768" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M32.4141 19.8367V12.3567" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M30.6896 4.05175L26.2896 6.49C25.2996 7.04 24.4746 8.43332 24.4746 9.56999V14.2267C24.4746 15.3634 25.2813 16.7567 26.2896 17.3067L30.6896 19.7451C31.6246 20.2767 33.1646 20.2767 34.1179 19.7451L38.5179 17.3067C39.5079 16.7567 40.3329 15.3634 40.3329 14.2267V9.56999C40.3329 8.43332 39.5263 7.04 38.5179 6.49L34.1179 4.05175C33.1829 3.53841 31.6429 3.53841 30.6896 4.05175Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M4.30859 28.325L11.5869 32.5416L18.8286 28.3433" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M11.5879 40.0032V32.5232" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M9.88101 24.2183L5.48103 26.6565C4.49103 27.2065 3.66602 28.5998 3.66602 29.7365V34.3932C3.66602 35.5299 4.47269 36.9232 5.48103 37.4732L9.88101 39.9116C10.816 40.4432 12.356 40.4432 13.3093 39.9116L17.7094 37.4732C18.6994 36.9232 19.5243 35.5299 19.5243 34.3932V29.7365C19.5243 28.5998 18.7177 27.2065 17.7094 26.6565L13.3093 24.2183C12.356 23.7049 10.816 23.7049 9.88101 24.2183Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        </div>
        <div>

        <p class="text-[8px] lg:text-[14px] text-[#252525]" style="font-family: yekanBakhtBold">
        مرجوع شده
        </p>
        </div>
        </div>
        </div>
        </div>


        @if (Model != null && Model.Any())
        {
        foreach (var order in Model.Where(p => p.IsFinally))
        {

        <div class="border-l-2 border-r-2 border-b-2 border-[#252525] w-full p-5 flex flex-col items-start justify-center gap-5">
        <div class="w-full border-2 border-[#B7B7B7]">
        <div class="w-full p-5 pb-4 flex items-center justify-between">
        <div class="flex items-center justify-start gap-2">
        <img class="w-[24px] h-[24px]" src="/ArefSet/src//assets/images/landing/box-tick.png" alt="">
        <p class="text-[#252525] text-[14px] leading-[19px]" style="font-family: yekanBakhtSemiBold">
        تاریخ درخواست :   @order.CreateDate.ToShamsi()
        </p>
        </div>
        </div>

        <div class="w-full px-5 flex items-center justify-start">
        <p class="text-[12px] text-[#7E8285]">
        کد سفارش <strong class="text-[#252525]">@order.OrderId</strong>
        </p>
        <img src="/ArefSet/src/assets/images/landing/Ellipse 506.png" class="w-[4px] h-[4px] mx-5" alt="">
        <p class="text-[12px] text-[#7E8285]">
        مبلغ <strong class="text-[#252525]">
        @((order.Price.HasValue) ? order.Price.Value.ToString("#,000") + "ریال" : "نهایی نشده")
        </strong>
        </p>
        </div>

        <div class="w-full p-5 pb-4 flex items-center justify-start">

        @foreach (var orderDetails in order.OrderDetails)
        {
        <img src="@PathTools.ProductPathThumb@orderDetails.Product.ProductImageName" class="w-[47px] h-[47px] ml-5" alt="">
        }

        </div>
        <div class="w-full p-5 flex justify-start items-center lg:flex lg:justify-end lg:items-center">
        <a href="/User/Order/OrderDetails?id=@order.OrderId" class="bg-[#252525] text-[#fff] hidden lg:flex lg:items-center lg:justify-center gap-2 py-3 px-6 text-[13px]">
        مشاهده فاکتور
        <img src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="">
        </a>
        </div>
        </div>
        </div>

        }
        }

        </section>
        </div>*@


    </section>
</main>











