@model Domain.ViewModels.SiteSide.Product.ProductDetailSiteSideViewModel
@using Application.StaticTools

@{
    ViewData["Title"] = Model.ProductTitle;
}


@section Styles
    {
    <link rel="stylesheet" href="/ArefSet/src/assets/styles/productSinglePage.css" />
}

@section Scripts
    {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function Success() {
            $("#comment_Comment").val("");
        }

        $(function () {
            $("#listComment").load("/Products/ShowComment/" + @Model.ProdcutId);
        });

        function pageComment(pageid) {
            $("#listComment").load("/Products/ShowComment/" + @Model.ProdcutId+"?pageId=" + pageid);
        }
    </script>

    <script src="./JS/cdn.jsdelivr.net_npm_swiper@9.4.1_swiper-bundle.min.js"></script>
    <script>
        //-------------------------------------------counter
        let btnAddCounter = document.querySelector("#addCount");
        let btnRemoveCounter = document.querySelector("#removeCount");
        let counter = 1;
        document.querySelector("#result").innerHTML = counter;
        btnAddCounter.addEventListener("click", function () {
            counter++;
            document.querySelector("#result").innerHTML = counter;
        });
        btnRemoveCounter.addEventListener("click", function () {
            counter--;
            document.querySelector("#result").innerHTML = counter;
        });

        // -------------------------------------------------
        const imgContElm = document.querySelector(".img-container");
        const imgElm = document.querySelector(".img-container img");
        const listProductElm = document.querySelector(".list-product");

        // precentage of the zoom
        const ZOOM = 300;

        //Event Mouse Enter
        imgContElm.addEventListener("mouseenter", function () {
            imgElm.style.width = ZOOM + "%";
        });

        //Event Mouse Leave
        imgContElm.addEventListener("mouseleave", function () {
            imgElm.style.width = "100%";
            imgElm.style.top = "0";
            imgElm.style.left = "0";
        });

        //Event Mouse Move:
        imgContElm.addEventListener("mousemove", function (mouseEvent) {
            let obj = imgContElm;
            let obj_left = 0;
            let obj_top = 0;
            let xpos;
            let ypos;

            while (obj.offsetParent) {
                obj_left += obj.offsetLeft;
                obj_top += obj.offsetTop;
                obj = obj.offsetParent;
            }
            if (mouseEvent) {
                xpos = mouseEvent.pageX;
                ypos = mouseEvent.pageY;
            } else {
                xpos = window.event.x + document.body.scrollLeft - 2;
                ypos = window.event.y + document.body.scrollTop - 2;
            }
            xpos -= obj_left;
            ypos -= obj_top;

            const imgWidth = imgElm.clientWidth;
            const imgHeight = imgElm.clientHeight;

            imgElm.style.top =
                -(((imgHeight - this.clientHeight) * ypos) / this.clientHeight) +
                "px";
            imgElm.style.left =
                -(((imgWidth - this.clientWidth) * xpos) / this.clientWidth) + "px";
        });

        // change the current image
        Array.from(listProductElm.children).forEach((productElm, i, list) => {
            productElm.addEventListener("click", function () {
                const newSrc = productElm.querySelector("img").src;
                imgElm.src = newSrc;

                list.forEach((prod) => prod.classList.remove("active"));
                productElm.classList.add("active");
            });
        });

        //

        function changeHeight() {
            imgContElm.style.height = imgContElm.clientWidth + "px";
        }
        changeHeight();

        // function changeWidth() {
        //   imgContElm.style.width=imgContElm.clientHeight+'px'
        // }
        // changeWidth()

        window.addEventListener("resize", changeHeight);
    </script>
}


<main class="mx-auto">

    <section class="mx-auto lg:mt-5 mt-5 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-[#A8A8A8] hover:text-[#252525] dark:text-gray-400 dark:hover:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        خانه
                    </a>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="mr-1 text-sm font-medium text-text-[#252525] md:mr-2 dark:text-gray-400">@Model.ProductTitle</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>

    <section class="mx-auto gap-4 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] flex flex-wrap">
        <div class="">

            @if (!string.IsNullOrEmpty(Model.ProductImageName))
            {
                <div class="lg:w-[522px] h-[522px] relative overflow-hidden img-container" style="height: 522px;">
                    <img class="w-full block cursor-zoom-in absolute transition-all" src="@PathTools.ProductPath@Model.ProductImageName" alt="" style="width: 100%; top: 0px; left: 0px;">
                </div>
            }

            <ul class="list-product flex justify-between h-[72.95] lg:w-[522px] lg:h-auto mt-2 gap-2">

                @if (!string.IsNullOrEmpty(Model.ProductImageName))
                {
                    <li class="w-[22%] cursor-pointer overflow-hidden transition-all active">
                        <img class="w-full" src="@PathTools.ProductPath@Model.ProductImageName" alt="">
                    </li>
                }

                @if (Model.ProductGallery != null && Model.ProductGallery.Any())
                {
                    foreach (var gallery in Model.ProductGallery)
                    {
                        <li class="w-[22%] cursor-pointer overflow-hidden transition-all active">
                            <img class="w-full" src="@PathTools.ProductGalleryPath@gallery.ImageName" alt="">
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="w-full lg:w-[60%]  flex flex-col items-start justify-between mt-2 lg:mt-0">
            <div class="w-full flex flex-col justify-start text-right items-start lg:flex lg:flex-row lg:justify-between lg:items-center gap-2">
                <div class="flex items-center justify-center gap-2">

                    <p class="text-[12px] lg:text-[14px] text-[#252525] mr-2">
                        <strong> دسته بندی :</strong>
                        @if (Model.ProductCategoryLinkable != null && Model.ProductCategoryLinkable.Any())
                        {
                            foreach (var category in Model.ProductCategoryLinkable)
                            {
                            <p>
                                    @category.CategoryTitle /
                            </p>
                            }
                        }

                    </p>
                </div>
                <div class="flex items-center justify-center gap-3 mt-2 lg:mt-0 ">
                    <p class="text-[12px] lg:text-[14px] text-[#252525]" style="font-family: yekanBakhtRegular">
                        <strong>اشتراک گذاری:</strong>
                    </p>
                    <div class="w-[132px] h-[23.55px]">
                        <img class="w-full" src="/ArefSet/src/assets/images/landing/social.png" alt="">
                    </div>
                </div>
            </div>

            <div class="my-5">
                <p class="text-[#252525] text-[24px]" style="font-family: yekanBakhtSemiBold">
                    @Model.ProductTitle
                </p>
            </div>

            <p class="text-[#7E8285] font-normal text-[14px] leading-7" style="font-family: yekanBakhtSemiBold">
                @Model.ShortDescription
            </p>

            <div class="inline-block my-5">
                <p class="text-[#7E8285] text-[16px]">
                    
                        <strong class="text-[#D92626] text-[24px]" style="font-family: yekanBakhtBold">
                            @Model.Price.ToString("#,000")
                        </strong>

                    ریال
                </p>

                @if (Model.OldPrice.HasValue)
                {
                    <p class="line-through text-[#7E8285] text-[16px]">
                        @Model.OldPrice.Value.ToString("#,000") ریال
                    </p>
                }

            </div>

            <div>
                <p class="text-[#252525] text-[16px]" style="font-family: yekanBakhtSemiBold">
                    رنگ موجود:
                </p>

                <div class="flex justify-center items-center gap-5 mt-3">

                    @if (Model.ProductColors != null && Model.ProductColors.Any())
                    {
                        foreach (var color in Model.ProductColors)
                        {

                            <div class="color flex items-center">
                                <input type="radio" name="colorId" value="@color.Id" id="rad1" checked="" class="hidden">
                                <div class="content w-[24px] h-[24px] lg:w-[32px] lg:h-[32px] bg-white border-2"></div>
                                <label for="rad1" class="mr-1 text-[#7E8285] text-[14px]">@color.ColorTitle</label>
                            </div>

                        }
                    }

                </div>
            </div>

            <div class="my-5">
                <p class="text-[#252525] text-[16px]" style="font-family: yekanBakhtSemiBold">
                    سایز موجود:
                </p>

                <div class="flex justify-start flex-wrap items-center gap-5 mt-3">
                    <div class="size flex items-center">
                        <input type="radio" name="r" id="size1" checked="" class="hidden">
                        <label for="size1" class="inline-block h-[31px] px-10 border-2 mr-1 text-[#7E8285] text-[12px] lg:text-[14px]">sm</label>
                        <!-- <div class="content w-[24px] h-[24px] lg:w-[32px] lg:h-[32px]  bg-white border-2"></div> -->
                    </div>

                    <div class="size flex items-center">
                        <input type="radio" name="r" id="size2" class="hidden">
                        <label for="size2" class="inline-block h-[31px] px-10 border-2 mr-1 text-[#7E8285] text-[12px] lg:text-[14px]">me</label>
                        <!-- <div class="content w-[24px] h-[24px] lg:w-[32px] lg:h-[32px] bg-black border-2"></div> -->
                    </div>

                    <div class="size flex items-center">
                        <input type="radio" name="r" id="size3" class="hidden">
                        <label for="size3" class="inline-block h-[31px] px-10 border-2 mr-1 text-[#7E8285] text-[12px] lg:text-[14px]">la</label>
                        <!-- <div class="content w-[24px] h-[24px] lg:w-[32px] lg:h-[32px] bg-[#BFBFBF] border-2"></div> -->
                    </div>

                    <div class="size flex items-center">
                        <input type="radio" name="r" id="size4" class="hidden">
                        <label for="size4" class="inline-block h-[31px] px-10 border-2 mr-1 text-[#7E8285] text-[12px] lg:text-[14px]">xl</label>
                        <!-- <div class="content w-[24px] h-[24px] lg:w-[32px] lg:h-[32px] bg-[#2274AE] border-2"></div> -->
                    </div>

                    <div class="size flex items-center">
                        <input type="radio" name="r" id="size5" class="hidden">
                        <label for="size5" class="inline-block h-[31px] px-10 border-2 mr-1 text-[#7E8285] text-[12px] lg:text-[14px]">xxl</label>
                        <!-- <div class="content w-[24px] h-[24px] lg:w-[32px] lg:h-[32px] bg-[#E87C2E] border-2"></div> -->
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <p class="text-[#252525] text-[16px]" style="font-family: yekanBakhtSemiBold">
                    تعداد :
                </p>
                <div class="border-2 w-[147px] h-[46px] mt-2 text-[20px] flex items-center justify-around gap-2">
                    <button id="addCount">+</button>
                    <p id="result">1</p>
                    <button id="removeCount">-</button>
                </div>
            </div>

            <div class="flex justify-start flex-wrap items-center mt-3">
                <button class="text-[16px] text-white bg-[#D92626] w-[224px] h-[45px] lg:flex lg:items-center lg:justify-center gap-1 hidden">
                    <img src="/ArefSet/src/assets/images/landing/Group 44847.png" alt="">
                    افزودن به سبد خرید
                </button>
                <p class="flex items-center justify-center gap-1 text-[16px] text-[#7E8285] border-l-[1px] lg:px-8 px-11 pr-0 border-[#7E8285]">
                    <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/heartt.png" alt="">
                    افزودن به علاقه مندی
                </p>
                <p class="flex items-center justify-center gap-1 text-[16px] text-[#7E8285] lg:px-8 px-11 pl-0">
                    <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/book.png" alt="">
                    راهنمای اندازه
                </p>
            </div>
        </div>
    </section>

    <section class="mx-auto lg:mt-20 mt-8 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <div class="tabset singlePageTab max-w-[99%] lg:max-w-[86.5em] mx-auto">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="singlePagetab1" aria-controls="describtion" checked="">
            <label for="singlePagetab1" class="text-[16px] lg:text-[24px] !pb-3  gap-1">
                <img class="inline-block" src="/ArefSet/src/assets/images/landing/brush.png" alt="">
                توضیحات
            </label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="singlePagetab2" aria-controls="details">
            <label for="singlePagetab2" class="text-[16px] lg:text-[24px] !pb-3  gap-1">
                <img class="inline-block" src="/ArefSet/src/assets/images/landing/message-text.png" alt="">
                مشخصات
            </label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="singlePagetab3" aria-controls="idea">
            <label for="singlePagetab3" class="text-[16px] md:text-[18px] lg:text-[24px] !pb-3  gap-1 " style="font-family: yekanBakhtRegular">
                <img class="inline-block" src="/ArefSet/src/assets/images/landing/messages-2.png" alt="">
                نظرات (۳)
            </label>


            <div class="tab-panels">
                <section id="describtion" class="tab-panel border-2 text-right  !p-4 !px-6">
                    <p class="text-[16px] lg:text-[22px] my-2">
                        <strong class="" style="font-family: yekanBakhtBlack">معرفی</strong> محصول 3
                    </p>
                    <p class="text-[14px] lg:text-[16px] text-[#494949] leading-[26px] lg:leading-[36px] break-all">
                        @Html.Raw(Model.LongDescription)
                    </p>
                    <!-- <div class=" shadow-lg w-[414px] h-[480px] col-span-1 md:col-span-1 lg:col-span-1"></div> -->
                </section>

                <section id="details" class="tab-panel border-2 text-right  !p-4 !px-6">
                    <p class="text-[16px] lg:text-[22px] my-2">
                        <strong class="" style="font-family: yekanBakhtBlack">معرفی</strong> محصول 2
                    </p>
                    <p class="text-[14px] lg:text-[16px] text-[#494949] leading-[26px] lg:leading-[36px] break-all">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>

                    <!-- <div class=" shadow-lg w-[414px] h-[480px] col-span-1 md:col-span-1 lg:col-span-1"></div> -->
                </section>

                <section id="idea" class="tab-panel border-2 text-right  !p-4 !px-6">
                    <p class="text-[16px] lg:text-[22px] my-2">
                        <strong class="" style="font-family: yekanBakhtBlack">معرفی</strong> محصول 1
                    </p>
                    <p class="text-[14px] lg:text-[16px] text-[#494949] leading-[26px] lg:leading-[36px] break-all">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>

                    <!-- <div class=" shadow-lg w-[414px] h-[480px] col-span-1 md:col-span-1 lg:col-span-1"></div> -->
                </section>


            </div>
        </div>
    </section>

    <section class="mx-auto lg:mt-10 mt-8 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">

        <div class="flex flex-col items-center justify-start mb-5">
            <div class="mt-32 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat
          before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626]
          after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]" style="
            background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
            background-position: center;
            background-size: cover;
          ">
                <p class="text-[#252525] sm:text-[24px] md:text-[2.5rem] lg:text-[32px] mt-5 text-center" style="font-family: yekanBakhtExtraBold">
                    محصولاتی که شاید بپسندید
                </p>
                <p class="text-[#7E8285] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[49.6px] text-center" style="font-family: yekanBakhtRegular">
                    Products you might like
                </p>
            </div>

            <div class=" grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 my-3">

                <div class="transition-all transform hover:shadow-lg flex flex-col justify-start items-center">
                    <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Rectangle 5(1).png" alt="">
                        <div class="transition-all opacity-0 absolute -bottom-10 left-0 right-0 w-full bg-[#252525] text-center py-1 lg:py-2 text-[#fff] addToCart text-[12px] lg:text-[16px]">
                            <button class="focus:outline-none bg-transparent w-full h-full">
                                افزودن به سبد خرید
                            </button>
                        </div>

                        <div class="transition-all flex flex-col items-end gap-2 absolute top-4 left-6 lg:top-6 lg:left-8 opacity-0 likeProduct">
                            <div class="transition-all overflow-hidden w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center hover:justify-around bg-[#252525] text-center text-[#fff] addToFavorite">
                                <span class="hidden opacity-0 text-xs whitespace-nowrap translate-x-4">
                                    افزودن به لیست علاقه مندی
                                </span>
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>

                            <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>

                            <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-center">
                        <div class="text-right">
                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                دسته بندی : کفش
                            </p>
                            <p class="font-bold text-[14px] lg:text-[16px]">
                                لباس ورزشی مردانه
                            </p>
                        </div>
                        <div class="text-left">
                            <p class="line-through text-[#B7B7B7] font-light text-[11px] lg:text-[14px]">
                                ۹۹۹٫۰۰۰ تومان
                            </p>
                            <p class="text-[#D92626] font-bold text-[16px] lg:text-[20px]">
                                ۷۹۹٫۰۰۰
                            </p>
                        </div>
                    </div>
                </div>

                <div class="transition-all transform hover:shadow-lg flex flex-col justify-start items-center">
                    <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Rectangle 5(1).png" alt="">
                        <div class="transition-all opacity-0 absolute -bottom-10 left-0 right-0 w-full bg-[#252525] text-center py-1 lg:py-2 text-[#fff] addToCart text-[12px] lg:text-[16px]">
                            <button class="focus:outline-none bg-transparent w-full h-full">
                                افزودن به سبد خرید
                            </button>
                        </div>

                        <div class="transition-all flex flex-col items-end gap-2 absolute top-4 left-6 lg:top-6 lg:left-8 opacity-0 likeProduct">
                            <div class="transition-all overflow-hidden w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center hover:justify-around bg-[#252525] text-center text-[#fff] addToFavorite">
                                <span class="hidden opacity-0 text-xs whitespace-nowrap translate-x-4">
                                    افزودن به لیست علاقه مندی
                                </span>
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>

                            <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>

                            <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-center">
                        <div class="text-right">
                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                دسته بندی : کفش
                            </p>
                            <p class="font-bold text-[14px] lg:text-[16px]">
                                لباس ورزشی مردانه
                            </p>
                        </div>
                        <div class="text-left">
                            <p class="line-through text-[#B7B7B7] font-light text-[11px] lg:text-[14px]">
                                ۹۹۹٫۰۰۰ تومان
                            </p>
                            <p class="text-[#D92626] font-bold text-[16px] lg:text-[20px]">
                                ۷۹۹٫۰۰۰
                            </p>
                        </div>
                    </div>
                </div>

                <div class="transition-all transform hover:shadow-lg flex flex-col justify-start items-center">
                    <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Rectangle 5(1).png" alt="">
                        <div class="transition-all opacity-0 absolute -bottom-10 left-0 right-0 w-full bg-[#252525] text-center py-1 lg:py-2 text-[#fff] addToCart text-[12px] lg:text-[16px]">
                            <button class="focus:outline-none bg-transparent w-full h-full">
                                افزودن به سبد خرید
                            </button>
                        </div>

                        <div class="transition-all flex flex-col items-end gap-2 absolute top-4 left-6 lg:top-6 lg:left-8 opacity-0 likeProduct">
                            <div class="transition-all overflow-hidden w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center hover:justify-around bg-[#252525] text-center text-[#fff] addToFavorite">
                                <span class="hidden opacity-0 text-xs whitespace-nowrap translate-x-4">
                                    افزودن به لیست علاقه مندی
                                </span>
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>

                            <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>

                            <div class="transition-all w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] flex items-center justify-center bg-[#252525] text-center text-[#fff]">
                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-center">
                        <div class="text-right">
                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                دسته بندی : کفش
                            </p>
                            <p class="font-bold text-[14px] lg:text-[16px]">
                                لباس ورزشی مردانه
                            </p>
                        </div>
                        <div class="text-left">
                            <p class="line-through text-[#B7B7B7] font-light text-[11px] lg:text-[14px]">
                                ۹۹۹٫۰۰۰ تومان
                            </p>
                            <p class="text-[#D92626] font-bold text-[16px] lg:text-[20px]">
                                ۷۹۹٫۰۰۰
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>

</main>






































<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> @Model.ProductTitle </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="/">فروشگاه کالا </a></li>
                                <li class="breadcrumb-item"><a href="/Products">فروشگاه </a></li>
                                <li class="breadcrumb-item active" aria-current="page"> محصول </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="tns-outer" id="tns1-ow">
                    <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">2</span>  of 5</div><div id="tns1-mw" class="tns-ovh">
                        <div class="tns-inner" id="tns1-iw">
                            <div class="tiny-single-item  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-20%, 0px, 0px);">
                                <div class="tiny-slide tns-item tns-slide-active" id="tns1-item1"><img src="/Images/Product/image/@Model.ProductImageName" class="img-fluid rounded" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-7 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-md-4">
                    <h4 class="title">@Model.ProductTitle</h4>
                    @if (Model.IsInOffer == true)
                    {
                        <h5 class="text-muted">
                            <del style=" color:red;">
                                @Model.OldPrice.Value.ToString("#,0") تومان
                            </del>
                        </h5>

                    }
                    <h5 class="text-muted">@Model.Price.ToString("#,0") تومان  </h5>


                    <h5 class="mt-4 py-2">بررسی:</h5>
                    <p class="text-muted">
                        @Model.ShortDescription
                    </p>

                    <div class="row mt-4 pt-2">


                        <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                            <div class="d-flex shop-list align-items-center">
                                <h6 class="mb-0">موجودی در انبار : </h6>
                                <div class="qty-icons ms-3">
                                    <dive min="0" name="quantity" value="0" type="number" class="btn btn-icon btn-soft-primary qty-btn quantity">@Model.ProductCount
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <form asp-action="AddToShopCart" asp-controller="Order" asp-area="" method="post" enctype="multipart/form-data">

                        <input type="hidden" value="@Model.ProdcutId" name="id">

                        @if (Model.ProductColors != null && Model.ProductColors.Any())
                        {
                            <div class="row mt-4 pt-2">
                                <div class="col-lg-12 col-12 mt-4 mt-lg-0">
                                    <div class="d-flex shop-list align-items-center">
                                        <h6 class="mb-0">انتخاب رنگ :  </h6>

                                        <select name="selectColor" id="cars">

                                            @foreach (var color in Model.ProductColors)
                                            {
                                                <option value="@color.Id">@color.ColorTitle</option>
                                            }

                                        </select>

                                    </div>
                                </div>
                            </div>

                            <!--end col-->
                        }

                        @if (Model.ProductsSizes != null && Model.ProductsSizes.Any())
                        {
                            <div class="row mt-4 pt-2">
                                <div class="col-lg-12 col-12 mt-4 mt-lg-0">
                                    <div class="d-flex shop-list align-items-center">
                                        <h6 class="mb-0">انتخاب سایز :  </h6>

                                        <select name="selectSize" id="cars">

                                            @foreach (var size in Model.ProductsSizes)
                                            {
                                                <option value="@size.Id">@size.SizeTitle</option>
                                            }

                                        </select>

                                    </div>
                                </div>
                            </div>

                            <!--end col-->
                        }

                        <!--end row-->

                        <div class="mt-4 pt-2">
                            <button type="submit" class="btn btn-soft-primary ms-2">افزودن به سبد</button>
                        </div>

                    </form>

                </div>


                @if (User.Identity.IsAuthenticated)
                {
                    @if (ViewBag.IsFavoriteProduct == true)
                    {
                        <div class="mt-4 pt-2">
                            <a asp-action="AddOrRemoveProductToTheFavorite" asp-area="" asp-controller="Products" asp-route-productId="@Model.ProdcutId" class="btn btn-soft-primary ms-2">حذف از علاقه مندی</a>
                        </div>
                    }
                    else
                    {
                        <div class="mt-4 pt-2">
                            <a asp-action="AddOrRemoveProductToTheFavorite" asp-area="" asp-controller="Products" asp-route-productId="@Model.ProdcutId" class="btn btn-soft-primary ms-2">افزودن به علاقه مندی</a>
                        </div>
                    }
                }
                else
                {
                    <div class="mt-4 pt-2">
                        <a asp-action="AddOrRemoveProductToTheFavorite" asp-area="" asp-controller="Products" asp-route-productId="@Model.ProdcutId" class="btn btn-soft-primary ms-2">افزودن به علاقه مندی</a>
                    </div>
                }

            </div>
        </div><!--end col-->
    </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills shadow flex-column flex-sm-row d-md-inline-flex mb-0 p-1 bg-white rounded position-relative overflow-hidden" id="pills-tab" role="tablist">
                    <li class="nav-item m-1">
                        <a class="nav-link py-2 px-5 active rounded" id="description-data" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="false">
                            <div class="text-center">
                                <h6 class="mb-0">اطلاعات تکمیلی</h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->

                    <li class="nav-item m-1">
                        <a class="nav-link py-2 px-5 rounded" id="additional-info" data-bs-toggle="pill" href="#additional" role="tab" aria-controls="additional" aria-selected="false">
                            <div class="text-center">
                                <h6 class="mb-0"> ویژگی ها </h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->

                    <li class="nav-item m-1">
                        <a class="nav-link py-2 px-5 rounded" id="review-comments" data-bs-toggle="pill" href="#review" role="tab" aria-controls="review" aria-selected="false">
                            <div class="text-center">
                                <h6 class="mb-0">نظرات </h6>
                            </div>
                        </a><!--end nav link-->
                    </li><!--end nav item-->
                </ul>

                <div class="tab-content mt-5" id="pills-tabContent">
                    <div class="card border-0 tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-data">
                        <p class="text-muted mb-0">
                            @Html.Raw(Model.LongDescription)
                        </p>
                    </div>

                    <div class="card border-0 tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-info">
                        <table class="table">
                            <tbody>
                                @foreach (var item in Model.ProductFeatures)
                                {
                                    <tr>
                                        <td>@item.FeatureTitle </td>
                                        <td class="text-muted">@item.FeatureValue</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="card border-0 tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-comments">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="media-list list-unstyled mb-0" id="listComment">
                                </ul>
                            </div><!--end col-->
                            @if (User.Identity.IsAuthenticated)

                            {
                                <div class="col-lg-6 mt-4 mt-lg-0 pt-2 pt-lg-0" id="commentProduct">

                                    <form class="ms-lg-4" asp-action="CreateCommente" asp-controller="Products"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          data-ajax-mode="replace"
                                          data-ajax-update="#listComment"
                                          data-ajax-success="Success"
                                          id="contactForm" method="POST">

                                        <input type="hidden" name="comment.ProductID" value="@Model.ProdcutId" />

                                        <div class="row">
                                            <div class="col-12">
                                                <h5>اضافه کردن نظر:</h5>
                                            </div>
                                            <div class="col-md-12 mt-3">
                                                <div class="mb-3">
                                                    <label class="form-label">نظر شما:</label>
                                                    <div class="form-icon position-relative">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle fea icon-sm icons"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                                        <textarea id="Comment" placeholder="کامنت شما" rows="5" name="comment.CommentBody" class="form-control ps-5" required=""></textarea>
                                                    </div>
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label class="form-label">نام  <span class="text-danger">*</span></label>
                                                    <div class="form-icon position-relative">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user fea icon-sm icons"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                        <div id="name" readonly type="text" placeholder="نام" class="form-control ps-5" required="">@User.Identity.Name </div>

                                                    </div>
                                                </div>
                                            </div><!--end col-->



                                            <div class="col-md-12">
                                                <div class="send d-grid">
                                                    <button type="submit" class="btn btn-primary">ارسال </button>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form>

                                </div>

                                <!--end col-->
                            }
                            @if (!User.Identity.IsAuthenticated)
                            {

                                <div class="alert alert-danger">
                                    جهت درج نظر باید وارد سایت شوید
                                </div>

                            }
                        </div><!--end row-->
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
    <section class="section mt-0 pt-0">
        <div class="container mt-100 mt-60">
            <div class="row">
                <div class="col-12">
                    <h5 class="mb-0">محصولات اخیر</h5>
                </div><!--end col-->
                @await Component.InvokeAsync("Lastest4ProductsLargSizeComponent")

            </div><!--end row-->
        </div><!--end container-->
    </section>
</section>


