@model Domain.ViewModels.SiteSide.Product.ProductDetailSiteSideViewModel
@using Application.Convertors;
@using Application.StaticTools

@{
    ViewData["Title"] = Model.ProductTitle;
}


@section Styles
    {
    <link rel="stylesheet" href="/ArefSet/src/assets/styles/productSinglePage.css" />
}

@section Scripts
    {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function Success() {
            $("#comment_Comment").val("");
        }

        $(function () {
            $("#listComment").load("/Products/ShowComment/" + @Model.ProdcutId);
        });

        function pageComment(pageid) {
            $("#listComment").load("/Products/ShowComment/" + @Model.ProdcutId+"?pageId=" + pageid);
        }
    </script>

    <script src="./JS/cdn.jsdelivr.net_npm_swiper@9.4.1_swiper-bundle.min.js"></script>
    <script>
        //-------------------------------------------counter
        let btnAddCounter = document.querySelector("#addCount");
        let btnRemoveCounter = document.querySelector("#removeCount");
        let counter = 1;

        document.querySelector("#result").innerHTML = counter;
        document.getElementById("resultHidden").value = counter;

        btnAddCounter.addEventListener("click", function () {
            counter++;
            document.querySelector("#result").innerHTML = counter;
            document.getElementById("resultHidden").value = counter;
        });
        btnRemoveCounter.addEventListener("click", function () {
            if (counter === 1) {
                document.querySelector("#result").innerHTML = 1;
                document.getElementById("resultHidden").value = 1;
            } else {
                counter--;
                document.querySelector("#result").innerHTML = counter;
                document.getElementById("resultHidden").value = counter;
            }
        });

        // -------------------------------------------------
        const imgContElm = document.querySelector(".img-container");
        const imgElm = document.querySelector(".img-container img");
        const listProductElm = document.querySelector(".list-product");

        // precentage of the zoom
        const ZOOM = 100;

        //Event Mouse Enter
        imgContElm.addEventListener("mouseenter", function () {
            imgElm.style.width = ZOOM + "%";
        });

        //Event Mouse Leave
        imgContElm.addEventListener("mouseleave", function () {
            imgElm.style.width = "100%";
            imgElm.style.top = "0";
            imgElm.style.left = "0";
        });

        //Event Mouse Move:
        imgContElm.addEventListener("mousemove", function (mouseEvent) {
            let obj = imgContElm;
            let obj_left = 0;
            let obj_top = 0;
            let xpos;
            let ypos;

            while (obj.offsetParent) {
                obj_left += obj.offsetLeft;
                obj_top += obj.offsetTop;
                obj = obj.offsetParent;
            }
            if (mouseEvent) {
                xpos = mouseEvent.pageX;
                ypos = mouseEvent.pageY;
            } else {
                xpos = window.event.x + document.body.scrollLeft - 2;
                ypos = window.event.y + document.body.scrollTop - 2;
            }
            xpos -= obj_left;
            ypos -= obj_top;

            const imgWidth = imgElm.clientWidth;
            const imgHeight = imgElm.clientHeight;

            imgElm.style.top =
                -(((imgHeight - this.clientHeight) * ypos) / this.clientHeight) +
                "px";
            imgElm.style.left =
                -(((imgWidth - this.clientWidth) * xpos) / this.clientWidth) + "px";
        });

        // change the current image
        Array.from(listProductElm.children).forEach((productElm, i, list) => {
            productElm.addEventListener("click", function () {
                const newSrc = productElm.querySelector("img").src;
                imgElm.src = newSrc;

                list.forEach((prod) => prod.classList.remove("active"));
                productElm.classList.add("active");
            });
        });

        

        function changeHeight() {
            imgContElm.style.height = imgContElm.clientWidth + "px";
        }
        changeHeight();

         function changeWidth() {
           imgContElm.style.width=imgContElm.clientHeight+'px'
         }
         changeWidth()

        window.addEventListener("resize", changeHeight);
    </script>

    <script>

        function ChangeColor(e) {
            document.getElementById("selectColor").value = e;
        }

        function ReplyComment(e) {
            $("#ParentId").val(e), $("html, body").animate({ scrollTop: $("#commentArticle").offset().top }, 2e3), $("#TextArea").focus();
        }

    </script>

}


<main class="mx-auto">

    <section class="mx-auto lg:mt-5 mt-5 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-[12px] lg:text-sm font-medium text-[#A8A8A8] hover:text-[#252525] dark:text-gray-400 dark:hover:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        خانه
                    </a>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="mr-1 text-[12px] lg:text-sm font-medium text-[#252525] md:mr-2 dark:text-gray-400">@Model.ProductTitle</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>

    <section class="mx-auto gap-4 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] flex flex-wrap">
        <div class="">

            @if (!string.IsNullOrEmpty(Model.ProductImageName))
            {
                <div class="lg:w-[522px] h-[522px] relative overflow-hidden img-container" style="height: 522px;">
                    <img class="w-full block cursor-zoom-in absolute transition-all" src="@PathTools.ProductPath@Model.ProductImageName" alt="" style="width: 100%; top: 0px; left: 0px;">
                </div>
            }

            <ul class="list-product flex justify-between h-[72.95] lg:w-[522px] lg:h-auto mt-2 gap-2">

                @if (!string.IsNullOrEmpty(Model.ProductImageName))
                {
                    <li class="w-[22%] cursor-pointer overflow-hidden transition-all active">
                        <img class="w-full" src="@PathTools.ProductPath@Model.ProductImageName" alt="">
                    </li>
                }

                @if (Model.ProductGallery != null && Model.ProductGallery.Any())
                {
                    foreach (var gallery in Model.ProductGallery)
                    {
                        <li class="w-[22%] cursor-pointer overflow-hidden transition-all active">
                            <img class="w-full" src="@PathTools.ProductGalleryPath@gallery.ImageName" alt="">
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="w-full lg:w-[60%]  flex flex-col items-start justify-between mt-2 lg:mt-0">
            <div class="w-full flex flex-col justify-start text-right items-start lg:flex lg:flex-row lg:justify-between lg:items-center gap-2">
                <div class="flex items-center justify-center gap-2">

                    <p class="text-[12px] lg:text-[14px] text-[#252525] ">
                        <strong> دسته بندی :</strong>
                        @if (Model.ProductCategoryLinkable != null && Model.ProductCategoryLinkable.Any())
                        {
                            int i = 1;
                            foreach (var category in Model.ProductCategoryLinkable)
                            {
                            <p>
                                <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@category.CategoryId">

                                        @category.CategoryTitle

                                        @if (Model.ProductCategoryLinkable.Count() > i)
                                        {
                                            i = i + 1;

                                        <p>/</p>

                                        }

                                </a>
                            </p>
                            }
                        }

                    </p>
                </div>
                <div class="flex items-center justify-center gap-3 mt-2 lg:mt-0">
                    <p class="text-[12px] lg:text-[14px] text-[#252525]"
                       style="font-family: yekanBakhtRegular">
                        <strong>اشتراک گذاری:</strong>
                    </p>
                    <div class="">
                        <ul class="flex items-center justify-center gap-2">
                            <li>
                                <a class="w-6 inline-block" href="#">
                                  @*  <img src="/ArefSet/src/assets/images/landing/icons8-twitter-32.png"
                                         alt="" />*@
                                    <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21 2.20129C20.4215 3.0645 19.6933 3.8173 18.8498 4.42416C18.8581 4.59111 18.8623 4.77669 18.8623 4.98092C18.8553 7.38773 18.146 9.74016 16.8214 11.7497C16.1382 12.797 15.3084 13.741 14.3573 14.5527C13.3386 15.4042 12.1739 16.0641 10.9199 16.5001C9.53893 16.9915 8.0826 17.2373 6.61687 17.2263C4.27547 17.2397 1.98146 16.5668 0.0183716 15.2906C0.359255 15.3293 0.702015 15.3491 1.04508 15.3499C2.98624 15.3684 4.87445 14.7172 6.39149 13.506C5.48711 13.4981 4.60975 13.1967 3.89149 12.647C3.17271 12.1153 2.64087 11.3696 2.37229 10.5168C3.01698 10.643 3.682 10.6198 4.31637 10.4492C3.34346 10.262 2.4682 9.73657 1.84558 8.9659C1.19982 8.20065 0.851337 7.22839 0.863948 6.22717V6.17375C1.46108 6.50761 2.13002 6.69231 2.81386 6.71214C2.22898 6.32356 1.74879 5.79693 1.4157 5.17875C1.07204 4.55161 0.894196 3.84712 0.899006 3.13201C0.895834 2.37167 1.09768 1.62454 1.48331 0.969237C2.55642 2.28899 3.8925 3.37092 5.40652 4.1462C6.94068 4.93852 8.62819 5.3893 10.3531 5.46757C10.2773 5.14646 10.2394 4.81754 10.2404 4.4876C10.2317 3.9212 10.3391 3.35902 10.556 2.83573C10.7729 2.31244 11.0948 1.83914 11.5017 1.44503C11.9095 1.03686 12.3953 0.714822 12.9301 0.498047C13.4648 0.281272 14.0377 0.174182 14.6147 0.183136C15.1916 0.19209 15.7609 0.316906 16.2887 0.550171C16.8165 0.783436 17.292 1.12039 17.687 1.54102C18.6506 1.35139 19.5744 0.997605 20.4182 0.495114C20.1111 1.49929 19.4357 2.35027 18.5276 2.87742C19.3808 2.77678 20.2142 2.54887 21 2.20129Z" fill="#D92626" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="w-6 inline-block" href="#">
                                   @* <img src="/ArefSet/src/assets/images/landing/__TEMP__SVG__ (2).png"
                                         alt="" />*@
                                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.40152 0.545898C3.44573 0.548981 2.52998 0.930091 1.85421 1.60602C1.17844 2.28195 0.797539 3.19779 0.794678 4.15358V15.3472C0.797541 16.3031 1.17858 17.219 1.85456 17.8948C2.53053 18.5706 3.4465 18.9514 4.40236 18.9541H15.596C16.5518 18.9514 17.4677 18.5706 18.1435 17.8947C18.8194 17.2189 19.2002 16.303 19.2029 15.3472V4.15358C19.2002 3.19772 18.8194 2.28175 18.1436 1.60578C17.4678 0.929802 16.5519 0.548762 15.596 0.545898H4.40152ZM5.30887 3.58346C5.50881 3.56813 5.70975 3.59443 5.899 3.66071C6.08826 3.727 6.2617 3.83181 6.40838 3.96854C6.55506 4.10527 6.67179 4.27094 6.75118 4.45508C6.83057 4.63922 6.8709 4.83783 6.86963 5.03835C6.86836 5.23887 6.8255 5.43694 6.74378 5.62006C6.66205 5.80317 6.54323 5.96734 6.39482 6.1022C6.24642 6.23705 6.07165 6.33966 5.88157 6.40353C5.69149 6.4674 5.49023 6.49115 5.2905 6.47328H5.27297C5.07393 6.48566 4.87448 6.45683 4.68709 6.38858C4.49971 6.32033 4.32843 6.21414 4.18397 6.07666C4.03951 5.93917 3.92499 5.77334 3.84757 5.58956C3.77014 5.40577 3.73149 5.20799 3.73403 5.00858C3.73656 4.80917 3.78023 4.61243 3.8623 4.43067C3.94436 4.24891 4.06306 4.08605 4.21097 3.95228C4.35887 3.81851 4.5328 3.7167 4.72186 3.65324C4.91092 3.58978 5.11021 3.56602 5.30887 3.58346ZM13.5059 7.42319C15.3356 7.42319 16.7062 8.61852 16.7062 11.1886V15.9808H13.9266V11.5067C13.9266 10.3823 13.5242 9.61518 12.5184 9.61518C12.2049 9.61714 11.8996 9.71585 11.6442 9.89782C11.3889 10.0798 11.196 10.3361 11.0918 10.6319C11.0203 10.8506 10.9892 11.0806 11 11.3105V15.985H8.21788C8.21788 15.985 8.25461 8.40483 8.21788 7.62019H10.9984V8.80216C11.2498 8.36525 11.6162 8.00558 12.0577 7.76219C12.4991 7.51879 12.9988 7.40098 13.5025 7.42153L13.5059 7.42319ZM3.90069 7.61685H6.68032V15.9808H3.90069V7.61685Z" fill="#252525" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="w-6 inline-block" href="#">
                                   @* <img src="/ArefSet/src/assets/images/landing/icons8-instagram-32.png"
                                         alt="" />*@
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.5399 4.21523H16.2961C16.8819 4.22213 17.4619 4.33175 18.0098 4.5391C18.4087 4.69488 18.7711 4.93157 19.0741 5.23426C19.377 5.53695 19.6141 5.89908 19.7702 6.29786C19.9778 6.84541 20.0874 7.42519 20.0941 8.01072C20.1409 8.98234 20.1409 9.30621 20.1409 11.7595C20.1409 14.2127 20.1409 14.5366 20.0949 15.5082C20.0882 16.0937 19.9786 16.6735 19.7711 17.2211C19.6149 17.6199 19.3779 17.982 19.0749 18.2847C18.7719 18.5874 18.4096 18.824 18.0106 18.9798C17.4627 19.1872 16.8827 19.2968 16.297 19.3037H8.7836C8.19782 19.2968 7.6178 19.1872 7.06991 18.9798C6.67098 18.824 6.30862 18.5874 6.00564 18.2847C5.70267 17.982 5.46564 17.6199 5.30947 17.2211C5.10193 16.6735 4.99231 16.0937 4.9856 15.5082C4.94386 14.5333 4.94386 14.2085 4.94386 11.7561C4.94386 9.30371 4.94386 8.979 4.98977 8.00738C4.99648 7.42186 5.10611 6.84207 5.31365 6.29452C5.46972 5.89582 5.70662 5.53374 6.00945 5.23106C6.31227 4.92837 6.67447 4.69164 7.07325 4.53576C7.62029 4.32993 8.19914 4.22145 8.7836 4.21523H12.5399ZM12.5399 2.54578H8.74102C7.96874 2.57853 7.20482 2.71901 6.47141 2.96314C5.85336 3.22636 5.29995 3.62084 4.84954 4.11923C4.36459 4.56188 3.99814 5.11887 3.7836 5.73943C3.49887 6.46284 3.34211 7.23026 3.32032 8.00738C3.27441 8.979 3.27441 9.30704 3.27441 11.802C3.27441 14.297 3.27441 14.6251 3.32032 15.5975C3.34211 16.3747 3.49887 17.1421 3.7836 17.8655C3.9979 18.4859 4.36406 19.0429 4.8487 19.4857C5.2919 19.97 5.84913 20.3358 6.46974 20.5499C7.19383 20.8342 7.96176 20.9907 8.73936 21.0124H16.3353C17.1129 20.9907 17.8809 20.8342 18.605 20.5499C19.2256 20.3358 19.7828 19.97 20.226 19.4857C20.7083 19.0314 21.0875 18.4789 21.3379 17.8655C21.5821 17.1327 21.7226 16.3693 21.7552 15.5975C21.8011 14.6259 21.8011 14.302 21.8011 11.802C21.8011 9.30204 21.8011 8.979 21.7552 8.00654C21.7226 7.23479 21.5821 6.4714 21.3379 5.7386C21.0875 5.12516 20.7083 4.57264 20.226 4.1184C19.7722 3.63709 19.2206 3.25854 18.6083 3.00821C17.8749 2.76408 17.111 2.6236 16.3387 2.59085H12.5399" fill="#252525" />
                                        <path d="M12.392 7.00073C11.47 7.00073 10.5687 7.27415 9.80201 7.78641C9.03536 8.29867 8.43782 9.02677 8.08497 9.87862C7.73212 10.7305 7.6398 11.6678 7.81968 12.5722C7.99956 13.4765 8.44357 14.3072 9.09555 14.9592C9.74754 15.6111 10.5782 16.0551 11.4825 16.235C12.3869 16.4149 13.3242 16.3226 14.1761 15.9697C15.0279 15.6169 15.756 15.0194 16.2683 14.2527C16.7806 13.4861 17.054 12.5847 17.054 11.6627C17.054 10.4262 16.5628 9.24046 15.6885 8.36618C14.8142 7.4919 13.6285 7.00073 12.392 7.00073ZM12.392 14.6952C11.7923 14.6952 11.2059 14.5174 10.7072 14.1841C10.2085 13.8509 9.81985 13.3773 9.59033 12.8232C9.3608 12.2691 9.30075 11.6593 9.41776 11.071C9.53477 10.4828 9.82359 9.94244 10.2477 9.51833C10.6718 9.09422 11.2122 8.8054 11.8004 8.68838C12.3887 8.57137 12.9984 8.63143 13.5525 8.86095C14.1067 9.09048 14.5803 9.47917 14.9135 9.97787C15.2467 10.4766 15.4246 11.0629 15.4246 11.6627C15.4246 12.467 15.1051 13.2383 14.5364 13.807C13.9677 14.3757 13.1963 14.6952 12.392 14.6952Z" fill="#252525" />
                                        <path d="M18.6972 7.10335C18.6972 7.40547 18.6076 7.70081 18.4397 7.95201C18.2719 8.20321 18.0333 8.399 17.7542 8.51462C17.4751 8.63024 17.1679 8.66049 16.8716 8.60155C16.5753 8.54261 16.3031 8.39712 16.0895 8.18349C15.8759 7.96986 15.7304 7.69768 15.6714 7.40136C15.6125 7.10505 15.6428 6.79791 15.7584 6.51879C15.874 6.23966 16.0698 6.00109 16.321 5.83324C16.5722 5.66539 16.8675 5.57581 17.1696 5.57581C17.5748 5.57581 17.9633 5.73674 18.2498 6.02321C18.5362 6.30968 18.6972 6.69822 18.6972 7.10335Z" fill="#252525" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="w-6 inline-block" href="#">
                                   @* <img src="/ArefSet/src/assets/images/landing/icons8-whatsapp-32.png"
                                         alt="" />*@
                                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.1494 3.91139C15.8952 2.65129 14.2955 1.79143 12.5526 1.44057C10.8097 1.08971 9.00191 1.2636 7.35784 1.94026C5.71377 2.61692 4.3073 3.76595 3.31631 5.24202C2.32532 6.71809 1.79433 8.45489 1.7905 10.2328C1.77099 11.8062 2.18792 13.3543 2.99501 14.7052L1.70703 19.3496L6.48082 18.1025C7.79795 18.8249 9.2792 19.1953 10.7813 19.1777C12.5534 19.1855 14.2878 18.6668 15.7647 17.6874C17.2415 16.708 18.3941 15.312 19.0763 13.6765C19.7586 12.041 19.9396 10.2397 19.5966 8.50117C19.2535 6.76262 18.4018 5.16514 17.1494 3.91139ZM10.7813 17.6727C9.33061 17.6829 7.90927 17.2638 6.69618 16.4682L3.85812 17.2419L4.62857 14.494C3.77289 13.238 3.30818 11.7567 3.29301 10.2369C3.28458 8.75526 3.71624 7.30443 4.53328 6.06836C5.35033 4.83229 6.51596 3.86662 7.88244 3.29375C9.24892 2.72089 10.7547 2.56662 12.209 2.85051C13.6632 3.1344 15.0004 3.84366 16.0511 4.88838C17.1019 5.93311 17.8187 7.26627 18.1109 8.71888C18.4031 10.1715 18.2574 11.6781 17.6924 13.0479C17.1273 14.4176 16.1683 15.5887 14.9369 16.4128C13.7055 17.2369 12.2572 17.6768 10.7755 17.6768L10.7813 17.6727Z" fill="#252525" />
                                        <path d="M14.8661 12.1254C14.3678 11.8468 13.851 11.6025 13.3194 11.3942C13.1474 11.3107 12.9755 11.2648 12.8461 11.4777C12.7167 11.6905 12.2443 12.2089 12.1149 12.3808C12.0567 12.4476 11.9751 12.4894 11.8869 12.4975C11.7988 12.5055 11.7109 12.4793 11.6416 12.4242C10.9825 12.1524 10.3723 11.7746 9.83525 11.3057C9.34204 10.8571 8.92135 10.3348 8.58817 9.7573C8.5643 9.72398 8.54748 9.68614 8.53873 9.64609C8.52999 9.60604 8.52951 9.56463 8.53733 9.52439C8.54514 9.48415 8.56108 9.44592 8.58418 9.41206C8.60727 9.37819 8.63703 9.34939 8.67164 9.32742L9.01555 8.89754C9.10255 8.79317 9.175 8.67748 9.23091 8.55363C9.2649 8.49475 9.2828 8.42796 9.2828 8.35998C9.2828 8.29199 9.2649 8.2252 9.23091 8.16632C9.14743 8.03694 8.71505 6.96181 8.54309 6.48936C8.37114 6.0169 8.15578 6.10205 8.02723 6.10205H7.59735C7.48023 6.1004 7.36443 6.12691 7.2597 6.17935C7.15497 6.23179 7.06436 6.30862 6.99551 6.40338C6.73906 6.63613 6.53683 6.92236 6.40313 7.24184C6.26942 7.56132 6.2075 7.90626 6.22172 8.2523C6.29673 9.09629 6.60994 9.90161 7.1249 10.5745C8.09778 11.9972 9.41423 13.1511 10.9521 13.9293C11.3658 14.1287 11.798 14.2872 12.2426 14.4025C12.7002 14.554 13.1895 14.5828 13.6616 14.486C13.9723 14.4339 14.268 14.3148 14.528 14.1369C14.7881 13.959 15.0063 13.7267 15.1675 13.456C15.3224 13.1201 15.3676 12.7439 15.2968 12.3808C15.1808 12.256 15.0317 12.1666 14.867 12.1229L14.8661 12.1254Z" fill="#252525" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="my-5">
                <p class="text-[#252525] text-[24px]" style="font-family: yekanBakhtSemiBold">
                    @Model.ProductTitle
                </p>
            </div>

            <p class="text-[#7E8285] font-normal text-[14px] leading-7" style="font-family: yekanBakhtSemiBold">
                @Model.ShortDescription
            </p>

            <div class="inline-block my-5">
                <p class="text-[#7E8285] text-[16px]">

                    <strong class="text-[#D92626] text-[24px]" style="font-family: yekanBakhtBold">
                        @Model.Price.ToString("#,000")
                    </strong>

                    ریال
                </p>

                @if (Model.OldPrice.HasValue)
                {
                    <p class="line-through text-[#7E8285] text-[16px]">
                        @Model.OldPrice.Value.ToString("#,000") ریال
                    </p>
                }

            </div>

            <form asp-action="AddToShopCart" asp-controller="Order" asp-area="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="@Model.ProdcutId" />
                <input type="hidden" name="Count" id="resultHidden" />
                <input type="hidden" name="selectColor" id="selectColor" />

                <div>
                    <p class="text-[#252525] text-[16px]" style="font-family: yekanBakhtSemiBold">
                        رنگ موجود:
                    </p>

                    <div class="flex justify-start items-center flex-wrap gap-5 mt-3">
                        @if (Model.ProductColors != null && Model.ProductColors.Any())
                        {
                            foreach (var color in Model.ProductColors)
                            {
                                <div onclick="ChangeColor(@color.Id)" class="color flex items-center">
                                    <input type="radio" checked="" id="rad@(color.Id)" class="hidden" value="@color.Id">
                                    <label for="rad@(color.Id)" class="content inline-block w-[24px] h-[24px] lg:w-[32px] lg:h-[32px] bg-[@color.ColorCode] border-2"></label>
                                    <span class="mr-1 text-[#7E8285] text-[12px] lg:text-[14px] ms-3">@color.ColorFarsiTitle</span>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="my-5">
                    <p class="text-[#252525] text-[16px]" style="font-family: yekanBakhtSemiBold">
                        سایز موجود:
                    </p>

                    <div class="flex justify-start flex-wrap items-center gap-3 lg:gap-5 mt-3">

                        @if (Model.ProductsSizes != null && Model.ProductsSizes.Any())
                        {
                            foreach (var size in Model.ProductsSizes)
                            {
                                <div style="cursor:pointer" class="size flex items-center">
                                    <input type="radio" name="selectSize" value="@size.Id" id="size@(size.Id)" checked="" class="hidden">
                                    <label for="size@(size.Id)" class="inline-block h-[31px] px-10 border-2 lg:mr-1 text-[#7E8285] text-[12px] lg:text-[14px] flex justify-center items-center">@size.SizeTitle</label>
                                </div>
                            }
                        }

                    </div>
                </div>

                <div class="mb-5">
                    <p class="text-[#252525] text-[16px]" style="font-family: yekanBakhtSemiBold">
                        تعداد :
                    </p>
                    <div class="border-2 w-[147px] h-[46px] mt-2 text-[20px] flex items-center justify-around gap-2">
                        <p style="cursor:pointer" id="addCount">+</p>
                        <p id="result">1</p>
                        <p style="cursor:pointer" id="removeCount">-</p>
                    </div>
                </div>

                <div class="lg:flex lg:justify-start lg:flex-row lg:items-center flex justify-center flex-col items-start my-4 lg:my-auto mt-3">
                    <button class="text-[16px] text-white bg-[#D92626] lg:w-[224px] h-[45px] flex items-center justify-center gap-1 px-3 lg:px-auto mb-5 lg:mb-auto">
                        @*<img src="/ArefSet/src/assets/images/landing/Group 44847.png" alt="">*@
                        <svg width="24" height="24"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9751 16.0441L19.9914 6.73557C19.7715 4.65631 18.0182 3.07812 15.9273 3.07812H8.06656C5.97466 3.07812 4.22037 4.65728 4.00243 6.73751L3.02458 16.047C2.75117 18.6516 4.79346 20.9197 7.41175 20.9197H16.5879C19.2082 20.9197 21.2504 18.6497 20.9751 16.0441Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.0973 7.70312C15.0973 9.41363 13.7108 10.8011 11.9993 10.8011C10.2888 10.8011 8.90234 9.41363 8.90234 7.70312" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        افزودن به سبد خرید
                    </button>
                    <div class="lg:flex lg:justify-start lg:items-center flex justify-center items-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (ViewBag.IsFavoriteProduct == true)
                            {
                                <a asp-action="AddOrRemoveProductToTheFavorite" asp-area="" asp-controller="Products" asp-route-productId="@Model.ProdcutId" class="flex items-center justify-center gap-1 text-[15px] lg:text-[16px] text-[#7E8285] border-l-[1px] lg:px-8 px-5 pr-0 border-[#7E8285]">
                                    <div class="text-[#7E8285]">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill likeBtn text-red-500" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                                        </svg>
                                    </div>
                                    حذف از علاقه مندی
                                </a>
                            }
                            else
                            {
                                <a asp-action="AddOrRemoveProductToTheFavorite" asp-area="" asp-controller="Products" asp-route-productId="@Model.ProdcutId" class="flex items-center justify-center gap-1 text-[15px] lg:text-[16px] text-[#7E8285] border-l-[1px] lg:px-8 px-5 pr-0 border-[#7E8285]">
                                    @* <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/heartt.png" alt="">*@
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5166 17.3416C10.2333 17.4416 9.76662 17.4416 9.48329 17.3416C7.06663 16.5166 1.66663 13.0749 1.66663 7.24158C1.66663 4.66658 3.74163 2.58325 6.29996 2.58325C7.81662 2.58325 9.15829 3.31659 9.99996 4.44992C10.8416 3.31659 12.1916 2.58325 13.7 2.58325C16.2583 2.58325 18.3333 4.66658 18.3333 7.24158C18.3333 13.0749 12.9333 16.5166 10.5166 17.3416Z" stroke="#7E8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    افزودن به علاقه مندی
                                </a>
                            }
                        }
                        else
                        {
                            <a asp-action="AddOrRemoveProductToTheFavorite" asp-area="" asp-controller="Products" asp-route-productId="@Model.ProdcutId" class="flex items-center justify-center gap-1 text-[15px] lg:text-[16px] text-[#7E8285] border-l-[1px] lg:px-8 px-5 pr-0 border-[#7E8285]">
                                @* <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/heartt.png" alt="">*@
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5166 17.3416C10.2333 17.4416 9.76662 17.4416 9.48329 17.3416C7.06663 16.5166 1.66663 13.0749 1.66663 7.24158C1.66663 4.66658 3.74163 2.58325 6.29996 2.58325C7.81662 2.58325 9.15829 3.31659 9.99996 4.44992C10.8416 3.31659 12.1916 2.58325 13.7 2.58325C16.2583 2.58325 18.3333 4.66658 18.3333 7.24158C18.3333 13.0749 12.9333 16.5166 10.5166 17.3416Z" stroke="#7E8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                                افزودن به علاقه مندی
                            </a>
                        }

                        <p class="flex items-center justify-center gap-1 text-[15px] lg:text-[16px] text-[#7E8285] lg:px-8 px-5 pl-0">
                            @*<img class="w-[20px]" src="/ArefSet/src/assets/images/landing/book.png" alt="">*@
                            <svg width="20" height="20" class="w-[20px]" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.3333 13.9501V3.89174C18.3333 2.89174 17.5166 2.15008 16.525 2.23341H16.475C14.725 2.38341 12.0666 3.27508 10.5833 4.20841L10.4416 4.30008C10.2 4.45008 9.79996 4.45008 9.55829 4.30008L9.34996 4.17508C7.86663 3.25008 5.21663 2.36674 3.46663 2.22508C2.47496 2.14174 1.66663 2.89174 1.66663 3.88341V13.9501C1.66663 14.7501 2.31663 15.5001 3.11663 15.6001L3.35829 15.6334C5.16663 15.8751 7.95829 16.7917 9.55829 17.6667L9.59162 17.6834C9.81662 17.8084 10.175 17.8084 10.3916 17.6834C11.9916 16.8001 14.7916 15.8751 16.6083 15.6334L16.8833 15.6001C17.6833 15.5001 18.3333 14.7501 18.3333 13.9501Z" stroke="#7E8285" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10 4.57495V17.075" stroke="#7E8285" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.45837 7.07495H4.58337" stroke="#7E8285" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.08337 9.57495H4.58337" stroke="#7E8285" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            راهنمای اندازه
                        </p>
                    </div>
                    
                </div>

            </form>

        </div>
    </section>

    <section class="mx-auto lg:mt-20 mt-8 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <div class="tabset singlePageTab max-w-[99%] lg:max-w-[86.5em] mx-auto">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="singlePagetab1" aria-controls="describtion" checked="">
            <label for="singlePagetab1" class="text-[13px] lg:text-[20px] !pb-3 px-2 lg:px-7 gap-1 ">
                @*<img class="inline-block" src="/ArefSet/src/assets/images/landing/brush.png" alt="">*@
                <svg width="20" height="20" class="inline-block" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.69171 15.3084C8.56671 15.3084 8.45005 15.2751 8.34171 15.2001C8.16671 15.0834 8.06671 14.8918 8.06671 14.6834C8.06671 14.5584 8.05838 14.4251 8.04171 14.2918C7.96671 13.7001 7.70005 13.1834 7.25005 12.7334C6.80005 12.2834 6.24171 12.0001 5.64171 11.9251C5.54171 11.9168 5.40005 11.9084 5.26671 11.9168C5.05005 11.9334 4.85005 11.8418 4.72505 11.6668C4.60005 11.5001 4.56671 11.2751 4.63338 11.0751C4.75838 10.7334 4.94171 10.4251 5.15838 10.1751L6.44171 8.55843C8.65005 5.8001 13.125 2.48343 16.4 1.16676C17.0917 0.900098 17.8334 1.05843 18.3417 1.55843C18.8667 2.08343 19.025 2.83343 18.75 3.51676C17.4334 6.8001 14.125 11.2668 11.3667 13.4751L9.72505 14.7918C9.41671 15.0168 9.16671 15.1584 8.91671 15.2584C8.85005 15.2918 8.76671 15.3084 8.69171 15.3084ZM6.28338 10.7834C6.98338 10.9668 7.60838 11.3334 8.13338 11.8584C8.65838 12.3751 9.00838 12.9751 9.18338 13.6418L10.5917 12.5084C13.2084 10.4168 16.35 6.1751 17.5917 3.05843C17.7167 2.7501 17.5417 2.53343 17.4584 2.45843C17.4 2.4001 17.1834 2.21676 16.85 2.34176C13.75 3.59176 9.50838 6.73343 7.40838 9.3501L6.28338 10.7834Z" fill="#252525" />
                    <path d="M3.39997 18.9583C2.77497 18.9583 2.17497 18.7083 1.72497 18.2583C1.2083 17.7416 0.958303 17.025 1.04164 16.2916L1.26664 14.2416C1.4833 12.2083 3.14997 10.7 5.21664 10.6583C5.37497 10.65 5.5833 10.6583 5.77497 10.675C6.6833 10.7916 7.49164 11.2 8.14164 11.85C8.7833 12.4916 9.16664 13.2583 9.2833 14.1166C9.3083 14.3 9.32497 14.5 9.32497 14.675C9.32497 15.775 8.89997 16.8 8.1333 17.575C7.49164 18.2083 6.66664 18.6 5.7333 18.7166L3.67497 18.9416C3.5833 18.95 3.49164 18.9583 3.39997 18.9583ZM5.37497 11.9166C5.34164 11.9166 5.29997 11.9166 5.26664 11.9166C4.0083 11.9416 2.67497 12.8 2.5083 14.3833L2.2833 16.4333C2.24164 16.7833 2.36664 17.125 2.6083 17.375C2.84997 17.6166 3.19164 17.7416 3.5333 17.7L5.5833 17.475C6.22497 17.3916 6.79997 17.125 7.2333 16.6916C7.76664 16.1583 8.06664 15.4416 8.06664 14.675C8.06664 14.55 8.0583 14.4166 8.04164 14.2833C7.96664 13.6916 7.69997 13.175 7.24997 12.725C6.79997 12.275 6.24164 11.9916 5.64164 11.9166C5.57497 11.9166 5.47497 11.9166 5.37497 11.9166Z" fill="#252525" />
                    <path d="M11.8667 12.6834C11.525 12.6834 11.2417 12.4 11.2417 12.0584C11.2417 10.225 9.75005 8.7417 7.92505 8.7417C7.58338 8.7417 7.30005 8.45837 7.30005 8.1167C7.30005 7.77503 7.57505 7.4917 7.91672 7.4917C10.4334 7.4917 12.4834 9.5417 12.4834 12.0584C12.4917 12.4084 12.2084 12.6834 11.8667 12.6834Z" fill="#252525" />
                </svg>
                توضیحات
            </label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="singlePagetab2" aria-controls="details">
            <label for="singlePagetab2" class="text-[13px] lg:text-[20px] !pb-3 px-2 lg:px-7 gap-1 ">
                @*<img class="inline-block" src="/ArefSet/src/assets/images/landing/message-text.png" alt="">*@
                <svg width="20" height="20" class="inline-block" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.3333 18.9584H2.49996C1.69996 18.9584 1.04163 18.3001 1.04163 17.5001V6.66675C1.04163 2.98341 2.98329 1.04175 6.66663 1.04175H13.3333C17.0166 1.04175 18.9583 2.98341 18.9583 6.66675V13.3334C18.9583 17.0167 17.0166 18.9584 13.3333 18.9584ZM6.66663 2.29175C3.68329 2.29175 2.29163 3.68341 2.29163 6.66675V17.5001C2.29163 17.6167 2.38329 17.7084 2.49996 17.7084H13.3333C16.3166 17.7084 17.7083 16.3167 17.7083 13.3334V6.66675C17.7083 3.68341 16.3166 2.29175 13.3333 2.29175H6.66663Z" fill="#7E8285" />
                    <path d="M14.1667 8.54175H5.83337C5.49171 8.54175 5.20837 8.25841 5.20837 7.91675C5.20837 7.57508 5.49171 7.29175 5.83337 7.29175H14.1667C14.5084 7.29175 14.7917 7.57508 14.7917 7.91675C14.7917 8.25841 14.5084 8.54175 14.1667 8.54175Z" fill="#7E8285" />
                    <path d="M11.6667 12.7083H5.83337C5.49171 12.7083 5.20837 12.4249 5.20837 12.0833C5.20837 11.7416 5.49171 11.4583 5.83337 11.4583H11.6667C12.0084 11.4583 12.2917 11.7416 12.2917 12.0833C12.2917 12.4249 12.0084 12.7083 11.6667 12.7083Z" fill="#7E8285" />
                </svg>
                مشخصات
            </label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="singlePagetab3" aria-controls="idea">
            <label for="singlePagetab3" class="text-[13px] md:text-[18px] lg:text-[20px] !pb-3 px-2 lg:px-7 gap-1 " style="font-family: yekanBakhtRegular">
               @* <img class="inline-block" src="/ArefSet/src/assets/images/landing/messages-2.png" alt="">*@
                <svg width="20" height="20" class="inline-block" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8917 18.225C14.6334 18.225 14.3751 18.1584 14.1417 18.0167L10.8001 16.0334C10.4501 16.025 10.1001 16.0001 9.76673 15.9501C9.54173 15.9167 9.35006 15.7667 9.26673 15.55C9.18339 15.3334 9.22506 15.1 9.37506 14.925C9.92506 14.2834 10.2084 13.5167 10.2084 12.7C10.2084 10.6834 8.4334 9.04169 6.25006 9.04169C5.4334 9.04169 4.65006 9.26672 3.99172 9.70005C3.80839 9.81672 3.58339 9.83338 3.38339 9.74171C3.19173 9.65004 3.05007 9.46669 3.02507 9.25002C3.00007 9.01669 2.9834 8.78337 2.9834 8.54171C2.9834 4.40837 6.56673 1.05005 10.9667 1.05005C15.3667 1.05005 18.9501 4.40837 18.9501 8.54171C18.9501 10.8084 17.9001 12.8917 16.0501 14.3167L16.3334 16.5834C16.4001 17.1501 16.1501 17.6834 15.6751 17.9917C15.4417 18.1417 15.1667 18.225 14.8917 18.225ZM10.9584 14.775C11.0751 14.7667 11.1917 14.8001 11.2917 14.8667L14.7834 16.9417C14.8751 17.0001 14.9501 16.9751 15.0001 16.9417C15.0417 16.9167 15.1084 16.8501 15.0917 16.7334L14.7667 14.1C14.7417 13.8667 14.8417 13.6417 15.0251 13.5084C16.7251 12.3167 17.7001 10.5 17.7001 8.52502C17.7001 5.08336 14.6834 2.28337 10.9667 2.28337C7.39173 2.28337 4.45839 4.8834 4.24173 8.15006C4.86673 7.9084 5.54173 7.77505 6.24173 7.77505C9.11673 7.77505 11.4501 9.97502 11.4501 12.6833C11.4584 13.4167 11.2834 14.125 10.9584 14.775Z" fill="#7E8285" />
                    <path d="M3.81648 18.9584C3.59981 18.9584 3.39147 18.9001 3.19981 18.7751C2.82481 18.5334 2.62481 18.1168 2.67481 17.6751L2.84148 16.3917C1.71648 15.4751 1.0498 14.1167 1.0498 12.6917C1.0498 11.0667 1.89981 9.55009 3.32481 8.64175C4.18315 8.08342 5.1998 7.78345 6.25814 7.78345C9.13314 7.78345 11.4665 9.98341 11.4665 12.6917C11.4665 13.7917 11.0665 14.8751 10.3331 15.7334C9.39147 16.8751 7.98314 17.5417 6.43314 17.5917L4.39981 18.8001C4.21647 18.9084 4.01648 18.9584 3.81648 18.9584ZM6.24981 9.03345C5.43314 9.03345 4.6498 9.25843 3.99147 9.69176C2.9248 10.3751 2.29148 11.4917 2.29148 12.6917C2.29148 13.8501 2.85815 14.9084 3.85815 15.5918C4.04981 15.7251 4.14981 15.9501 4.12481 16.1834L3.94147 17.6084L5.93314 16.4251C6.03314 16.3668 6.14148 16.3334 6.24981 16.3334C7.47481 16.3334 8.63315 15.8084 9.36648 14.9168C9.91648 14.2668 10.2081 13.5001 10.2081 12.6834C10.2081 10.6751 8.43314 9.03345 6.24981 9.03345Z" fill="#7E8285" />
                </svg>

                نظرات (@((Model.Comments != null && Model.Comments.Any()) ? Model.Comments.Count() : 0))
            </label>


            <div class="tab-panels">
                <section id="describtion" class="tab-panel border-2 text-right  !p-4 !px-6">
                    <p class="text-[16px] lg:text-[22px] my-2">
                        <strong class="" style="font-family: yekanBakhtBlack">معرفی</strong>
                    </p>
                    <p class="text-[14px] lg:text-[16px] !text-[#494949] !leading-[26px] lg:!leading-[36px] break-all">
                        @Html.Raw(Model.LongDescription)
                    </p>
                    <!-- <div class=" shadow-lg w-[414px] h-[480px] col-span-1 md:col-span-1 lg:col-span-1"></div> -->
                </section>

                <section id="details" class="tab-panel border-2 text-right  !p-4 !px-6">
                    <p class="text-[16px] lg:text-[22px] my-2">
                        <strong class="" style="font-family: yekanBakhtBlack">ویژگی ها </strong>
                    </p>
                    <p class="text-[14px] lg:text-[16px] text-[#494949] leading-[26px] lg:leading-[36px] break-all">
                        <table class="table">
                            <tbody>
                                @foreach (var item in Model.ProductFeatures)
                                {
                                    <tr>
                                        <td>@item.FeatureTitle </td>
                                        <td class="text-muted">@item.FeatureValue</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </p>

                    <!-- <div class=" shadow-lg w-[414px] h-[480px] col-span-1 md:col-span-1 lg:col-span-1"></div> -->
                </section>

                <section id="idea" class="tab-panel border-2 text-right  !p-4 !px-6">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="commentArticle" class="w-full h-auto p-3 lg:p-7 mt-1 bg-[#EDEDED] rounded flex flex-col items-start">
                            <div class="flex flex-col justify-start items-start">
                                <p class="text-[#252525] text-[14px] leading-[21.7px] lg:text-[16px] lg:leading-[24.8px]" style="font-family: yekanBakhtRegular">
                                    ارسال یک دیدگاه
                                </p>
                            </div>

                            <div class="w-full mt-5 lg:mt-10">
                                <form asp-action="AddCommentForProducts" asp-controller="Products" asp-area="" method="post" class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-3">

                                    <input name="ParentId" id="ParentId" type="hidden" value="" />
                                    <input name="BlogId" type="hidden" value="@Model.ProdcutId" />

                                    <div class="col-span-1 md:col-span-2 lg:col-span-2 h-[54px]">
                                        <input type="text" readonly value="@User.Identity.Name" class="w-full h-full focus:outline-none px-3 bg-white rounded text-[12px] leading-[21.7px] lg:text-[13px] lg:leading-[24.8px]" placeholder="نام و نام خانوادگی">
                                    </div>
                                    <div class="col-span-1 md:col-span-2 lg:col-span-2">
                                        <textarea name="CommentBody" class="w-full focus:outline-none px-3 text-[12px] p-3 leading-[21.7px] lg:text-[13px] lg:leading-[24.8px]" placeholder="دیدگاه خود را بنویسید" id="TextArea" rows="4"></textarea>
                                    </div>
                                    <div class="w-full lg:mt-7 col-span-1 md:col-span-2 lg:col-span-2 flex flex-col justify-center items-start lg:flex lg:flex-row lg:justify-between lg:items-center">

                                        <button class="bg-[#252525] mt-3 lg:mt-0 text-white text-[14px] w-[119px] h-[40px] lg:h-[50px]" type="submit">
                                            ارسال دیدگاه
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="w-full h-auto p-3 lg:p-7 mt-1 bg-[#EDEDED] rounded flex flex-col items-start">
                            <div class="flex flex-col justify-start items-start">

                                <p class="text-[#252525] text-[14px] leading-[21.7px] lg:text-[16px] lg:leading-[24.8px]" style="font-family: yekanBakhtRegular">
                                    برای درج نظر باید وارد وب سایت گردید
                                </p>

                            </div>
                        </div>
                    }

                    @if (Model.Comments != null && Model.Comments.Any())
                    {
                        <div class="w-full my-6">
                            @foreach (var comment in Model.Comments.Where(p => !p.ParentId.HasValue))
                            {
                                <div class="w-full pb-2  border-b-[1px] mb-7">

                                    <!--comment card -->
                                    <div class="w-full p-2 mb-3">
                                        <div class="flex items-start justify-between">
                                            <div class="flex items-center justify-center gap-2">
                                                <div class="w-[30px] h-[30px] lg:w-[51px] lg:h-[51px] rounded-full">
                                                    <img class="w-full h-full object-cover" src="/Images/UserAvatar/@comment.Users.UserAvatar" alt="">
                                                </div>
                                                <div class="">
                                                    <p class="text-[#565656] text-[12px] leading-[22.49px] lg:text-[14px] lg:leading-[26.24px]" style="font-family: yekanBakhtRegular">
                                                        @comment.Users.UserName
                                                    </p>
                                                    <p class="text-[#565656] text-[10px] leading-[18.74px] lg:text-[12px] lg:leading-[22.49px]" style="font-family: yekanBakhtLight">
                                                        @comment.CreateDate.ToShamsi()
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="flex items-center justify-center gap-1">
                                                <img class="w-[10px] h-[10px] lg:w-[12px] lg:h-[12px] object-cover" src="/ArefSet/src/assets/images/landing/Group 1.png" alt="">
                                                <p onclick="ReplyComment(@comment.CommentId)" class="text-[#89939F] text-[10px] leading-[18.74px] lg:text-[14px] lg:leading-[26.24px]" style="font-family: yekanBakhtRegular">
                                                    پاسخ
                                                </p>
                                            </div>
                                        </div>

                                        <div class="lg:mr-[51px] my-2">
                                            <p class="text-[#565656] text-[12px] leading-[22.49px] lg:text-[14px] lg:leading-[26.24px]" style="font-family: yekanBakhtRegular">
                                                @comment.CommentBody
                                            </p>
                                        </div>
                                    </div>

                                    @if (Model.Comments.Any(s => s.ParentId == comment.CommentId))
                                    {
                                        foreach (var answer in Model.Comments.Where(s => s.ParentId == comment.CommentId))
                                        {
                                            <!--answer card -->
                                            <div class="lg:w-[94.5%] bg-[#EDEDED] p-2 mr-[30px] lg:mr-[51px] rounded mb-3">
                                                <div class="flex items-start justify-between">
                                                    <div class="flex items-center justify-center gap-2">
                                                        <div class="w-[30px] h-[30px] lg:w-[51px] lg:h-[51px] rounded-full">
                                                            <img class="w-full h-full object-cover" src="/Images/UserAvatar/@answer.Users.UserAvatar" alt="">
                                                        </div>
                                                        <div class="">
                                                            <p class="text-[#565656] text-[12px] leading-[22.49px] lg:text-[14px] lg:leading-[26.24px]" style="font-family: yekanBakhtRegular">
                                                                @answer.Users.UserName
                                                            </p>
                                                            <p class="text-[#565656] text-[10px] leading-[18.74px] lg:text-[12px] lg:leading-[22.49px]" style="font-family: yekanBakhtLight">
                                                                @answer.CreateDate.ToShamsi()
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="lg:mr-[51px] my-2">
                                                    <p class="text-[#565656] text-[12px] leading-[22.49px] lg:text-[14px] lg:leading-[26.24px]" style="font-family: yekanBakhtRegular">
                                                        @answer.CommentBody
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    }


                                </div>

                            }
                        </div>
                    }
                </section>


            </div>
        </div>
    </section>

    @await Component.InvokeAsync("NewestProductsInProductPage")

</main>

@*<section class="mx-auto lg:mt-20 mt-5 px-5 lg:px-16 max-w-[99%] lg:max-w-[95em] fixed left-0 right-0 bottom-0 py-5 lg:py-9 drop-shadow-xl bg-[#EDEDED] flex justify-between items-center">
    <div class="lg:flex lg:items-center lg:gap-2 hidden">
        <div class="w-[65px] h-[65px]">
            <img class="w-full h-full" src="./assets/images/landing/men.png" alt="">
        </div>
        <p class="text-[20px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
            لباس زنانه رنگ زرد تیره
        </p>
    </div>

    <div class="flex items-center justify-between w-full lg:hidden gap-8">
        <div class="lg:flex lg:items-center lg:gap-2">
            <p class="text-[#7E8285] text-[16px]">
                <strong class="text-[#D92626] text-[20px]" style="font-family: yekanBakhtBold">
                    @Model.Price.ToString("#,000") ریال
                </strong>
            </p>
         
        </div>
            

       <form asp-action="AddToShopCart" asp-controller="Order" asp-area="" method="post" enctype="multipart/form-data">
            <button class="text-[14px] text-white bg-[#D92626] px-3 h-[40px] flex items-center justify-center gap-1">
                
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9751 16.0441L19.9914 6.73557C19.7715 4.65631 18.0182 3.07812 15.9273 3.07812H8.06656C5.97466 3.07812 4.22037 4.65728 4.00243 6.73751L3.02458 16.047C2.75117 18.6516 4.79346 20.9197 7.41175 20.9197H16.5879C19.2082 20.9197 21.2504 18.6497 20.9751 16.0441Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.0973 7.70312C15.0973 9.41363 13.7108 10.8011 11.9993 10.8011C10.2888 10.8011 8.90234 9.41363 8.90234 7.70312" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                افزودن به سبد خرید
            </button>
       </form>

       

      </div>
</section>*@

































