@model List<Domain.ViewModels.SiteSide.Home.LatestCategoriesWithImage>
@using Application.StaticTools

@if (Model != null && Model.Any())
{
    <section class="w-full my-36">
        <div class="max-w-[99%] lg:max-w-[86.5em] px-2 lg:px-0 h-auto mx-auto grid  grid-cols-2 md:grid-cols-2 lg:grid-cols-3 grid-row-4 md:grid-row-4 lg:grid-row-3 gap-2"
             dir="ltr">

            @foreach (var cat in Model)
            {
                <div class="@cat.Div">
                    <img class="w-full h-full object-cover" src="@PathTools.ProductCategoryPath@cat.ProductImage" alt="" />
                         
                    <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                        <p class="@cat.P">@cat.CategoryTitle</p>
                        <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@cat.CategoryId" class="my-3 mt-6 text-[12px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                            <img class="me-1 lg:me-3 w-4 lg:w-auto"
                                 src="/ArefSet/src/assets/images/landing/arrow-left.png"
                                 alt="" />
                            رفتن به فروشگاه
                        </a>
                    </div>
                </div>
            }


          
        </div>

    </section>
}


