@model List<Domain.ViewModels.SiteSide.Home.LastestsArefProducts>
@using Application.Convertors;
@using Application.StaticTools

<section class="w-full">
    <div class="flex items-center justify-center mb-5">
        <div class="mt-20 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]"
             style="
              background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
              background-position: center;
              background-size: cover;
            "> 
            <p class="text-[#252525] sm:text-[24px] md:text-[2.5rem] lg:text-[40px] mt-5 text-center"
               style="font-family: yekanBakhtExtraBold">
                جدیدترین های ما
            </p>
            <p class="text-[#7E8285] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[49.6px] text-center"
               style="font-family: yekanBakhtRegular">
                Aref's latest
            </p>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="tabset max-w-[99%] lg:max-w-[86.5em] mx-auto">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="allProduct" checked />

            <label for="tab1" class="text-[14px] lg:text-[24px]  pe-2 py-3 lg:p-7">همه محصولات</label>

            @{
                int x = 2;
            }

            @foreach (var category in Model.Where(p => p.ProdudctCategoryId.HasValue))
            {
                <input type="radio" name="tabset" id="tab@(x)" aria-controls="@category.ProdudctCategoryTitle" />
                <label for="tab@(x)" class="text-[14px] lg:text-[24px] px-2 py-3 lg:p-7 ">@category.ProdudctCategoryTitle</label>

                x++;
            }

            <div class="tab-panels">

                @if (Model.Any(p => p.ProdudctCategoryId == null))
                {
                    <section id="allProduct" class="tab-panel">
                        <div class="w-full m-auto grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">

                            @foreach (var item in Model.Where(p => p.ProdudctCategoryId == null).Select(p => p.LastestProducts).FirstOrDefault())
                            {
                                <div class="w-full transition-all duration-300 transform ease-linear transform hover:shadow-lg flex flex-col justify-between items-center shopCardHover">
                                    <div class="h-auto w-full  relative overflow-hidden productCardImg  transition-all duration-300 transform ease-linear">

                                        <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="transition-all">
                                            @* <img class="product-image  w-full h-full object-cover" src="@PathTools.ProductPath@item.ProductImageName" alt="@item.Title" />*@
                                            
                                            <span class="offer-card">25%</span>
                                            <img class="product-image w-full " src="https://arefset.com/@PathTools.ProductPath@item.ProductImageName" alt="@item.Title" />
                                            @*<img class="product-image  w-full h-full object-cover " src="/ArefSet/src/assets/images/landing/20.jpg" alt="@item.Title" />*@
                                            @if (!string.IsNullOrEmpty(item.SecondeProductImageName))
                                            {
                                                <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="https://arefset.com/@PathTools.ProductGalleryPath@item.SecondeProductImageName" title="@item.Title" alt="@item.Title" />
                                            }
                                        </a>

                                        <div class="transition-all opacity-0 absolute -bottom-10 left-0 right-0 w-full bg-[#252525] text-center py-1 lg:py-2 text-[#fff] addToCart text-[12px] lg:text-[16px]">

                                            <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()"  class="focus:outline-none bg-transparent w-full h-full">
                                                نمایش جزئیات
                                            </a>
                                        </div>
                                    </div>
                                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-end">
                                        <div class="w-full text-right inline-block lg:w-[283px]">
                                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                                همه ی محصولات 
                                            </p>
                                            <a style="font-family:yekanBakhtBold" asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="text-[#252525] text-[12px] lg:text-[17px] shopCardTitle">
                                                @item.Title
                                            </a>
                                        </div>
                                        <div class="w-full text-left">
                                            <p class="line-through text-[#B7B7B7] font-light text-[10px] lg:text-[14px] inline-block h-4">
                                                @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                            </p>
                                            <p class="text-[#D92626] font-bold text-[13px] lg:text-[16px]">
                                                @item.Price.ToString("#,000") ریال
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </section>

                }

                @if (Model.Any(p => p.ProdudctCategoryId.HasValue))
                {
                    foreach (var category in Model.Where(p => p.ProdudctCategoryId.HasValue))
                    {
                        <section id="@category.ProdudctCategoryTitle" class="tab-panel">
                            <div class="w-full m-auto grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">

                                @if (category.LastestProducts != null && category.LastestProducts.Any())
                                {
                                    foreach (var item in category.LastestProducts)
                                    {
                                        <div class="w-full transition-all duration-300 transform ease-linear transform hover:shadow-lg flex flex-col justify-between items-center shopCardHover">
                                            <div class="h-auto w-full  relative overflow-hidden productCardImg  transition-all duration-300 transform ease-linear">
                                                <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="transition-all block w-full h-full overflow-hidden relative">
                                                   @* <img class="product-image  w-full h-full object-cover absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductPath@item.ProductImageName" title="@item.Title" alt="@item.Title" />*@
                                                    @*<img class="product-image  w-full  " src="/ArefSet/src/assets/images/landing/20.jpg" alt="@item.Title" />*@
                                                    <img class="product-image  w-full  " src="@PathTools.ProductPath@item.ProductImageName" alt="@item.Title" />
                                                    @if (!string.IsNullOrEmpty(item.SecondeProductImageName))
                                                    {
                                                        <img class="product-image-hover w-full h-full object-cover  absolute top-0 right-0 left-0 bottom-0" src="@PathTools.ProductGalleryPath@item.SecondeProductImageName" title="@item.Title" alt="@item.Title" />
                                                    }
                                                </a>
                                                <div class="transition-all opacity-0 absolute -bottom-10 left-0 right-0 w-full bg-[#252525] text-center py-1 lg:py-2 text-[#fff] addToCart text-[12px] lg:text-[16px]">

                                                    <a asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="focus:outline-none bg-transparent w-full h-full">
                                                        نمایش جزئیات
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-end">
                                                <div class="text-right inline-block lg:w-[283px]">
                                                    <p  class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                                        @category.ProdudctCategoryTitle
                                                    </p>
                                                    <a style="font-family:yekanBakhtBold" asp-action="SinglePageProducts" asp-area="" asp-controller="Products" asp-route-id="@item.ProductId" asp-route-ProductTitle="@item.Title.FixTextForUrl()" class="text-[#252525] text-[12px] lg:text-[17px] shopCardTitle">
                                                        @item.Title
                                                    </a>
                                                </div>
                                                <div class="w-full text-left">
                                                    <p class="line-through text-[#B7B7B7] font-light text-[10px] lg:text-[14px] inline-block h-4">
                                                        @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                                    </p>
                                                    <p class="text-[#D92626] font-bold text-[13px] lg:text-[16px]">
                                                        @item.Price.ToString("#,000") ریال
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    }
                                }

                            </div>
                        </section>
                    }

                }

            </div>
        </div>

        <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto flex justify-center items-center lg:flex lg:justify-end lg:items-center">
            <a asp-action="ListOfProducts" asp-area="" asp-controller="Products" class="my-3 mt-6 relative hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                مشاهده همه
               @* <img class="ms-2"
                     src="/ArefSet/src/assets/images/landing/arrow-left.png"
                     alt="" />*@
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left ms-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>

            </a>
        </div>

    }

</section>



