@model List<Domain.ViewModels.SiteSide.Home.LastestsArefProducts>
@using Application.StaticTools

<section class="w-full">
    <div class="flex items-center justify-center mb-5">
        <div class="mt-32 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]"
             style="
              background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
              background-position: center;
              background-size: cover;
            ">
            <p class="text-[#252525] sm:text-[24px] md:text-[2.5rem] lg:text-[40px] mt-5 text-center"
               style="font-family: yekanBakhtExtraBold">
                جدیدترین های عارف
            </p>
            <p class="text-[#7E8285] font-medium text-[20px] md:text-[25px] lg:text-[32px] leading-[49.6px] text-center"
               style="font-family: yekanBakhtRegular">
                Aref's latest
            </p>
        </div>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="tabset max-w-[99%] lg:max-w-[86.5em] mx-auto">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="allProduct" checked />

            <label for="tab1" class="text-[14px] lg:text-[24px]">همه محصولات</label>

            @{
                int x = 2;
            }

            @foreach (var category in Model.Where(p => p.ProdudctCategoryId.HasValue))
            {
                <input type="radio" name="tabset" id="tab@(x)" aria-controls="@category.ProdudctCategoryTitle" />
                <label for="tab@(x)" class="text-[14px] lg:text-[24px]">@category.ProdudctCategoryTitle</label>

                x++;
            }

            <div class="tab-panels">

                @if (Model.Any(p => p.ProdudctCategoryId == null))
                {
                    <section id="allProduct" class="tab-panel">
                        <div class="w-full m-auto grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">

                            @foreach (var item in Model.Where(p => p.ProdudctCategoryId == null).Select(p => p.LastestProducts).FirstOrDefault())
                            {
                                <div class="transition-all transform hover:shadow-lg flex flex-col justify-start items-center">
                                    <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg">

                                        <img class="w-full h-full object-cover" src="@PathTools.ProductPathThumb@item.ProductImageName" alt="" />

                                        <div class="transition-all absolute w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] top-4 left-6 lg:top-6 lg:left-8 opacity-0 flex items-center justify-center bg-[#252525] text-center text-[#fff] likeProduct">
                                            <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="" />
                                        </div>
                                    </div>
                                    <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-center">
                                        <div class="text-right">
                                            <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                            </p>
                                            <p class="font-bold text-[14px] lg:text-[20px]">
                                                @item.Title
                                            </p>
                                        </div>
                                        <div class="text-left">
                                            <p class="line-through text-[#B7B7B7] font-light text-[11px] lg:text-[14px]">
                                                @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                            </p>
                                            <p class="text-[#D92626] font-bold text-[16px] lg:text-[20px]">
                                                @item.Price.ToString("#,000") ریال
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </section>

                }

                @if (Model.Any(p => p.ProdudctCategoryId.HasValue))
                {
                    foreach (var category in Model.Where(p => p.ProdudctCategoryId.HasValue))
                    {
                        <section id="@category.ProdudctCategoryTitle" class="tab-panel">
                            <div class="w-full m-auto grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">

                                @foreach (var item in category.LastestProducts)
                                {
                                    <div class="transition-all transform hover:shadow-lg flex flex-col justify-start items-center">
                                        <div class="h-[157px] w-full lg:h-[413px] relative overflow-hidden productCardImg">

                                            <img class="w-full h-full object-cover" src="@PathTools.ProductPathThumb@item.ProductImageName" alt="" />

                                            <div class="transition-all absolute w-[30px] h-[30px] lg:w-[48px] lg:h-[48px] top-4 left-6 lg:top-6 lg:left-8 opacity-0 flex items-center justify-center bg-[#252525] text-center text-[#fff] likeProduct">
                                                <img src="/ArefSet/src/assets/images/landing/heart.svg" alt="" />
                                            </div>
                                        </div>
                                        <div class="p-2 lg:p-3 w-full lg:flex lg:justify-between lg:items-center">
                                            <div class="text-right">
                                                <p class="text-[#7E8285] text-[10px] lg:text-[12px] font-normal leading-[15.5px] lg:leading-[18.6px]">
                                                    @category.ProdudctCategoryTitle
                                                </p>
                                                <p class="font-bold text-[14px] lg:text-[20px]">
                                                    @item.Title
                                                </p>
                                            </div>
                                            <div class="text-left">
                                                <p class="line-through text-[#B7B7B7] font-light text-[11px] lg:text-[14px]">
                                                    @((item.OldPrice.HasValue) ? $"{item.OldPrice.Value.ToString("#,000")} ریال" : " ")

                                                </p>
                                                <p class="text-[#D92626] font-bold text-[16px] lg:text-[20px]">
                                                    @item.Price.ToString("#,000") ریال
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </section>
                    }

                }



            </div>
        </div>



        <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto flex justify-center items-center lg:flex lg:justify-end lg:items-center">
            <a asp-action="Index" asp-area="" asp-controller="Products" class="my-3 mt-6 relative hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                مشاهده همه
                <img class="ms-2"
                     src="/ArefSet/src/assets/images/landing/arrow-left.png"
                     alt="" />

            </a>
        </div>

    }

</section>



