@using Application.StaticTools;
@model List<Domain.Models.Slider.Slider>


@if (Model != null && Model.Any())
{
    <!-- slider lg -->
    <div class="w-full bg-slate-400 h-[730px] relative">
        <div class="swiper mySwiper w-full lg:h-full" dir="rtl">
            <div class="swiper-wrapper w-full  mb-10 lg:mb-0">

                @foreach (var slider in Model)
                {
                    <div class="swiper-slide h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                         style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;">
                        <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                            <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                               style="font-family: yekanBakhtSemiBold">
                                @slider.FirstText
                            </p>
                            <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                                style="font-family: yekanBakhtBlack">
                                @slider.SecondeText
                            </h1>
                            <a href="@slider.Link" class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                                @slider.ThirdText
                                <img class="ms-2"
                                     src="/ArefSet/src/assets/images/landing/arrow-left.png"
                                     alt="" />
                            </a>
                        </div>
                        <div class="col-span-2 md:col-span-1 lg:col-span-1  lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                             style="
                  background-image: url(@PathTools.SliderPath@slider.SliderImageName);
                "></div>
                    </div>

                }

            </div>
            <!-- <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div> -->
            <div class="swiper-pagination !left-[50%] !-bottom-[1%] !-translate-y-[50%] !-translate-x-[50%] lg:!left-[3%] lg:!inline-block !transform lg:!-rotate-90 lg:!bottom-[10%] ml-4"></div>
        </div>
    </div>
}

